<mat-sidenav-container hasBackdrop="false">
	<mat-sidenav mode="over" autosize [(opened)]="sidenavOpen">
		<div class="m-3 d-flex align-items-center justify-content-between">
			<h4 class="mb-0">Filtrar por Categorías</h4>
			<button mat-icon-button class="ml-2" (click)="sidenavOpen = false;">
				<mat-icon>close</mat-icon>
			</button>
		</div>
		<mat-divider class="mx-1"></mat-divider>
		<app-loading-spinner label="Cargando categorías..." diameter="30" *ngIf="loadingCategories; else categoriesTmpl"></app-loading-spinner>
		<ng-template #categoriesTmpl>
			<div class="m-3 d-flex flex-column justify-content-around" *ngIf="categoriesSelected.length || subCategoriesSelected.length">
				<div class="mb-2" *ngIf="categoriesSelected.length">
					<h5 class="mb-1">Categorías:</h5>
					<mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
						<ng-container *ngFor="let category of categoriesSelected">
							<mat-chip class="d-flex justify-content-between" color="primary" [value]="category" [removable]="true" (removed)="onCategoryRemove(category)">
								{{category.name}}
								<mat-icon matChipRemove *ngIf="categoriesSelected.length > 1">cancel</mat-icon>
							</mat-chip>
						</ng-container>
					</mat-chip-list>
				</div>
				<div class="mb-2" *ngIf="subCategoriesSelected.length">
					<h5 class="mb-1">Sub-Categorías:</h5>
					<mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
						<ng-container *ngFor="let category of subCategoriesSelected">
							<mat-chip class="d-flex justify-content-between" color="primary" [value]="category" [removable]="true" (removed)="onCategoryRemove(category)">
								{{category.name}}
								<mat-icon matChipRemove *ngIf="subCategoriesSelected.length > 1">cancel</mat-icon>
							</mat-chip>
						</ng-container>
					</mat-chip-list>
				</div>
				<div class="d-flex justify-content-end">
					<button mat-button matTooltip="Elimina todas las categorías" (click)="clearCategories()">
						Limpiar
					</button>
					<button mat-button matTooltip="Aplicar Filtros por Categorías y Sub-Categorías" (click)="applyCategories()">
						Aplicar
					</button>
				</div>
			</div>
			<mat-divider class="mx-1"></mat-divider>
			<app-tree-node-generic [data]="categoriesToTree" (selected)="onCategorySelect($event)"></app-tree-node-generic>
		</ng-template>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="d-flex mt-3 flex-row align-items-center justify-content-start">
						<h2>Administración de Deseos</h2>
					</div>
					<mat-divider class="w-100 m-2"></mat-divider>
				</div>
			</div>
			<div class="row">
				<div class="col d-flex flex-row">
					<button style="line-height: 50px" color="primary" mat-icon-button class="mr-2" (click)="sidenavOpen = !sidenavOpen" matTooltip="Filtrar por categorías">
						<fa-icon icon="layer-group" size="2x"></fa-icon>
					</button>

					<mat-accordion class="w-100">
						<mat-expansion-panel #filtersPanel>
							<mat-expansion-panel-header>
								<mat-panel-title>
									Panel de Filtros
								</mat-panel-title>
								<mat-panel-description>
									Click para expandir
								</mat-panel-description>
							</mat-expansion-panel-header>

							<form [formGroup]="formFilter">
								<div class="row">
									<div class="col-12">
										<mat-form-field class="w-100">
											<mat-label>Buscar:</mat-label>
											<input matInput placeholder="Buscar por título de producto" formControlName="q">
										</mat-form-field>
									</div>
									<div class="col-6">
										<mat-form-field class="w-100">
											<input matInput [matDatepicker]="desde" placeholder="Desde" formControlName="start_date" [max]="formFilter.get('end_date').value || currentDate">
											<mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
											<mat-datepicker #desde></mat-datepicker>
										</mat-form-field>
									</div>
									<div class="col-6">
										<mat-form-field class="w-100">
											<input matInput [matDatepicker]="hasta" placeholder="Hasta" formControlName="end_date" [min]="formFilter.get('start_date').value" [max]="currentDate">
											<mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
											<mat-datepicker #hasta></mat-datepicker>
										</mat-form-field>
									</div>
								</div>
								<div class="d-flex p-2" *ngIf="lastFilterData">
									<div class="alert alert-secondary w-100" role="alert">
										<h4 class="alert-heading d-flex"><mat-icon class="mr-2" inline>info</mat-icon> Filtros Aplicados:</h4>
										<p *ngIf="lastFilterData.q">Producto: <b>{{lastFilterData.q}}</b></p>
										<p *ngIf="lastFilterData.start_date">Desde: <b>{{lastFilterData.start_date}}</b></p>
										<p *ngIf="lastFilterData.end_date">Hasta: <b>{{lastFilterData.end_date}}</b></p>
										<p *ngIf="lastFilterData.categories">Categorías</p>
										<p *ngIf="lastFilterData.subcategories">Sub-Categorías</p>

										<div class="d-flex justify-content-end">
											<button mat-button type="button" matTooltip="Eliminará todos los filtros" (click)="viewAll()">
												Ver todo
											</button>
										</div>
									</div>
								</div>
								<div class="d-flex justify-content-end align-items-center">
									<button mat-button type="button" (click)="formFilter.reset()">
										Limpiar Campos
									</button>
									<button mat-button (click)="applyFilters()" [disabled]="isFormEmpty()">
										Aplicar Filtros
									</button>
								</div>
							</form>


						</mat-expansion-panel>
					</mat-accordion>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<mat-paginator
						class="w-100 mt-1 d-flex justify-content-center"
						showFirstLastButtons
						[disabled]="loading"
						[length]="controls?.pagination.total_objects"
						[pageSizeOptions]="[4, 8, 12]"
						[pageSize]="pageSize"
						(page)="onPageEvent($event)">
					</mat-paginator>
				</div>
			</div>
			<app-loading-spinner label="Cargando deseos..." diameter="50" *ngIf="loading; else noLoadingTmpl"></app-loading-spinner>
			<ng-template #noLoadingTmpl>
				<div class="row">
					<app-no-data-aviable-display
						*ngIf="!wishes.length; else wishesTmpl"
						class="w-100 m-3"
						title="Sin deseos"
						content="Al parecer todavía tus productos no han sido deseados. Puedes intentar probando otros filtros">
					</app-no-data-aviable-display>
					<ng-template #wishesTmpl>
						<ng-container *ngFor="let wish of wishes">
							<div class="col-lg-3 col-md-4 col-12">
								<mat-card class="m-2 card-carousel-product">
									<img mat-card-image (click)="goDetail(wish.owner.type_profile, wish.owner.id, wish.id)" matTooltip="Ver producto"
											 class="cursor-pointer" [src]="'cover'" onerror="this.src = 'assets/imgs/defecto.png'" alt="Pyme photo">
									<mat-card-content>
										<h6>{{wish.name}}</h6>
										<p>{{wish.price | currency}}</p>
									</mat-card-content>
									<mat-card-actions class="d-flex align-items-center justify-content-center">
										<button mat-raised-button color="primary" [routerLink]="[wish.id, 'listado']" [queryParams]="{product_name: wish.name}">
											VER DESEOS ({{wish.total_wishes}})
										</button>
									</mat-card-actions>
								</mat-card>
							</div>
						</ng-container>
					</ng-template>
				</div>
			</ng-template>

		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
