<h2 mat-dialog-title>Deseo Personalizado</h2>
<div mat-dialog-content>

	<app-alert-generic-message message="Este producto ya se encuentra en tu lista de deseos,
	puedes crear otro deseo de manera personalizada pero primero debes suministrar la siguiente información">
	</app-alert-generic-message>

	<div class="mt-2">
		<form [formGroup]="form">
			<mat-form-field class="w-100 mb-2">
				<mat-label>Nombre/Asunto del Deseo</mat-label>
				<input matInput formControlName="name">
				<mat-error>Este campo es requerido</mat-error>
			</mat-form-field>
			<mat-form-field class="w-100 mb-2">
				<mat-label>Descripción</mat-label>
				<textarea matInput formControlName="description"></textarea>
				<mat-error>Este campo es requerido</mat-error>
			</mat-form-field>
			<mat-form-field class="w-100 mb-2">
				<mat-label>Presupuesto</mat-label>
				<input matInput formControlName="budget" type="number" min="0">
				<mat-error>
					<span *ngIf="form.get('budget').hasError('required')">Este campo es requerido</span>
					<span *ngIf="form.get('budget').hasError('min')">No debe ser números negativos</span>
					<span *ngIf="form.get('budget').hasError('pattern')">Este campo debe ser numérico</span>
				</mat-error>
			</mat-form-field>
		</form>
	</div>

</div>
<div mat-dialog-actions class="justify-content-center">
	<mat-spinner diameter="30" *ngIf="loading; else noSavingTmpl"></mat-spinner>
	<ng-template #noSavingTmpl>
		<button mat-button mat-dialog-close>
			Cerrar
		</button>
		<button mat-button (click)="create()" [disabled]="form.invalid">
			<fa-icon icon="heart" class="mr-1"></fa-icon>
			Crear
		</button>
	</ng-template>
</div>
