<div class="container-fluid">
  <div class="row">
    <div class="col mt-2">
      <h4>Recuperación de contraseña</h4>
      <mat-divider class="mb-2"></mat-divider>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div fxLayoutAlign="center">
        <div fxFlex="80%" fxFlex.lt-md="100%">
          <app-alert-generic-message class="w-100 mt-3"
                                     message="Para iniciar el proceso de recuperación de contraseña debes seguir los siguientes pasos y cumplir con los requisitos pedidos">
          </app-alert-generic-message>

          <div class="my-2">
            <mat-horizontal-stepper labelPosition="bottom" [linear]="true" #stepper>
              <mat-step [stepControl]="giveDataForm" [editable]="false">
                <form [formGroup]="giveDataForm">
                  <ng-template matStepLabel>Provee tu información</ng-template>
                  <div fxFlex fxLayoutAlign="center">
                    <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutGap=".5em">
                      <mat-form-field fxFlex="100%">
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput type="email" placeholder="Ingresa el correo electrónico asociado a tu cuenta de ibigwave" formControlName="login" required>
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error>
                          <span *ngIf="giveDataForm.get('login').hasError('required')">Este campo es requerido</span>
                          <span *ngIf="giveDataForm.get('login').hasError('email')">El email es incorrecto</span>
                        </mat-error>
                      </mat-form-field>

                      <button mat-raised-button [disabled]="loading || giveDataForm.invalid" (click)="callResetPassword()">
                        Enviar
                        <mat-spinner class="d-inline-flex ml-2" diameter="15" *ngIf="loading"></mat-spinner>
                      </button>
                    </div>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="giveCodeForm">
                <form [formGroup]="giveCodeForm">
                  <ng-template matStepLabel>Verificar Autenticidad</ng-template>
                  <div fxFlex fxLayoutAlign="center">
                    <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutGap=".5em">
                      <mat-form-field fxFlex="100%">
                        <mat-label>Código de Validación</mat-label>
                        <input matInput  placeholder="Ingresa el código de validación" formControlName="token" required>
                        <mat-hint> El código posee un tiempo de caducidad de 5 minutos</mat-hint>
                        <mat-error>
                          <span *ngIf="giveCodeForm.get('token').hasError('required')">Este campo es requerido</span>
                          <span *ngIf="giveCodeForm.get('token').hasError('min')">El código es incorrecto</span>
                          <span *ngIf="giveCodeForm.get('token').hasError('max')">El código es incorrecto</span>
                        </mat-error>
                      </mat-form-field>

                      <button mat-raised-button [disabled]="giveCodeForm.invalid" (click)="setCodeAndContinue()">
                        Continuar
                      </button>
                    </div>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="resetPasswordForm" [editable]="false">
                <form [formGroup]="resetPasswordForm">
                  <ng-template matStepLabel>Resetear Contraseña</ng-template>
                  <div fxFlex fxLayoutAlign="center">
                    <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutGap=".5em">
                      <mat-form-field fxFlex="100%">
                        <mat-label>Contraseña Nueva</mat-label>
                        <input matInput placeholder="Ingresa una contraseña" formControlName="password" [type]="hide ? 'text' : 'password'" required>
                        <mat-icon matSuffix class="cursor-pointer" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error>
                          <span *ngIf="resetPasswordForm.get('password').hasError('required')">Este campo es requerido</span>
                          <span *ngIf="resetPasswordForm.get('password').hasError('minlength')">El mínimo de carácteres debe ser de 8</span>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field fxFlex="100%">
                        <mat-label>Confirmar Contraseña</mat-label>
                        <input matInput placeholder="Confirma tu contraseña" formControlName="password_confirmation" [type]="hidePC ? 'text' : 'password'" required>
                        <mat-icon matSuffix class="cursor-pointer" (click)="hidePC = !hidePC">{{hidePC ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error>
                          <span *ngIf="resetPasswordForm.get('password_confirmation').hasError('required')">Este campo es requerido</span>
                          <span *ngIf="resetPasswordForm.get('password_confirmation').hasError('minlength')">El mínimo de carácteres debe ser de 8</span>
                        </mat-error>
                      </mat-form-field>

                      <button mat-raised-button [disabled]="loading || giveCodeForm.invalid" (click)="updatePassword()">
                        Actualizar
                        <mat-spinner class="d-inline-flex ml-2" diameter="15" *ngIf="loading"></mat-spinner>
                      </button>
                    </div>
                  </div>
                </form>
              </mat-step>
              <mat-step [editable]="false">
                <ng-template matStepLabel>Listo</ng-template>
                <div class="jumbotron p-3" fxLayout="column">
                  <h5>Éxito</h5>
                  <mat-divider class="my-1"></mat-divider>
                  <p>Ya has cambiado tu contraseña de manera exitosa, puedes intentar iniciar sesión ahora mismo</p>
                  <div fxFlex fxLayoutAlign="center" class="mt-1">
                    <button mat-raised-button color="accent" (click)="modalsService.openLoginDialog()">
                      Inicia Sesión
                    </button>
                  </div>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
