<div class="container-fluid" style="background: white;">
  <div class="row example-toolbar">
    <div class="col-md-1 col-3">
      <button mat-icon-button (click)="snav.toggle()" color="primary">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="col-md-11 col-9" style="padding-top: 5px;">
      <h3 class="example-app-name">Favoritos</h3>
    </div>
  </div>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 15">

    <mat-sidenav #snav [opened]="mobileQuery.matches ? false : true" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

      <dt *ngIf="categoryName != undefined || OrderName != undefined">
        Filtrado por:
      </dt>

      <mat-chip-list *ngIf="categoryName != undefined" style="display: flex; margin-top: 5px">
        <mat-chip [color]="accent" [selectable]="true" [removable]="true">
          {{categoryName.length <= 28 ? categoryName : categoryName.slice(0, 25)+'...' }}
          <mat-icon matChipRemove (click)="remove_category()">
            cancel
          </mat-icon>
        </mat-chip>
      </mat-chip-list>

      <mat-chip-list *ngIf="OrderName != undefined" style="display: flex; margin-top: 5px">
        <mat-chip [color]="accent" [selectable]="true" [removable]="true">
          Ordenado de la {{OrderName}}
          <mat-icon matChipRemove (click)="remove_order()">
            cancel
          </mat-icon>
        </mat-chip>
      </mat-chip-list>

      <mat-tree [dataSource]="dataSource3" [treeControl]="treeControl3">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" style="cursor: pointer" (click)="Orden(node)">
          <!-- use a disabled button to provide padding for tree leaf -->
          <dd>{{node.name}}</dd>
          <button mat-icon-button disabled></button>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <dt>{{node.name}}</dt>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" style="left: 6%">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl3.isExpanded(node) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
            </mat-icon>
          </button>
        </mat-tree-node>
      </mat-tree>

      <mat-checkbox *ngFor="let prof of profileList; let i = index" [(ngModel)]="profileList[i].state"
        (change)="profileType(i)" [disabled]="Disable_profil[i]">
        <mat-icon style="position: sticky; top: 29%;">{{iconography.get(profileList[i].id)}}
        </mat-icon>
        {{prof.name}}
      </mat-checkbox>

      <mat-tree [dataSource]="dataSource2" [treeControl]="treeControl2">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" style="cursor: pointer" (click)="Categoria(node)">
          <!-- use a disabled button to provide padding for tree leaf -->
          <dd>{{node.name}}</dd>
          <button mat-icon-button disabled></button>

        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
          <dt>{{node.name}}</dt>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl2.isExpanded(node) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
            </mat-icon>
          </button>
        </mat-tree-node>
      </mat-tree>

    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container-fluid" style="background: white;">
        <mat-card class="example-card" *ngIf="profileList[0].state">
          <mat-card-header class="header" style="margin-bottom: 15px;">
            <nav class="navbar navbar-white .bg-white example-movil d-none d-md-block"
              style="margin-left: 44px; width: 30%; top: -5px;">
              <form class="form-inline" style="width: 100%">
                <input class="form-control mr-sm-2" type="search" [(ngModel)]="filtro1" name="filtrado"
                  placeholder="Search" aria-label="Search" style="width: 100%">
              </form>
            </nav>
            <mat-card-title>Tiendas</mat-card-title>
            <mat-card-subtitle>favorite pymes</mat-card-subtitle>
          </mat-card-header>
          <mat-spinner *ngIf="loadingPyme" style="margin:50px auto;" mode="indeterminate"></mat-spinner>
          <mat-card-content *ngIf="pymes.length <= 0 && !loadingPyme">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  No se encontraron resultados que coincidan con tu búsqueda
                </mat-card-title>
                <mat-card-subtitle>
                  Recomendaciones
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content style="padding-left: 17px">
                <p>
                  Seguir un perfil que se encuentre en esta categoría.
                </p>
              </mat-card-content>
              <mat-card-actions style="padding-left: 17px">
                <button mat-raised-button color="primary" (click)="profilCategory()">
                  categoría
                </button>
              </mat-card-actions>
            </mat-card>
          </mat-card-content>
          <mat-card-content class="d-none d-md-block" *ngIf="!loadingPyme">
            <div class="row">
              <mat-card class="col-12 col-sm-3 col-xl-3 "
                *ngFor="let result of pymes | followProfiles:page_size_pymes:page_number_pymes:filtro1:OrderName; let last = last; let i = index ">
                <mat-card-header>
                  <mat-card-title *ngIf="!mobileQuery.matches">{{result.attributes.title | truncar : 18}}
                  </mat-card-title>
                  <mat-card-title *ngIf="mobileQuery.matches">{{result.attributes.title | truncar : 16}}
                  </mat-card-title>
                </mat-card-header>
                <img class="pointer" (click)="openProfile(result.attributes.type_profile, result.attributes.slug)"
                *ngIf="result.attributes.photo != undefined || result.attributes.photo != null"
                  [src]="result.attributes.photo" style="width: 100%; height: 120px;" />
                <img class="pointer" (click)="openProfile(result.attributes.type_profile, result.attributes.slug)"
                *ngIf="result.attributes.photo == undefined || result.attributes.photo == null"
                  src="assets/imgs/profile.jpg" style="width: 100%; height: 120px;" />
                <mat-card-actions class="text-center">
                  <div class="row" (click)="removeFollow()">
                    <app-follow profileType="pyme" [id]="result.id"></app-follow>
                  </div>
                </mat-card-actions>
              </mat-card>
            </div>
          </mat-card-content>
          <mat-card-content class="d-md-none d-sm-block" *ngIf="!loadingPyme">
            <div class="row">
              <div class="owl-carousel1 owl-carousel owl-theme">
                <div class="item"
                  *ngFor="let result of pymes | followProfiles:page_size_pymes:page_number_pymes:filtro1:OrderName; let last = last; let i = index ">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title *ngIf="!mobileQuery.matches">{{result.attributes.title | truncar : 18}}
                      </mat-card-title>
                      <mat-card-title *ngIf="mobileQuery.matches">{{result.attributes.title | truncar : 16}}
                      </mat-card-title>
                    </mat-card-header>
                    <img class="pointer" (click)="openProfile(result.attributes.type_profile, result.attributes.slug)"
                    *ngIf="result.attributes.photo != undefined || result.attributes.photo != null"
                      [src]="result.attributes.photo" style="width: 100%; height: 120px;" />
                    <img class="pointer" (click)="openProfile(result.attributes.type_profile, result.attributes.slug)"
                    *ngIf="result.attributes.photo == undefined || result.attributes.photo == null"
                      src="assets/imgs/profile.jpg" style="width: 100%; height: 120px;" />
                    <mat-card-actions class="text-center">
                      <app-follow profileType="pyme" [id]="result.id"></app-follow>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="d-none d-md-block" *ngIf="!loadingPyme && pymes.length >= 1">
            <div class="row" style="padding-left: 27px;">
              <mat-paginator [length]="pymes.length" [pageSize]="page_size_pymes"
                [pageSizeOptions]="pageSizeOptions_pymes" (page)="handlePagepymes($event)">
              </mat-paginator>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card class="example-card" *ngIf="profileList[1].state">
          <mat-card-header class="independent" style="margin-bottom: 15px;">
            <nav class="navbar navbar-white .bg-white example-movil d-none d-md-block"
              style="margin-left: 44px; width: 30%; top: -5px;">
              <form class="form-inline" style="width: 100%">
                <input class="form-control mr-sm-2" type="search" [(ngModel)]="filtro2" name="filtrado"
                  placeholder="Search" aria-label="Search" style="width: 100%">
              </form>
            </nav>
            <mat-card-title>Independientes</mat-card-title>
            <mat-card-subtitle>favorite independent</mat-card-subtitle>
          </mat-card-header>
          <mat-spinner *ngIf="loadingIndependent" style="margin:50px auto;" mode="indeterminate"></mat-spinner>
          <mat-card-content *ngIf="independents.length <= 0 && !loadingIndependent">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>
                    No se encontraron resultados que coincidan con tu búsqueda
                  </mat-card-title>
                  <mat-card-subtitle>
                    Recomendaciones
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content style="padding-left: 17px">
                  <p>
                    Seguir un perfil que se encuentre en esta categoría.
                  </p>
                </mat-card-content>
                <mat-card-actions style="padding-left: 17px">
                  <button mat-raised-button color="primary" (click)="profilCategory()">
                    categoría
                  </button>
                </mat-card-actions>
              </mat-card>
          </mat-card-content>
          <mat-card-content class="d-none d-md-block" *ngIf="!loadingIndependent">
            <div class="row">
              <mat-card class="col-12 col-sm-4 col-xl-3"
                *ngFor="let result of independents | followProfiles:page_size_independents:page_number_independents:filtro2:OrderName; let last = last; let i = index ">
                <mat-card-header>
                  <mat-card-title *ngIf="!mobileQuery.matches">{{result.attributes.title | truncar : 18}}
                  </mat-card-title>
                  <mat-card-title *ngIf="mobileQuery.matches">{{result.attributes.title | truncar : 16}}
                  </mat-card-title>
                </mat-card-header>
                <img class="pointer" (click)="openProfile(result.attributes.type_profile, result.attributes.slug)"
                *ngIf="result.attributes.photo != undefined || result.attributes.photo != null"
                  [src]="result.attributes.photo" style="width: 100%; height: 120px;" />
                <img class="pointer" (click)="openProfile(result.attributes.type_profile, result.attributes.slug)"
                *ngIf="result.attributes.photo == undefined || result.attributes.photo == null"
                  src="assets/imgs/profile.jpg" style="width: 100%; height: 120px;" />
                <mat-card-actions class="text-center">
                  <app-follow profileType="independent" [id]="result.id"></app-follow>
                </mat-card-actions>
              </mat-card>
            </div>
          </mat-card-content>
          <mat-card-content class="d-md-none d-sm-block" *ngIf="!loadingIndependent">
            <div class="row">
              <div class="owl-carousel2 owl-carousel owl-theme">
                <div class="item"
                  *ngFor="let result of independents | followProfiles:page_size_independents:page_number_independents:filtro2:OrderName; let last = last; let i = index ">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title *ngIf="!mobileQuery.matches">{{result.attributes.title | truncar : 18}}
                      </mat-card-title>
                      <mat-card-title *ngIf="mobileQuery.matches">{{result.attributes.title | truncar : 16}}
                      </mat-card-title>
                    </mat-card-header>
                    <img class="pointer" (click)="openProfile(result.attributes.type_profile, result.attributes.slug)"
                    *ngIf="result.attributes.photo != undefined || result.attributes.photo != null"
                      [src]="result.attributes.photo" style="width: 100%; height: 120px;" />
                    <img class="pointer" (click)="openProfile(result.attributes.type_profile, result.attributes.slug)"
                    *ngIf="result.attributes.photo == undefined || result.attributes.photo == null"
                      src="assets/imgs/profile.jpg" style="width: 100%; height: 120px;" />
                    <mat-card-actions class="text-center">
                      <app-follow profileType="independent" [id]="result.id"></app-follow>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="d-none d-md-block" *ngIf="!loadingIndependent && independents.length >= 1">
            <div class="row" style="padding-left: 27px;">
              <mat-paginator [length]="independents.length" [pageSize]="page_size_independents"
                [pageSizeOptions]="pageSizeOptions_independents" (page)="handlePageindependents($event)">
              </mat-paginator>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card class="example-card" *ngIf="profileList[2].state">
          <mat-card-header class="header" style="margin-bottom: 15px;">
            <nav class="navbar navbar-white .bg-white example-movil d-none d-md-block"
              style="margin-left: 44px; width: 30%; top: -5px;">
              <form class="form-inline" style="width: 100%">
                <input class="form-control mr-sm-2" type="search" [(ngModel)]="filtro3" name="filtrado"
                  placeholder="Search" aria-label="Search" style="width: 1000%">
              </form>
            </nav>
            <mat-card-title>Personas</mat-card-title>
            <mat-card-subtitle>favorite people</mat-card-subtitle>
          </mat-card-header>
          <mat-spinner *ngIf="loadingSeller" style="margin:50px auto;" mode="indeterminate"></mat-spinner>
          <mat-card-content *ngIf="sellers.length <= 0 && !loadingSeller">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>
                    No se encontraron resultados que coincidan con tu búsqueda
                  </mat-card-title>
                  <mat-card-subtitle>
                    Recomendaciones
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content style="padding-left: 17px">
                  <p>
                    Seguir un perfil que se encuentre en esta categoría.
                  </p>
                </mat-card-content>
                <mat-card-actions style="padding-left: 17px">
                  <button mat-raised-button color="primary" (click)="profilCategory()">
                    categoría
                  </button>
                </mat-card-actions>
              </mat-card>
          </mat-card-content>
          <mat-card-content class="d-none d-md-block" *ngIf="!loadingSeller">
            <div class="row">
              <mat-card class="col-12 col-sm-4 col-xl-3"
                *ngFor="let result of sellers | followProfiles:page_size_sellers:page_number_sellers:filtro3:OrderName; let last = last; let i = index ">
                <mat-card-header>
                  <mat-card-title *ngIf="!mobileQuery.matches">{{result.attributes.title | truncar : 18}}
                  </mat-card-title>
                  <mat-card-title *ngIf="mobileQuery.matches">{{result.attributes.title | truncar : 16}}
                  </mat-card-title>
                </mat-card-header>
                <img class="pointer" (click)="openProfile(result.attributes.type_profile, result.attributes.slug)"
                *ngIf="result.attributes.photo != undefined || result.attributes.photo != null"
                  [src]="result.attributes.photo" style="width: 100%; height: 120px;" />
                <img class="pointer" (click)="openProfile(result.attributes.type_profile, result.attributes.slug)"
                *ngIf="result.attributes.photo == undefined || result.attributes.photo == null"
                  src="assets/imgs/profile.jpg" style="width: 100%; height: 120px;" />
                <mat-card-actions class="text-center">
                  <app-follow profileType="seller" [id]="result.id"></app-follow>
                </mat-card-actions>
              </mat-card>
            </div>
          </mat-card-content>
          <mat-card-content class="d-md-none d-sm-block" *ngIf="!loadingSeller">
            <div class="row">
              <div class="owl-carousel3 owl-carousel owl-theme">
                <div class="item"
                  *ngFor="let result of sellers | followProfiles:page_size_sellers:page_number_sellers:filtro3:OrderName; let last = last; let i = index ">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title *ngIf="!mobileQuery.matches">{{result.attributes.title | truncar : 18}}
                      </mat-card-title>
                      <mat-card-title *ngIf="mobileQuery.matches">{{result.attributes.title | truncar : 16}}
                      </mat-card-title>
                    </mat-card-header>
                    <img class="pointer" (click)="openProfile(result.attributes.type_profile, result.attributes.slug)"
                    *ngIf="result.attributes.photo != undefined || result.attributes.photo != null"
                      [src]="result.attributes.photo" style="width: 100%; height: 120px;" />
                    <img class="pointer" (click)="openProfile(result.attributes.type_profile, result.attributes.slug)"
                    *ngIf="result.attributes.photo == undefined || result.attributes.photo == null"
                      src="assets/imgs/profile.jpg" style="width: 100%; height: 120px;" />
                    <mat-card-actions class="text-center">
                      <app-follow profileType="seller" [id]="result.id"></app-follow>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="d-none d-md-block" *ngIf="!loadingSeller && sellers.length >= 1">
            <div class="row" style="padding-left: 27px;">
              <mat-paginator [length]="sellers.length" [pageSize]="page_size_sellers"
                [pageSizeOptions]="pageSizeOptions_sellers" (page)="handlePagesellers($event)">
              </mat-paginator>
            </div>
          </mat-card-actions>
        </mat-card>

      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
