.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h3.example-app-name {
    //margin-left: 8px;
    text-align: center
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

 
  mat-card {
	box-shadow: none !important;
	padding-top: 0 !important;
}

.example-card {
    margin-bottom: 6%
}

.example-toolbar {
    margin-top: 5px
}

.mat-sidenav {
	border-right: none !important;
    min-width: 20%;
    max-width: 20%;
    padding-left:
	10px; padding-top: 10px;
	padding-right: 10px;
}

@media (max-width: 600px) {
	.mat-sidenav {
		position: absolute;
        top: 0px !important;
        min-width: 80% !important;
    }
    
    .example-movil {
    margin-left: 0px !important;
    width: 85% !important;
    top: 0px !important;
    left: -15px !important;
    }

	  .header {
     margin-bottom: 0px !important;
     padding-left: 45px !important;
    }

  .independent {
    margin-bottom: 0px !important;
    padding-left: 15px !important;
  }
    
    h3.example-app-name {
        text-align: start;
    }
}
  