<button mat-icon-button [matMenuTriggerFor]="menu">
  <img class="rounded-circle profile-pic" [src]="user?.avatar?.url || 'assets/imgs/profile.jpg'" onerror="this.src = 'assets/imgs/profile.jpg'">
</button>

<mat-menu #menu="matMenu" xPosition="before" yPositon="above" [overlapTrigger]="false">
  <div mat-menu-item style="height: 4rem" routerLink="/profile/perfil">
    <div class="media">
      <div class="align-self-center mr-2" style="width: 40px; height: 40px;">
        <img alt="pic" class="rounded-circle profile-pic" [src]="user?.avatar?.url || 'assets/imgs/profile.jpg'" onerror="this.src = 'assets/imgs/profile.jpg'">
      </div>
      <div class="media-body text-truncate">
        <span style="font-size: 15px" class="m-2">{{user?.name}} {{user?.lastname}}</span>
        <span style="font-size: 12px" class="text-secondary m-2">{{user?.uid}}</span>
      </div>
    </div>
  </div>
  <mat-divider class="mr-2 ml-2"></mat-divider>
  <div style="height: 3rem" class="d-flex justify-content-around">
    <button mat-icon-button matTooltip="Tiendas" routerLink="/profile/pymes">
      <mat-icon>{{iconographyProfile.get(TypesIcons.PYME)}}</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Vendedores" routerLink="/profile/sellers">
      <mat-icon>{{iconographyProfile.get(TypesIcons.SELLER)}}</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Independientes" routerLink="/profile/independents">
      <mat-icon>{{iconographyProfile.get(TypesIcons.INDEPENDENT)}}</mat-icon>
    </button>
  </div>
  <mat-divider class="mr-2 ml-2"></mat-divider>
  <!--<button mat-menu-item [routerLink]="['/profile/comenzar-ahora']" >
    <mat-icon>dashboard</mat-icon>
    <span>Comenzar Ahora</span>
  </button>-->
  <button mat-menu-item [routerLink]="['/profile/mensajes']" >
    <mat-icon>message</mat-icon>
    <span>Mensajes</span>
  </button>
  <button mat-menu-item [routerLink]="['/profile/favoritos']" >
    <mat-icon>star</mat-icon>
    <span>Favoritos</span>
  </button>
  <mat-divider class="mr-2 ml-2"></mat-divider>
  <button mat-menu-item (click)="logout()">
    <mat-icon>subdirectory_arrow_left</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
</mat-menu>
