<div class="d-flex flex-column p-3 m-2 position-relative border rounded" #alert>
	<button mat-icon-button class="position-absolute" (click)="alert.className = 'd-none'" style="right: 1rem; top:.3rem;">
		<mat-icon color="warn">close</mat-icon>
	</button>
	<div class="media">
		<mat-icon class="mr-3 align-self-center d-md-block d-none" >{{icon}}</mat-icon>
		<div class="media-body">
			<h5 class="font-weight-bold">{{tittle}}</h5>
			<p class="m-0" [innerHTML]="message"></p>
		</div>
	</div>
</div>
