<div class="container-fluid" style="padding-top: 15px; padding-bottom: 15px; background: white;">

  <mat-spinner *ngIf="loading" style="margin:0 auto;" mode="indeterminate"></mat-spinner>

  <div class="row" *ngIf="!loading">
    <div class="col-lg-12">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Horario de la tienda</mat-card-title>
        </mat-card-header>
        <mat-card-content class="d-none d-md-block">
          <div class="row">
            <div class="col-lg-3">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Lunes</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-form-field>
                    <input type="time" matInput id="email" placeholder="Desde" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="horario['monday'].open">
                  </mat-form-field>
                  <mat-form-field>
                    <input type="time" matInput id="email" placeholder="Hasta" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="horario['monday'].close">
                  </mat-form-field>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-lg-3">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Martes</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-form-field>
                    <input type="time" matInput id="email" placeholder="Desde" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="horario['tuesday'].open">
                  </mat-form-field>
                  <mat-form-field>
                    <input type="time" matInput id="email" placeholder="Hasta" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="horario['tuesday'].close">
                  </mat-form-field>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-lg-3">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Miercoles</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-form-field>
                    <input type="time" matInput id="email" placeholder="Desde" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="horario['wednesday'].open">
                  </mat-form-field>
                  <mat-form-field>
                    <input type="time" matInput id="email" placeholder="Hasta" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="horario['wednesday'].close">
                  </mat-form-field>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-lg-3">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Jueves</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-form-field>
                    <input type="time" matInput id="email" placeholder="Desde" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="horario['thursday'].open">
                  </mat-form-field>
                  <mat-form-field>
                    <input type="time" matInput id="email" placeholder="Hasta" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="horario['thursday'].close">
                  </mat-form-field>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-lg-3">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Viernes</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-form-field>
                    <input type="time" matInput id="email" placeholder="Desde" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="horario['friday'].open">
                  </mat-form-field>
                  <mat-form-field>
                    <input type="time" matInput id="email" placeholder="Hasta" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="horario['friday'].close">
                  </mat-form-field>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-lg-3">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Sabado</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-form-field>
                    <input type="time" matInput id="email" placeholder="Desde" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="horario['saturday'].open">
                  </mat-form-field>
                  <mat-form-field>
                    <input type="time" matInput id="email" placeholder="Hasta" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="horario['saturday'].close">
                  </mat-form-field>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-lg-3">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Domingo</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-form-field>
                    <input type="time" matInput id="email" placeholder="Desde" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="horario['sunday'].open">
                  </mat-form-field>
                  <mat-form-field>
                    <input type="time" matInput id="email" placeholder="Hasta" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="horario['sunday'].close">
                  </mat-form-field>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
        <mat-card-content class="d-md-none d-sm-block">
          <div class="row">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>Lunes</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <mat-form-field>
                      <input type="time" matInput id="email" placeholder="Desde" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="horario['monday'].open">
                    </mat-form-field>
                    <mat-form-field>
                      <input type="time" matInput id="email" placeholder="Hasta" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="horario['monday'].close">
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="item">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>Martes</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <mat-form-field>
                      <input type="time" matInput id="email" placeholder="Desde" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="horario['tuesday'].open">
                    </mat-form-field>
                    <mat-form-field>
                      <input type="time" matInput id="email" placeholder="Hasta" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="horario['tuesday'].close">
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="item">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>Miercoles</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <mat-form-field>
                      <input type="time" matInput id="email" placeholder="Desde" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="horario['wednesday'].open">
                    </mat-form-field>
                    <mat-form-field>
                      <input type="time" matInput id="email" placeholder="Hasta" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="horario['wednesday'].close">
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="item">
                <mat-card class="example-card">
                  <mat-card-header>
                    <mat-card-title>Jueves</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <mat-form-field>
                      <input type="time" matInput id="email" placeholder="Desde" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="horario['thursday'].open">
                    </mat-form-field>
                    <mat-form-field>
                      <input type="time" matInput id="email" placeholder="Hasta" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="horario['thursday'].close">
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="item">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>Viernes</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <mat-form-field>
                      <input type="time" matInput id="email" placeholder="Desde" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="horario['friday'].open">
                    </mat-form-field>
                    <mat-form-field>
                      <input type="time" matInput id="email" placeholder="Hasta" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="horario['friday'].close">
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="item">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>Sabado</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <mat-form-field>
                      <input type="time" matInput id="email" placeholder="Desde" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="horario['saturday'].open">
                    </mat-form-field>
                    <mat-form-field>
                      <input type="time" matInput id="email" placeholder="Hasta" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="horario['saturday'].close">
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="item">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>Domingo</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <mat-form-field>
                      <input type="time" matInput id="email" placeholder="Desde" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="horario['sunday'].open">
                    </mat-form-field>
                    <mat-form-field>
                      <input type="time" matInput id="email" placeholder="Hasta" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="horario['sunday'].close">
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" style="left: 20px;" (click)="updateHorario()">
            Actualizar Horario
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <br>

  <div class="row d-none" [ngClass]="{'d-block': !loading}">
    <div class="col-lg-12">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Ubicación</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-lg-9">
              <div class="row">
                <div class="col-lg-8 col-12 form-group">
                  <nav class="navbar border" style="border-radius: 5px;">
                    <form class="form-inline" style="width: 100%">
                      <input placeholder="Buscar dirección" matInput type="text" id="place" #search name="addres"
                        name="address" [formControl]="searchControl" autocomplete="off" autocapitalize="off"
                        spellcheck="off">
                    </form>
                  </nav>
                </div>
                <div class="col-lg-4 d-none d-md-block">
                  <button mat-raised-button color="warn" style="width: 100%" (click)="setCurrentPosition(true)">
                    Ubicación actual
                    <mat-icon aria-label="" style="font-size: 18px;">gps_fixed</mat-icon>
                  </button>
                </div>
                <div class="col-12 d-md-none d-sm-block">
                  <p style="text-align: justify; margin-bottom: 16px">
                    {{titleLocation}}
                  </p>
                </div>
                <div class="col-6 d-md-none d-sm-block">
                  <button *ngIf="!selectMarker&&!newMarker&&locationNew" mat-raised-button color="warn"
                    style="width: 100%; margin-bottom: 16px" (click)="newLocation()">
                    Nueva
                    <mat-icon aria-label="" style="font-size: 18px;">add</mat-icon>
                  </button>
                </div>
                <div class="col-6 d-md-none d-sm-block">
                  <button *ngIf="!selectMarker&&!newMarker&&locationNew&&agmMarker.length>0" mat-raised-button
                    color="primary" style="width: 100%;margin-bottom: 16px" (click)="locationUpdate()">
                    Editar
                    <mat-icon aria-label="" style="font-size: 18px;">edit</mat-icon>
                  </button>
                </div>
                <div class="col-12 d-md-none d-sm-block">
                  <button *ngIf="selectMarker&&newMarker&&locationNew" mat-raised-button color="primary"
                    style="width: 100%;margin-bottom: 16px" (click)="createLocation()">
                    Guardar Ubicación
                    <mat-icon aria-label="" style="font-size: 18px;">add</mat-icon>
                  </button>
                </div>
                <div class="col-12 d-md-none d-sm-block">
                  <button *ngIf="selectMarker && newMarker&&!locationNew" mat-raised-button color="primary"
                    style="width: 100%;margin-bottom: 16px" (click)="updateLocation()">
                    Actualizar
                    <mat-icon aria-label="" style="font-size: 18px;">edit</mat-icon>
                  </button>
                </div>
                <div class="col-12 d-md-none d-sm-block">
                  <button *ngIf="selectMarker||newMarker||!locationNew" mat-raised-button color="warn"
                    style="width: 100%;margin-bottom: 16px" (click)="cancelLocation()">
                    Cancelar
                    <mat-icon aria-label="" style="font-size: 18px;">close</mat-icon>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <agm-map [latitude]="lat" [longitude]="lng" style="height: 320px" (mapClick)="placeMarker($event)">
                    <div *ngFor="let item of agmMarker;let i = index">
                      <agm-marker (markerClick)="updateMarker(i)"
                        [opacity]="selectMarker && updateID == item.id ? 0.5 : 1" [latitude]="item.attributes.latitude"
                        [longitude]="item.attributes.longitude">
                      </agm-marker>
                    </div>
                    <agm-marker [zIndex]="2" *ngIf="selectMarker" [label]="labelsOptions" (dragEnd)="dragEnd($event)"
                      [longitude]="lng" [latitude]="lat" [markerDraggable]="newMarker">
                    </agm-marker>
                  </agm-map>
                </div>
              </div>
            </div>
            <div class="col-lg-3 d-none d-md-block">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Editar Ubicaciones</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="col-lg-12" style="margin-top: 48px">
                    <div class="row">
                      <div class="col-md-12">
                        <p style="text-align: justify; margin-bottom: 16px">{{titleLocation}}</p>
                      </div>
                      <div class="col-md-12">
                        <button *ngIf="!selectMarker&&!newMarker&&locationNew" mat-raised-button color="warn"
                          style="width: 100%;margin-bottom: 16px" (click)="newLocation()">
                          Nueva ubicación
                          <mat-icon aria-label="" style="font-size: 18px;">add</mat-icon>
                        </button>
                      </div>
                      <div class="col-md-12">
                        <button *ngIf="!selectMarker&&!newMarker&&locationNew&&agmMarker.length>0" mat-raised-button
                          color="primary" style="width: 100%" (click)="locationUpdate()">
                          Actualizar ubicación
                          <mat-icon aria-label="" style="font-size: 18px;">edit</mat-icon>
                        </button>
                      </div>
                      <div class="col-md-12">
                        <button *ngIf="selectMarker&&newMarker&&locationNew" mat-raised-button color="primary"
                          style="width: 100%;margin-bottom: 16px" (click)="createLocation()">
                          Guardar Ubicación
                          <mat-icon aria-label="" style="font-size: 18px;">add</mat-icon>
                        </button>
                      </div>
                      <div class="col-md-12">
                        <button *ngIf="selectMarker && newMarker&&!locationNew" mat-raised-button color="primary"
                          style="width: 100%;margin-bottom: 16px" (click)="updateLocation()">
                          Actualizar
                          <mat-icon aria-label="" style="font-size: 18px;">edit</mat-icon>
                        </button>
                      </div>
                      <div class="col-md-12">
                        <button *ngIf="selectMarker||newMarker||!locationNew" mat-raised-button color="warn"
                          style="width: 100%" (click)="cancelLocation()">
                          Cancelar
                          <mat-icon aria-label="" style="font-size: 18px;">close</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>