<mat-toolbar color="primary" id="menu">
  <mat-toolbar-row style="justify-content: space-evenly">

    <button mat-icon-button *ngIf="isInAdmin" aria-label="Toggle sidenav" (click)="openAdminSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="cursor-pointer d-flex align-items-center" [routerLink]="['/']">
      <img src="assets/angular_logo.svg" width="40" class="mr-2" alt="">
      <h3 class="m-0 d-none d-sm-none d-md-flex text-white">Bigwave</h3>
    </div>

    <!-- Categorías -->
    <button mat-button [matMenuTriggerFor]="menu" matTooltip="Categorías" class="d-none d-sm-none d-md-block">
      <mat-icon class="d-inline-flex mr-1">view_module</mat-icon>
      <span class="d-inline-flex">CATEGORÍAS</span>
			<mat-spinner *ngIf="loadingCategories" diameter="20" color="accent" class="d-inline-flex ml-1"></mat-spinner>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Categorías" class="d-block d-md-none">
      <mat-spinner *ngIf="loadingCategories; else noLoadingCategories" diameter="20" color="accent"></mat-spinner>
      <ng-template #noLoadingCategories><mat-icon>view_module</mat-icon></ng-template>
    </button>

    <mat-menu style="display: none;" #menu="matMenu" xPosition="after" [overlapTrigger]="false">
      <ng-container *ngFor="let category of categories">
        <button mat-menu-item
          (click)="productsByCategory(category.id,category.name)">{{category.name}}</button>
      </ng-container>
    </mat-menu>
    <!-- /Categorías -->


		<button mat-button (click)="openCountryModal()" class="d-none d-sm-none d-md-block"
            [matTooltip]="'Estará viendo información de '+ (countryState ? countryState.name : 'todos lados') + ', click para cambiar país'">
			<ng-container *ngIf="countryState; else noCountryTmpl">
				<mat-icon class="d-inline-flex mr-1">room</mat-icon>
        <span class="d-inline-flex">{{countryState.name}}</span>
			</ng-container>
			<ng-template #noCountryTmpl>
				<fa-icon class="d-inline-flex mr-1" [icon]="['fas', 'globe-americas']" style="font-size: 20px;"></fa-icon>
				<span class="d-inline-flex">Global</span>
			</ng-template>
		</button>

    <button mat-icon-button (click)="openCountryModal()" class="d-block d-md-none"
            [matTooltip]="'Estará viendo información de '+ (countryState ? countryState.name : 'todos lados') + ', click para cambiar país'">
      <mat-icon *ngIf="countryState; else noCountry">room</mat-icon>
      <ng-template #noCountry> <fa-icon [icon]="['fas', 'globe-americas']" style="font-size: 20px;"></fa-icon></ng-template>
    </button>

		<!--Search component-->
    <navbar-search class="mt-3 d-none d-md-block d-lg-block" style="flex: 1 1 auto"></navbar-search>
    <button mat-icon-button type="button" class="d-block d-md-none d-lg-none" (click)="showSearchAction = true" matTooltip="Busqueda Global">
      <mat-icon>search</mat-icon>
    </button>

    <div *ngIf="showSearchAction" style="position: absolute; top: 0; right: 0; background-color: #3f51b5; z-index: 999"
         class="d-flex flex-row justify-content-center align-items-center w-100 h-100 p-2 d-block d-md-none d-lg-none">
      <navbar-search style="flex: 1 1 80%;" class="mt-2"></navbar-search>
      <button mat-icon-button type="button" (click)="showSearchAction = false" matTooltip="Cerrar Busqueda">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <!-- /Search component-->

    <button mat-button class="d-none d-lg-block" (click)="addProfile()">
			CREA TU NEGOCIO ONLINE
		</button>

    <app-cart-menu-icon></app-cart-menu-icon>

    <ng-container *ngIf="_tokenService.userSignedIn(); else noLoggedTmpl">
      <button mat-icon-button [routerLink]="['/profile/deseos']">
        <mat-icon>favorite</mat-icon>
      </button>
      <app-notifications></app-notifications>
      <app-profile-options-menu></app-profile-options-menu>
    </ng-container>
    <ng-template #noLoggedTmpl>
      <button mat-raised-button class="d-none d-lg-block" color="accent" (click)="openLoginDialog()">
        INICIAR SESIÓN
      </button>
      <button mat-icon-button class="d-block d-lg-none" color="accent" matTooltip="Iniciar Sesión" (click)="openLoginDialog()">
        <fa-icon [icon]="['fas', 'sign-in-alt']" style="font-size: 24px;"></fa-icon>
      </button>
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>
