<h1 mat-dialog-title>Agregar al carrito de compras</h1>
<div mat-dialog-content>

  <ng-container *ngIf="inPromise">
    <mat-spinner class="m-auto" diameter="40" color="accent"></mat-spinner>
    <h5 class="text-center">Cargando información del producto...</h5>
  </ng-container>

  <ng-container *ngIf="!inPromise && stockAviable">
    
    <div class="container-fluid">

      <div class="row">

        <div class="col d-none d-lg-flex">
          <mat-card class="align-self-center" style="width: 100%;">
            <div class="media">
              <img src="assets/imgs/defecto.png" width="64px" height="64px" class="m-auto">
              <div class="media-body ml-2">
                <h5 class="mt-0">{{product.attributes.name}}</h5>
                <p>{{!product.description ? 'Sin descripción' : product.description}}</p>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="col d-none d-lg-flex">
          <mat-list class="align-self-center">
            <mat-list-item *ngFor="let attr of customFields; let i=index;">
              <mat-icon mat-list-icon>check_circle_outline</mat-icon>
              <h4 mat-line>{{attr.name | titlecase}}</h4>
              <p mat-line> {{attr.value}} </p>
            </mat-list-item>
            <mat-list-item *ngIf="!customFields.length" class="text-secondary text-center">
              Este producto no posee atributos...
            </mat-list-item>
          </mat-list>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <h5 class="m-3 d-none d-lg-block"> Carcterísticas de la compra </h5>
          <form [formGroup]="form">
            <ng-container *ngIf="options.length">
              <ng-container *ngFor="let field of options; let i = index">
                <mat-form-field>
                  <mat-select [placeholder]="field.name" [formControlName]="field.name" [(ngModel)]="selectOption[i]">
                    <mat-option *ngFor="let item of field.values" [value]="item">
                      {{item}}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    {{field.name}} es requerido
                  </mat-error>
                </mat-form-field>
              </ng-container>
            </ng-container>
            <h5 *ngIf="!options.length" class="text-center text-secondary">
              No existen opciones a elegir de este producto
            </h5>
            <mat-form-field>
              <input matInput placeholder="Unidades" type="number" min="1" formControlName="quantity" [max]="stockAviable" [(ngModel)]="quantity">
              <span matSuffix> x {{product.attributes.price | currency:'USD'}} </span>
              <mat-hint>Seleccione las unidades, no puede exceder de ({{stockAviable}})</mat-hint>
              <mat-error *ngIf="form.get('quantity').invalid">
                <span *ngIf="form.get('quantity').hasError('required')">Este campo es obligatorio</span>
                <span *ngIf="form.get('quantity').hasError('min')">La cantidad mínima debe ser 1</span>
                <span *ngIf="form.get('quantity').hasError('max')">La unidades no puede exceder el máximo de stock disponible ({{stockAviable}})</span>
              </mat-error>
            </mat-form-field>
          </form>
        </div>
      </div>
      
    </div>

  </ng-container>

  <div class="d-flex justify-content-center" *ngIf="!inPromise && !stockAviable">
    <h3>Lo sentimos, actualmente no hay productos en stock <mat-icon>sentiment_very_dissatisfied</mat-icon> </h3>
  </div>

</div>

<div mat-dialog-actions class="d-flex justify-content-center">
  <button mat-raised-button (click)="onClose()" cdkFocusInitial>Cerrar</button>
  <button mat-raised-button cdkFocusInitial *ngIf="form" [disabled]="form.invalid" color="primary" (click)="onAdd()">Agregar</button>
</div>
