<div *ngIf="showTemplate" fxLayout="1 1 100%" class="p-3" fxLayoutAlign="space-between center" style="background-color: rgb(251, 248, 147);">
  <ng-container [ngSwitch]="showTemplate">
    <p class="m-0" *ngSwitchCase="1">Hemos detectado que has iniciado sesión con una cuenta alternativa, te invitamos a que configures tu contraseña desde el
      <span class="text-info cursor-pointer" routerLink="/profile/perfil" (click)="removeTemplate()">panel de información del usuario</span>
    </p>
    <!--Puedes agregar mas templates acá...-->
  </ng-container>

  <button mat-icon-button (click)="removeTemplate()">
    <mat-icon>close</mat-icon>
  </button>
</div>
