<button mat-raised-button 
  class="btn-block" 
  color="primary" 
  (click)="onClick()" 
  [disabled]="disabled"
  *ngIf="!mobileQuery.matches">
  <mat-icon>shopping_cart</mat-icon> Comprar
</button>

<div class="">
  <button mat-raised-button 
    class="m-auto"
    color="primary"  
    (click)="onClick()"
    [disabled]="disabled"
    *ngIf="mobileQuery.matches">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>