<div class="mb-3">
  <div class="d-flex justify-content-between">
    <h3 class="m-0">Iniciar Sesión</h3>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider class="mt-1"></mat-divider>
</div>

<div mat-dialog-content>

  <form [formGroup]="form">
    <mat-form-field class="w-100">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput type="email" placeholder="example@ibigwave.com" formControlName="login"/>
      <mat-error>
        <span *ngIf="form.get('login').hasError('required')">Este campo es requerido</span>
        <span *ngIf="form.get('login').hasError('email')">El correo es inválido</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Contraseña</mat-label>
      <input matInput  [type]="hide ? 'text' : 'password'" formControlName="password">
      <mat-icon matSuffix class="cursor-pointer" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error>Este campo es requerido</mat-error>
    </mat-form-field>

    <button type="submit" [disabled]="form.invalid || loading" class="btn-block" mat-raised-button (click)='loginUser()' color="primary">
      Iniciar sesión
      <mat-spinner diameter="15" color="accent" class="d-inline-flex ml-1" *ngIf="loading"></mat-spinner>
    </button>
  </form>



  <div class="text-center my-1">
    <a class="text-primary cursor-pointer" (click)="openRememberPasswordDialog()">
      ¿Has olvidado la contraseña?
    </a>

    <p>
      Si no tienes cuenta
      <a class="text-primary cursor-pointer" (click)="openRegisterDialog()">
        Regístrate aquí
      </a>
    </p>
  </div>

  <mat-divider class="my-2"></mat-divider>

  <button class="btn btn-block btn-social btn-facebook mb-1" [disabled]="loadingSocialFacebook" (click)="signInWithFacebook()">
    <fa-icon [icon]="['fab','facebook']" size="1x"></fa-icon>
    Acceder con Facebook
    <mat-spinner diameter="15" class="d-inline-flex ml-1 mat-spinner-color" *ngIf="loadingSocialFacebook"></mat-spinner>
  </button>

  <button class="btn btn-block btn-social btn-google" [disabled]="loadingSocialGoogle" (click)="signInWithGoogle()">
    <fa-icon [icon]="['fab','google']" size="1x"></fa-icon>
    Acceder con Google
    <mat-spinner diameter="15" class="d-inline-flex ml-1 mat-spinner-color" *ngIf="loadingSocialGoogle"></mat-spinner>
  </button>

</div>
