<mat-spinner *ngIf="loading; else list" class="m-auto"></mat-spinner>
<ng-template #list>
	<ng-container *ngIf="items.length || itemsFullyAttr.length; else noData">
		<button class="button-absolute" style="left: 0" mat-icon-button (click)="owlList.prev()">
			<mat-icon>keyboard_arrow_left</mat-icon>
		</button>
		<owl-carousel-o [options]="options" #owlList>
      <ng-container *ngIf="isFullyProduct; else carouselProduct">
        <ng-container *ngFor="let product of itemsFullyAttr">
          <ng-template carouselSlide>
            <app-generic-product-item [item]="product"></app-generic-product-item>
          </ng-template>
        </ng-container>
      </ng-container>
      <ng-template #carouselProduct>
        <ng-container *ngFor="let product of items">
          <ng-template carouselSlide>
            <mat-card class="m-2 card-carousel-demo">
              <img mat-card-image (click)="goDetail(product.owner.type_profile, product.owner.id, product.id)" class="cursor-pointer" [src]="product.cover.url" onerror="this.src = 'assets/imgs/defecto.png'" alt="Pyme photo">
              <mat-card-content>
                <h5 class="text-capitalize my-1">{{product.name}}</h5>
                <p class="text-secondary my-1">{{product.price | currency}}</p>
                <small class="text-truncate text-primary my-1 font-weight-bold cursor-pointer" (click)="goToProfile(product.owner.type_profile, product.owner.id)">
                  {{product.owner.title}}
                </small>
              </mat-card-content>
              <mat-card-actions class="d-flex align-items-center justify-content-between">
                <app-cart-button [product]="product"></app-cart-button>
                <app-like [id]="product.id" [overrideWished]="product.is_wished_by_user" [price]="product.price"></app-like>
              </mat-card-actions>
            </mat-card>
          </ng-template>
        </ng-container>
      </ng-template>
		</owl-carousel-o>
		<button class="button-absolute" style="right: 0" mat-icon-button (click)="owlList.next()">
			<mat-icon>keyboard_arrow_right</mat-icon>
		</button>
	</ng-container>
	<ng-template #noData>
		<app-no-data-aviable-locale title="No hay productos disponibles"></app-no-data-aviable-locale>
	</ng-template>
</ng-template>
