<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="d-flex mt-3 flex-row align-items-center justify-content-start">
				<button mat-icon-button (click)="goBack()" class="mr-3" matTooltip="Volver">
					<mat-icon>keyboard_arrow_left</mat-icon>
				</button>
				<h2 class="m-0">Listado de Deseos ({{productName}})</h2>
			</div>
			<mat-divider class="w-100 m-2"></mat-divider>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col">
			<mat-accordion class="w-100">
				<mat-expansion-panel #filtersPanel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							Panel de Filtros
						</mat-panel-title>
						<mat-panel-description>
							Click para expandir
						</mat-panel-description>
					</mat-expansion-panel-header>

					<form [formGroup]="formFilter">
						<div class="row">
							<div class="col-12">
								<mat-form-field class="w-100">
									<mat-select placeholder="Estatus" formControlName="response">
										<mat-option [value]="false">Pendiente</mat-option>
										<mat-option [value]="true">Respondido</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-6">
								<mat-form-field class="w-100">
									<input matInput [matDatepicker]="desde" placeholder="Desde" formControlName="start_date" [max]="formFilter.get('end_date').value || currentDate">
									<mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
									<mat-datepicker #desde></mat-datepicker>
								</mat-form-field>
							</div>
							<div class="col-6">
								<mat-form-field class="w-100">
									<input matInput [matDatepicker]="hasta" placeholder="Hasta" formControlName="end_date" [min]="formFilter.get('start_date').value" [max]="currentDate">
									<mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
									<mat-datepicker #hasta></mat-datepicker>
								</mat-form-field>
							</div>
						</div>
						<div class="d-flex p-2" *ngIf="lastFilterData">
							<div class="alert alert-secondary w-100" role="alert">
								<h4 class="alert-heading d-flex"><mat-icon class="mr-2" inline>info</mat-icon> Filtros Aplicados:</h4>
								<p *ngIf="lastFilterData.response">Estatus: <b>{{lastFilterData.response ? 'Respondido': 'Pendiente'}}</b></p>
								<p *ngIf="lastFilterData.start_date">Desde: <b>{{lastFilterData.start_date}}</b></p>
								<p *ngIf="lastFilterData.end_date">Hasta: <b>{{lastFilterData.end_date}}</b></p>

								<div class="d-flex justify-content-end">
									<button mat-button type="button" matTooltip="Eliminará todos los filtros" (click)="viewAll()">
										Ver todo
									</button>
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-end align-items-center">
							<button mat-button type="button" (click)="formFilter.reset()">
								Limpiar Campos
							</button>
							<button mat-button (click)="applyFilters()" [disabled]="isFormEmpty()">
								Aplicar Filtros
							</button>
						</div>
					</form>


				</mat-expansion-panel>
			</mat-accordion>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<mat-paginator
				class="d-flex justify-content-center"
				[length]="controls?.pagination.total_objects"
				showFirstLastButtons
				[disabled]="loading"
				[pageSize]="pageSize"
				(page)="onPageEvent($event)"
				[pageSizeOptions]="[10, 25, 50]">
			</mat-paginator>
			<app-loading-spinner label="Cargando deseos..." diameter="50" *ngIf="loading; else noLoadingTmpl"></app-loading-spinner>
			<ng-template #noLoadingTmpl>
				<app-no-data-aviable-display
					*ngIf="!dataSource.data.length; else wishesTmpl"
					class="w-100 m-3"
					title="Sin deseos"
					content="No existen deseos. Puedes intentar probando otros filtros">
				</app-no-data-aviable-display>
				<ng-template #wishesTmpl>
					<mat-table [dataSource]="dataSource" matSort>

						<ng-container matColumnDef="name">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Nombre </mat-header-cell>
							<mat-cell mat-cell *matCellDef="let element"> {{element.name || 'N/A'}} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="created_at">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Creado </mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.created_at | dateNotification}} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="response">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Respondido </mat-header-cell>
							<mat-cell *matCellDef="let element">
								<mat-icon [ngClass]="element.response ? 'text-success': 'text-info'">{{element.response ? 'check_circle_outline': 'highlight_off'}}</mat-icon>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="user">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.user.name || 'N/A'}} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="budget">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Presupuesto </mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.budget | currency: 'USD' || 'N/A'}} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="opts">
							<mat-header-cell *matHeaderCellDef> </mat-header-cell>
							<mat-cell *matCellDef="let element">
								<button mat-icon-button class="mr-2" matTooltip="Conceder" (click)="answerWish(element)">
									<fa-icon icon="hand-holding-heart" size="2x"></fa-icon>
								</button>
								<button mat-icon-button matTooltip="Ver más" (click)="viewWish(element)">
									<fa-icon icon="eye" size="2x"></fa-icon>
								</button>
								<mat-spinner diameter="30" *ngIf="unwishing === element.id; else noUnwishingTmpl"></mat-spinner>
								<ng-template #noUnwishingTmpl>
									<button mat-icon-button class="mr-2" matTooltip="Romper Deseo" color="warn" (click)="discard(element)">
										<fa-icon icon="heart-broken" size="2x"></fa-icon>
									</button>
								</ng-template>

							</mat-cell>
						</ng-container>


						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					</mat-table>
				</ng-template>
			</ng-template>
		</div>
	</div>
</div>
