<h1 mat-dialog-title>Detalles de la Cotización</h1>
<div mat-dialog-content>

	<div class="d-flex flex-column flex-fill align-items-center justify-content-center" *ngIf="inFetch">
		<mat-spinner diameter="40"></mat-spinner>
		<h2>Cargando detalles...</h2>
	</div>

	<ng-container *ngIf="!inFetch">
		<form [formGroup]="form">

			<mat-card *ngIf="stageIsSoldOrLost()" class="d-flex p-4 justify-content-center align-items-center m-2">
				<mat-icon class="text-success mr-3">check_circle</mat-icon>
				<p class="m-0">La cotización ha llegado a su estado final (Vendida, Perdida). Por lo tanto la información será de solo vista previa.</p>
			</mat-card>

			<mat-card *ngIf="!isOwnProfile" class="d-flex p-4 justify-content-center align-items-center m-2">
				<mat-icon class="text-info mr-3">info</mat-icon>
				<p class="m-0">Solamente el dueño de la tienda puede editar esta información, si deseas cambiar algo deberás pedirle que el mismo lo haga.</p>
			</mat-card>

			<!--Listado de productos-->
			<h2 class="mt-2">Productos Cotizados</h2>
			<mat-divider class="mx-2"></mat-divider>

			<div class="row m-2 d-lg-flex d-md-flex d-none">
				<div class="col-md-3 col-12 d-flex justify-content-center align-items-center">
					<h5>Nombre del Producto</h5>
				</div>
				<div class="col-md-3 col-12 d-flex justify-content-center align-items-center">
					<h5>Características</h5>
				</div>
				<div class="col-md-3 col-12 d-flex justify-content-center align-items-center">
					<h5>Cantidad</h5>
				</div>
				<div class="col-md-3 col-12 d-flex justify-content-center align-items-center">
					<h5>Opciones</h5>
				</div>
			</div>
			<mat-divider class="mx-2"></mat-divider>

			<app-cotization-detail-item
				*ngFor="let control of getFormControlsFromItems(); let i=index;"
				[detail]="getDetailById(control.get('id').value)"
				[form]="form"
				[productList]="cotizationData.products"
				[index]="i"
				[isSoldOrLost]="stageIsSoldOrLost()"
				[isAdmin]="isOwnProfile">
			</app-cotization-detail-item>


			<!--Detalles-->
			<h2 class="mt-2">Mas Detalles</h2>
			<div class="jumbotron my-2">
				<p class="lead">Creado: <b> {{cotizationData.created_at | dateNotification}}</b></p>
				<p class="lead">Última modificación: <b>{{cotizationData.updated_at | dateNotification}}</b></p>
				<mat-divider class="my-3"></mat-divider>
				<p class="lead">Costo total: <b> {{cotizationData.price}}</b></p>
				<p class="lead">Cantidad de productos: <b>{{cotizationData.details.length}}</b></p>
				<mat-divider class="my-3"></mat-divider>
				<h5>
					Cambiar Estado de la Cotización (Estado actual: <b>{{diccStatus.get(cotizationData.stage)}}</b>)
					<mat-icon matTooltip="Si el estado es marcado como 'Vendida' o 'Perdida' no se podrá modificar más">info</mat-icon>
				</h5>
				<mat-form-field class="w-100" color="primary" *ngIf="isOwnProfile && !stageIsSoldOrLost(); else ReadOnlyStatus">
					<mat-select placeholder="Estatus" formControlName="stage">
						<mat-option *ngFor="let status of cotizationStatusKeys" [value]="status">
							{{diccStatus.get(status)}}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<ng-template #ReadOnlyStatus>
					<mat-form-field class="w-100" color="primary">
						<input matInput [value]="diccStatus.get(this.form.get('stage').value)" type="text" readonly placeholder="Estatus">
					</mat-form-field>
				</ng-template>

			</div>

			<!--Vista de cotización-->
			<div class="row justify-content-center align-items-center">
				<div class="col-12 col-lg-5">
					<div class="media flex-column shadow rounded px-3 py-2 m-2" style="background-color: #3f51b5;">
						<img [src]="cotizationData.client.avatar.url || '/assets/imgs/profile.jpg'" onerror="this.src='assets/imgs/profile.jpg'" class="align-self-center rounded-circle shadow border" width="75" height="75">
						<div class="media-body text-white w-100">
							<h4 class="text-truncate text-center">{{(cotizationData.client.name || '') +' '+ (cotizationData.client.lastname || '')}}</h4>
							<mat-divider class="m-2"></mat-divider>
							<p class="text-white d-flex m-1 text-truncate"><mat-icon>call</mat-icon>  {{cotizationData.client.phone_one || cotizationData.client.phone_two || 'N/A'}}</p>
							<p class="text-white d-flex m-1 text-truncate"><mat-icon>email</mat-icon> {{cotizationData.client.email}}</p>
						</div>
					</div>
				</div>

				<div class="col-4 col-lg-1 d-flex justify-content-center align-items-center">
					<mat-icon class="m-2 d-lg-block d-none" inline color="primary" style="font-size: 4em; line-height: 1em; height: 1em; width: initial;">
						keyboard_arrow_right
					</mat-icon>

					<mat-icon class="m-2 d-lg-none d-block" inline color="primary" style="font-size: 4em; line-height: 1em; height: 1em; width: initial;">
						keyboard_arrow_down
					</mat-icon>
				</div>

				<div class="col-12 col-lg-5">
					<div class="media flex-column shadow rounded px-3 py-2 m-2" style="background-color: #962626;">
						<img [src]="cotizationData.cotizable.photo || '/assets/imgs/profile.jpg'" onerror="this.src='assets/imgs/profile.jpg'" class="align-self-center rounded-circle shadow border" width="75" height="75">
						<div class="media-body text-white w-100">
							<h4 class="text-truncate text-center">{{cotizationData.cotizable.title}}</h4>
							<mat-divider class="m-2"></mat-divider>
							<p class="text-white d-flex m-1 text-truncate"><mat-icon>call</mat-icon> {{cotizationData.cotizable.phone || 'N/A'}}</p>
							<p class="text-white d-flex m-1 text-truncate"><mat-icon>email</mat-icon> {{cotizationData.cotizable.email || 'N/A'}}</p>
						</div>
					</div>
				</div>
			</div>
		</form>
	</ng-container>

</div>
<div mat-dialog-actions class="d-flex flex-column flex-sm-row">
	<button mat-button matDialogClose class="flex-fill">Cerrar</button>
	<button mat-raised-button color="primary" class="flex-fill" *ngIf="!stageIsSoldOrLost() && isOwnProfile" [disabled]="form?.invalid || inFetch" (click)="save()">Guardar Cambios</button>
</div>
