<div class="container-fluid">

  <div class="row d-md-none d-sm-block" style="margin-top: 2%">
    <div *ngIf="tabs == 0" class="col-2">
      <button mat-icon-button (click)="toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="col-8" style="padding-top: 8px;">
      <div class="row" style="padding-left: 33px;">
        <app-category-icono [icono]="categoryName" [colour]="'warn'"></app-category-icono>
        {{ categoryName }}
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12 col-11">
      <nav class="row" mat-tab-nav-bar mat-stretch-tabs>
        <a class="col-md-4" mat-tab-link (click)="tabs = 0" [active]="tabs == 0">
          Productos
        </a>
        <a class="col-md-4" mat-tab-link (click)="tabs = 1" [active]="tabs == 1">
          Profiles
        </a>
      </nav>
    </div>
  </div>

  <mat-spinner diameter="200" *ngIf="loadingProducts" style="margin:50px auto;" mode="indeterminate">
  </mat-spinner>

  <div class="row header" *ngIf="!loadingProducts" [ngClass]="getMyClass()"
    style="padding-top: 1%; padding-bottom: 1%; height: 130px;">



    <div class="col-md-2 d-none d-md-block" *ngIf="!loading">
      <!--<img class="brand-logo" src="assets/imgs/backgroundProfile.png" style="width: 110px; height: 100px;">-->
      <div style="width: 110px; height: 100px;font-size: 60px;text-align: center;background: white;">
        {{ categoryName.slice(0,1)}}
      </div>
    </div>


    <div class="col-md-8 d-none d-md-block align-self-center text-center" *ngIf="!loading">
      <h2 style="font-size: 3rem;">
        {{ categoryName }}
        <span>
          <app-category-icono [icono]="categoryName" [tamano]="36" [colour]="'warn'"></app-category-icono>
        </span>
      </h2>
    </div>

  </div>

  <div *ngIf="tabs == 0 && !loadingProducts" class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

      <mat-sidenav [opened]="mobileQuery.matches ? 'false' : true" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

        <mat-tree [dataSource]="dataSource3" [treeControl]="treeControl3">
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" style="cursor: pointer" (click)="logNode(node)">
            <!-- use a disabled button to provide padding for tree leaf -->
            <dd>{{node.name}}</dd>
            <button mat-icon-button disabled></button>
          </mat-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <dt>{{node.name}}</dt>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" class="Orden-Precio"
              style="left: 6%">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
              </mat-icon>
            </button>
          </mat-tree-node>
        </mat-tree>

        <mat-tree [dataSource]="dataSource2" [treeControl]="treeControl2">
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" style="cursor: pointer" (click)="logNode_category(node)">
            <!-- use a disabled button to provide padding for tree leaf -->
            <dd>{{node.name}}</dd>
            <button mat-icon-button disabled></button>

          </mat-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <dt>{{node.name}}</dt>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl2.isExpanded(node) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
              </mat-icon>
            </button>
          </mat-tree-node>
        </mat-tree>

        <mat-chip-list *ngIf="Sub_categoryName != undefined" style="display: flex;">
          <mat-chip [color]="accent" [selectable]="true" [removable]="removable">
            {{Sub_categoryName.length <= 28 ? Sub_categoryName : Sub_categoryName.slice(0, 25)+'...' }}
            <mat-icon matChipRemove *ngIf="removable" (click)="remove_subcategory()">
              cancel
            </mat-icon>
          </mat-chip>
        </mat-chip-list>

        <mat-tree *ngIf="products.length > 0 || !isCategory" [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" style="cursor: pointer" (click)="logNode_subcategory(node)">
            <!-- use a disabled button to provide padding for tree leaf -->
            <dd>{{node.name | truncar : 21}} ( {{node.products_charged}} ) </dd>
            <button mat-icon-button disabled></button>
          </mat-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <dt>{{node.name}}</dt>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" class="sub-category"
              style="left: 21%">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
              </mat-icon>
            </button>
          </mat-tree-node>
        </mat-tree>

      </mat-sidenav>

      <mat-sidenav-content style="min-width: 80%;min-height: 750px; background: white;">

        <div class="container-fluid">

          <mat-spinner diameter="200" *ngIf="loadingProducts_by_subacategory && !isCategory" style="margin:50px auto;"
            mode="indeterminate">
          </mat-spinner>

          <div class="row" *ngIf="!loadingProducts_by_subacategory" style="background: white;">
            <div class="col-md-8">
              <nav class="navbar navbar-white .bg-white">
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" [(ngModel)]="filtro" name="filtrado"
                    placeholder="Search" aria-label="Search">
                </form>
              </nav>
            </div>
          </div>

          <div class="row" *ngIf="!loadingProducts && isCategory" style="background: white;">
            <mat-card class="col-md-3 col-sm-3"
              *ngFor="let product of (products | paginCategory:page_size:page_number:'categoria':filtro:order_by)">
              <div class="pointer justify-content-center align-items-center" (click)="goToDetailProduct(product)">
                <img *ngIf="product.photo && product.photo != ''" [src]="product.photo" style="width: 100%;" />
                <img *ngIf="!product.photo || product.photo == ''" src="assets/imgs/defecto.png" style="width: 100%;" />
              </div>
              <div class="row justify-content-center" (click)="goToDetailProduct(product)">
                <div class="col-md-12 pointer justify-content-center">
                  <span><b>{{ product.name }}</b></span>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-12">
                  Stock:
                  <span *ngIf="product.stock > 0;else: elseStock">
                    {{product.stock}}
                  </span>
                  <ng-template #elseStock> Sin Stock </ng-template>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-12" style="color:#F759A0">
                  <span><strong>{{product.price | currency}}</strong>
                  </span>
                </div>
              </div>
              <div (click)="openProfile(product.type_profile, product.productable.slug)"
                class="row pointer justify-content-center">
                <div class="col-md-12">
                  <span><b>{{product.productable.title}}</b></span>
                </div>
              </div>
              <div class="row">
                <div class="col-9 col-md-9">
                  <app-cart-button [product]="product"></app-cart-button>
                </div>

                <div class="col-3 col-md-3">
                  <app-like [id]="product.id"></app-like>
                </div>
              </div>
            </mat-card>
          </div>

          <div class="row" *ngIf="!loadingProducts_by_subacategory && isSubcategory" style="background: white;">
            <mat-card class="col-md-3 col-sm-3"
              *ngFor="let product of (products | paginCategory:page_size:page_number:'subcategoria':filtro:order_by)">
              <div class="pointer justify-content-center align-items-center" (click)="goToDetailProduct(product)">
                <img src="assets/imgs/defecto.png" style="width: 100%;" />
              </div>
              <div class="row justify-content-center" (click)="goToDetailProduct(product)">
                <div class="col-md-12 pointer justify-content-center">
                  <span><b>{{ product.attributes.name }}</b></span>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-12">
                  Stock:
                  <span *ngIf="product.attributes.stock > 0;else: elseStock">
                    {{product.attributes.stock}}
                  </span>
                  <ng-template #elseStock> Sin Stock </ng-template>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-12" style="color:#F759A0">
                  <span><strong>{{product.attributes.price | currency}}</strong></span>
                </div>
              </div>
              <div class="row justify-content-center pointer"
                (click)="openProfile(product.attributes.type_profile, product.attributes.productable.slug)">
                <div class="col-md-12">
                  <span><b>{{product.attributes.productable.title}}</b></span>
                </div>
              </div>
              <div class="row">
                <div class="col-9 col-md-9">
                  <app-cart-button [product]="product.attributes"></app-cart-button>
                </div>

                <div class="col-3 col-md-3">
                  <app-like [id]="product.id"></app-like>
                </div>
              </div>
            </mat-card>
          </div>

          <div class="row" *ngIf="!loadingProducts && NotProducts">
            <mat-card class="example-card" *ngIf="products.length == 0">
              <mat-card-header>
                <mat-card-title>
                  No existen productos en esta categoria que concidan con tu ubicación
                </mat-card-title>
                <mat-card-subtitle>
                  Sugerencia
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content style="padding-left: 14px;">
                <p>
                  cambiar la ubicacion actual
                </p>
              </mat-card-content>
              <mat-card-actions style="padding-left: 17px">
                <button mat-raised-button color="primary" (click)="openSelectCountry()">
                  Cambiar pais
                </button>
              </mat-card-actions>
            </mat-card>
          </div>

          <div class="row" *ngIf="!loadingProducts_by_subacategory && isSubcategory">
            <mat-card class="example-card" *ngIf="products.length == 0">
              <mat-card-header>
                <mat-card-title>
                  No existen productos en esta subcategoria que concidan con tu ubicación
                </mat-card-title>
                <mat-card-subtitle>
                  Sugerencia
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content style="padding-left: 14px;">
                <p>
                  cambiar la ubicacion actual
                </p>
              </mat-card-content>
              <mat-card-actions style="padding-left: 17px">
                <button mat-raised-button color="primary" (click)="openSelectCountry()">
                  Cambiar pais
                </button>
              </mat-card-actions>
            </mat-card>
          </div>

          <div class="row" *ngIf="!loadingProducts_by_subacategory && !loadingProducts" style="background: white;">
            <div class="col-md-12">
              <mat-paginator *ngIf="!loadingProducts && products.length > 0" [length]="products.length"
                [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)"> </mat-paginator>
            </div>
          </div>

        </div>

      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>

  <div *ngIf="tabs == 1" class="example-container" style="padding: 3%">

    <mat-spinner diameter="200" *ngIf="!loadingProfil" style="margin:50px auto;" mode="indeterminate">
    </mat-spinner>

    <div class="row" *ngIf="loadingProfil" style="background: white;">
      <div class="col-md-3 col-12">
        <nav class="navbar navbar-white .bg-white">
          <form class="">
            <input class="form-control mr-sm-2" type="search" [(ngModel)]="filtro2" name="filtrado2"
              placeholder="Search" aria-label="Search" style="width: 100%">
          </form>
        </nav>
      </div>

      <div class="col-md-3 col-12">
        <button mat-icon-button [matMenuTriggerFor]="menu" style="top: 5px;left: 17px">
          <mat-icon>sort_by_alpha</mat-icon>
          <span>Orden Alfabetico</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)=" Alfa= true">
            <mat-icon>text_rotate_vertical</mat-icon>
            <span>Ordenar A-Z</span>
          </button>
          <button mat-menu-item (click)=" Alfa= false">
            <mat-icon>text_rotate_up</mat-icon>
            <span>Ordenar Z-A</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <br>

    <div class="row" *ngIf="loadingProfil">

      <mat-card
        *ngFor="let result of profiles | pagingProfiles:page_size_profil:page_number_profil:filtro2:Alfa; let last = last; let i = index "
        class="col-md-3 col-sm-3 col-xl-3">

        <div style="text-align:center;margin-bottom:20px;">
          <h5 class="pointer" (click)="openProfile(result.type_profile, result.slug)">{{result.title}}</h5>
          <div style="border-top: 5px solid #ffab40;margin-top:10px;"></div>
        </div>

        <div class="back-store">
          <img *ngIf="result.photo != undefined || result.photo != null" [src]="result.photo"
            style="width: 100%; height: 130px;" />

          <img *ngIf="result.photo == undefined || result.photo == null" src="assets/imgs/profile.jpg"
            style="width: 100%; height: 130px;" />

        </div>

        <div style="border-top: 5px solid #ffab40;margin-top:10px;"></div>
        <br />

        <mat-card-content class="text-center">


          <app-follow *ngIf="result.type_profile=='Pyme'" profileType="pyme" [id]="result.id"></app-follow>

          <app-follow *ngIf="result.type_profile=='Independent'" profileType="independent" [id]="result.id">
          </app-follow>

          <app-follow *ngIf="result.type_profile=='Seller'" profileType="seller" [id]="result.id">
          </app-follow>


        </mat-card-content>


      </mat-card>

    </div>

    <div class="row" *ngIf="loadingProfil && NotProfiles">

        <mat-card *ngIf="profiles.length == 0">
            <mat-card-header>
              <mat-card-title>
                No existen perfiles en esta categoria que concidan con tu ubicación
              </mat-card-title>
              <mat-card-subtitle>
                Sugerencia
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="padding-left: 14px;">
              <p>
                cambiar la ubicacion actual
              </p>
            </mat-card-content>
            <mat-card-actions style="padding-left: 17px">
              <button mat-raised-button color="primary" (click)="openSelectCountry()">
                Cambiar pais
              </button>
            </mat-card-actions>
        </mat-card>

    </div>


    <div class="row" *ngIf="loadingProfil && profiles.length > 0">
      <mat-paginator [length]="profiles.length" [pageSize]="page_size_profil" [pageSizeOptions]="pageSizeOptionsProfil"
        (page)="handlePageProfil($event)">
      </mat-paginator>
    </div>

  </div>


</div>
