@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn:    mat-palette($mat-red);

.color-primary {
	background:  aqua;
}

.color-accent {
	background: mat-color($accent);
}

.color-secondary {
	background: mat-color($warn);
}


mat-card {
	box-shadow: none !important;
	padding-top: 0 !important;
}

.mat-sidenav {
	border-right: none !important;
	min-width: 20%;padding-left:
	10px; padding-top: 10px;
	padding-right: 10px;
}

.material-icons.md-18 {
	font-size: 36px;
}

.example-container {
	display: flex;
	flex-direction: column;
	//position: absolute;
	//top: 243px;
	bottom: 0;
	left: 0;
	right: 0;
}

.example-is-mobile .example-toolbar {
	position: fixed;
	/* Make sure the toolbar will stay on top of the content as it scrolls past. */
	z-index: 2;
}

h1.example-app-name {
	margin-left: 8px;
}

.example-sidenav-container {
	/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
	flex: 1;
}

.example-is-mobile .example-sidenav-container {
	/* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
	flex: 1 0 auto;
}

.div-wrapper {
	margin: 0px !important;
}

.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 90%;
}

.example-full-width {
	width: 100%;
}

@media (max-width: 600px) {
	.mat-sidenav {
		position: absolute;
		top: 0px !important;
		min-width: 87% !important;
	}
	.example-sidenav-container {
		margin-top: 0px !important;
	}

	.header {
		display: none;
	}

	.Orden-Precio {
		left: 8% !important;
	}
	.sub-category {
		left: 23.6% !important;
	}
}
