<h1 mat-dialog-title class="text-capitalize" >{{data.tittle}}</h1>
<div mat-dialog-content>
  <p class="text-center text-secondary" [innerHTML]="data.message"></p>
</div>
<div mat-dialog-actions class="justify-content-center">
  <button mat-button (click)="onNoClick()">Cerrar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial *ngIf="data.confirm_message">
    {{data.confirm_message}}
  </button>
</div>