<div class="container">

  <h3 class="text-center">¡Pronto! Todas tus promociones en un solo lugar</h3>

  <hr class="ml-5 mr-5">

  <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/present-512.png" alt="" height="300" class="center-block" style="margin:10px auto;display:block;margin-top:120px;">

  <!--
  <mat-nav-list-product>
    <div>
      <div class="container-fluid">
        <div class="row">
          <h1 class="col col-6 col-md-8 col-lg-9" mat-subheader>Ofertas</h1>
          <button mat-raised-button class="col col-6 col-md-4 col-lg-3" color="primary" (click)="openCreateOffer()"
            style="margin-bottom: 2px">Agregar Oferta</button>
        </div>
      </div>

      <mat-divider></mat-divider>
-->
      <!--mat-spinner style="margin:150px auto;" mode="indeterminate" *ngIf="generalLoading"></mat-spinner-->
      <!--
      <div>
        <div *ngFor="let offer of myOffers">
          <mat-list-product-item>
            <img matListAvatar src="assets/imgs/profile.jpg" alt="...">
            <a matLine>{{offer.attributes.name}}</a>
            <button mat-icon-button>
              <mat-icon mat-list-product-icon>delete</mat-icon>
            </button>
          </mat-list-product-item>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>
  </mat-nav-list-product>
-->
</div>
