<h2 mat-dialog-title>Registrarse</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="w-100 mb-2">
      <mat-label>Nombres</mat-label>
      <input matInput formControlName="name" placeholder="Escribe tu nombre">
      <mat-error>
        <span *ngIf="form.get('name').hasError('required')">Este campo es obligatorio</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100 mb-2">
      <mat-label>Nombre de Usuario</mat-label>
      <input matInput formControlName="nickname" placeholder="Define un nombre de usuario u seudónimo">
      <mat-error>
        <span *ngIf="form.get('nickname').hasError('required')">Este campo es obligatorio</span>
        <span *ngIf="form.get('nickname').hasError('minlength')">El nombre de usuario es muy corto</span>
        <span *ngIf="form.get('nickname').hasError('pattern')">El nombre de usuario es inválido</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100 mb-2">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="login" placeholder="Escribe tu correo electrónico a asociar" type="email">
      <mat-error>
        <span *ngIf="form.get('login').hasError('required')">Este campo es obligatorio</span>
        <span *ngIf="form.get('login').hasError('email')">El correo es inválido</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100 mb-2">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" placeholder="Escribe tu contraseña" [type]="!hideP ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hideP = !hideP">{{hideP ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error>
        <span *ngIf="form.get('password').hasError('required')">Este campo es obligatorio</span>
        <span *ngIf="form.get('password').hasError('minlength')">La contraseña debería tener mínimo 8 carácteres</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100 mb-2">
      <mat-label>Repetir Constraseña</mat-label>
      <input matInput formControlName="password_confirmation" placeholder="Para confirmar repite tu contraseña" [type]="!hidePC ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePC = !hidePC">{{hidePC ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error>
        <span *ngIf="form.get('password_confirmation').hasError('required')">Este campo es obligatorio</span>
        <span *ngIf="form.get('password_confirmation').hasError('minlength')">La contraseña debería tener mínimo 8 carácteres</span>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-center align-items-center">
  <mat-spinner diameter="40" *ngIf="loading; else noLoadingTmpl"></mat-spinner>
  <ng-template #noLoadingTmpl>
    <button mat-button mat-dialog-close>
      Cerrar
    </button>
    <button mat-raised-button color="primary" (click)="register()" [disabled]="form.invalid">
      Crear
    </button>
  </ng-template>
</div>
