<div fxLayout="column" fxFlex>
  <div fxLayout="column" fxLayoutGap=".5em" class="mt-2 mx-2" fxFlex="0 1 auto">
    <h3>Selecciona un tipo de negocio</h3>
    <mat-divider class="mx-2"></mat-divider>
  </div>
  <app-loading-spinner label="Cargando..." *ngIf="loading; else noLoadingTmpl"></app-loading-spinner>
  <ng-template #noLoadingTmpl>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="3%" class="m-2">

      <div fxLayout="column" fxFlex="30%" fxFlex.lt-md="auto" class="mat-elevation-z2 bg-white" style="border-radius: 5px;">
        <img src="assets/imgs/01.jpg" alt="Pymes">
        <div class="m-2" fxFlex fxLayout="column">
          <div fxFlex>
            <strong>Negocio o tienda</strong>
            <mat-divider class="m-1 position-relative"></mat-divider>
            <p class="text-muted text-justify">
              Si tienes una tienda física o un negocio establecido de forma regular, muestra tus
              productos y servicios, has crecer tu emprendimiento de manera online con la ewave
            </p>
          </div>
          <div fxFlex></div>
          <button mat-button (click)="openCommerceDialog(ProfileTypes.PYMES)">Empezar</button>
          <div style="border-top: 10px solid #ffab40;margin-top:7px;"></div>
        </div>
      </div>

      <div fxLayout="column" fxFlex="30%" fxFlex.lt-md="auto" class="mat-elevation-z2 bg-white" style="border-radius: 5px;">
        <img src="assets/imgs/02.jpg" alt="Independents">
        <div class="m-2" fxFlex fxLayout="column">
          <div fxFlex>
            <strong>Profesional / Independiente / Oficios</strong>
            <mat-divider class="m-1 position-relative"></mat-divider>
            <p class="text-muted text-justify">
              Perfil creado para aquellas personas que ofrezcan sus servicios o productos de forma
              independiente o quieran dar a conocer sus oficios de manera online. Carpintero,
              Electricista, Gasfiter, Jardinero, Contador, Peluquero y más.
            </p>
          </div>
          <div fxFlex></div>
          <button mat-button (click)="openCommerceDialog(ProfileTypes.INDEPENDENTS)">Empezar</button>
          <div style="border-top: 10px solid #ffab40;margin-top:7px;"></div>
        </div>
      </div>

      <div fxLayout="column" fxFlex="30%" fxFlex.lt-md="auto" class="mat-elevation-z2 bg-white" style="border-radius: 5px;">
        <img src="assets/imgs/03.jpg" alt="Sellers">
        <div class="m-2" fxFlex fxLayout="column">
          <div fxFlex>
            <strong>Deseo Vender</strong>
            <mat-divider class="m-1 position-relative"></mat-divider>
            <p class="text-muted text-justify">
              Si solo deseas vender productos de segunda mano, o que nunca utilizaste, podrás
              publicarlos sin costo para llegar a más personas
            </p>
          </div>
          <div fxFlex></div>
          <button *ngIf="!mySellers.length; else adm" mat-button (click)="openCommerceDialog(ProfileTypes.SELLERS)">Empezar</button>
          <ng-template #adm>
            <button mat-button [routerLink]="['/profile/sellers']">Administrar</button>
          </ng-template>
          <div style="border-top: 10px solid #ffab40;margin-top:7px;"></div>
        </div>
      </div>
    </div>
  </ng-template>

</div>
