<div class="container mt-2 mb-2">
  <div class="row">
    <div class="col text-center mb-2">
			<img [src]="form?.get('banner').value || currentAdmin.attributes.banner.url || 'assets/imgs/04.jpg'" (click)="imageInput.click()" matTooltip="Actualizar Banner" class="img-cover-banner rounded cursor-pointer" onerror="this.src='assets/imgs/04.jpg'" [alt]="form.get('title').value">
			<input #imageInput type="file" class="d-none" (change)="handlePhotoUpload($event, 'banner')" accept="image/*">

      <div class="logo-avatar" matTooltip="Actualizar Avatar" style="margin-top: -80px;">
        <input class="d-none" type="file" #avatarInput (change)="handlePhotoUpload($event, 'photo')">
        <img (click)="avatarInput.click()" [src]="form?.get('photo').value || currentAdmin.attributes.photo.url || 'assets/imgs/profile.jpg'" onerror="this.src = 'assets/imgs/profile.jpg'" [alt]="form.get('title').value">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <h4 mat-card-title>Información de <b>{{currentAdmin.type === ProfileTypes.PYMES ? 'Tienda': currentAdmin.type === ProfileTypes.SELLERS ?  'Vendedor': 'Independiente'}}</b></h4><!--TODO-->
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="form">
            <div class="row">
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input matInput placeholder="Escriba el nombre de la tienda" formControlName="title">
                  <mat-hint class="d-none d-lg-block">El nombre descriptivo de la tienda público para los demás usuarios</mat-hint>
									<mat-error>Este campo es obligatorio</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="outline">
                  <mat-label>Correo</mat-label>
                  <input matInput type="email" placeholder="Escriba el correo de la tienda" formControlName="email">
                  <mat-hint class="d-none d-lg-block">Tu información de correo será pública para los demás usuarios</mat-hint>
									<mat-error>
										<span *ngIf="form.controls['email'].hasError('required')">Este campo es obligatorio</span>
										<span *ngIf="form.controls['email'].hasError('email')">El email es inválido</span>
									</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Descripción</mat-label>
                  <textarea matInput placeholder="Descripción de la tienda" formControlName="description"></textarea>
                  <mat-hint class="d-none d-lg-block">Cuéntale a los demás sobre quien eres, una buena descripción breve y concisa atrae mas la atención de tus usuarios</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="outline">
                  <mat-label>Misión</mat-label>
                  <textarea matInput placeholder="Misión breve" formControlName="mission"></textarea>
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="outline">
                  <mat-label>Visión</mat-label>
                  <textarea matInput placeholder="Visión breve" formControlName="vision"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="outline">
                  <mat-label>Slug</mat-label>
                  <input matInput placeholder="Escriba un slug" formControlName="slug">
									<button mat-icon-button matSuffix matTooltip="Generar slug partiendo del nombre" (click)="generateAutoSlug()" [disabled]="form.controls['title'].invalid">
										<mat-icon>link</mat-icon>
									</button>
                  <mat-hint>El slug es la versión amigable de la URL del nombre. Suele estar en minúsculas y contiene solo letras y números</mat-hint>
									<mat-error>
										<span *ngIf="form.controls['slug'].hasError('required')">Este campo es obligatorio</span>
										<span *ngIf="form.controls['slug'].hasError('pattern')">El slug debe contener solo letras, números y guiones. Sin espacios ni caracteres especiales. Ejemplo 'bigwave-latino-es'</span>
									</mat-error>
								</mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="outline">
                  <mat-label>Categorías</mat-label>
                  <mat-select placeholder="Seleccione las categorías de la tienda" formControlName="category_ids" multiple>
                    <mat-option *ngFor="let option of categories" [value]="option.id">
                      {{ option.attributes.name }}
                    </mat-option>
                  </mat-select>
                  <mat-spinner diameter="15" *ngIf="loadingCategories" matSuffix></mat-spinner>
                  <mat-error>Este campo es obligatorio</mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
					<app-loading-bar-progress fxFlex [uploadingBarProgress]="uploadingBarProgress" *ngIf="loading"></app-loading-bar-progress>
          <button *ngIf="!loading" mat-raised-button color="primary" [disabled]="form.invalid" (click)="update()">
            Guardar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
