.card-carousel-product .mat-card-image {
	height: 250px;
	object-fit: contain;
	margin: 0;
	width: 100%;
}

.mat-chip-list-wrapper {
	flex-direction: column;
	align-items: flex-start;
}

.mat-button-toggle-label-content{
	display: flex;
}

.sidenav-container{
	flex: 1;
	height: 100%;
}
