<mat-sidenav-container hasBackdrop="false">
	<mat-sidenav mode="over" class="sidenav-container" autosize [(opened)]="sidenavOpen">
		<div class="m-3 d-flex align-items-center justify-content-between">
			<h4 class="mb-0">Filtrar por Categorías</h4>
			<button mat-icon-button class="ml-2" (click)="sidenavOpen = false;">
				<mat-icon>close</mat-icon>
			</button>
		</div>
		<mat-divider class="mx-1"></mat-divider>
		<app-loading-spinner label="Cargando categorías..." diameter="30" *ngIf="loadingCategories; else categoriesTmpl"></app-loading-spinner>
		<ng-template #categoriesTmpl>
			<div class="m-3 d-flex flex-column justify-content-around" *ngIf="categoriesSelected.length">
				<div class="mb-2" *ngIf="categoriesSelected.length">
					<h5 class="mb-1">Categorías:</h5>
					<mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
						<ng-container *ngFor="let category of categoriesSelected">
							<mat-chip class="d-flex justify-content-between" color="primary" [value]="category" [removable]="true" (removed)="onCategoryRemove(category)">
								{{category.name}}
								<mat-icon matChipRemove>cancel</mat-icon>
							</mat-chip>
						</ng-container>
					</mat-chip-list>
				</div>
			</div>
			<mat-divider class="mx-1"></mat-divider>
			<app-tree-node-generic [data]="categoriesToTree" (selected)="onCategorySelect($event)"></app-tree-node-generic>
		</ng-template>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="d-flex mt-3 flex-row align-items-center justify-content-start">
						<h3>Mis Deseos</h3>
					</div>
					<mat-divider class="w-100 m-2"></mat-divider>
				</div>
			</div>
			<div class="row">
				<div class="col d-flex flex-row">
					<button style="line-height: 50px" color="primary" mat-icon-button class="mr-2" (click)="sidenavOpen = !sidenavOpen" matTooltip="Filtrar por categorías">
						<fa-icon icon="layer-group" size="2x"></fa-icon>
					</button>

					<mat-form-field class="flex-fill">
						<mat-label>Buscar por nombre</mat-label>
						<input matInput #filterInput>
					</mat-form-field>

					<mat-button-toggle-group name="sortBy" aria-label="Sort By" class="mx-2 p-2" (change)="onSortChanges($event)">
						<mat-button-toggle value="ASC" matTooltip="Mayor Precio">
							<fa-icon class="my-2" icon="sort-amount-up" size="2x"></fa-icon>
						</mat-button-toggle>
						<mat-button-toggle value="DESC" matTooltip="Menor Precio">
							<fa-icon class="my-2" icon="sort-amount-up-alt" size="2x"></fa-icon>
						</mat-button-toggle>
					</mat-button-toggle-group>
				</div>
			</div>
			<app-loading-spinner label="Cargando deseos..." diameter="50" *ngIf="loading; else noLoadingTmpl"></app-loading-spinner>
			<ng-template #noLoadingTmpl>
				<div class="row">
					<app-no-data-aviable-display
						*ngIf="!wishes.length; else wishesTmpl"
						class="w-100 m-3"
						title="Sin deseos"
						content="Todavía no existen productos que hayan sido deseados">
					</app-no-data-aviable-display>
					<ng-template #wishesTmpl>
						<ng-container *ngFor="let wish of wishes | filterBy: 'attributes.name': filterInput.value | paginatorSlicer: pageSize: pageIndex: 'attributes.wisheable.price': sort">
							<div class="col-lg-3 col-md-4 col-12">
								<mat-card class="m-2 card-carousel-product">
									<img mat-card-image (click)="goDetail(wish.attributes.wisheable.type_profile, wish.attributes.owner.id, wish.attributes.wisheable.id)" matTooltip="Ver producto TODO"
											 class="cursor-pointer" [src]="'cover'" onerror="this.src = 'assets/imgs/defecto.png'" alt="Pyme photo">
									<mat-card-content>
										<h6 class="text-truncate">Nombre: <b>{{wish.attributes.name || 'N/A'}}</b></h6>
										<p class="text-truncate">Presupuesto: <b>{{wish.attributes.budget | currency}}</b></p>
										<mat-divider class="m-2 position-relative"></mat-divider>
										<h6 class="text-truncate">Producto: <b>{{wish.attributes.wisheable.name}}</b></h6>
										<p class="text-truncate">Precio: <b>{{wish.attributes.wisheable.price | currency}}</b></p>
									</mat-card-content>
									<mat-card-actions class="d-flex align-items-center justify-content-center">
										<mat-spinner diameter="30" *ngIf="unwishing === wish.id; else wishOptsTmpl"></mat-spinner>
										<ng-template #wishOptsTmpl>
											<button mat-icon-button color="warn" (click)="unwish(wish.id)" matTooltip="Romper Deseo">
												<fa-icon icon="heart-broken" size="2x"></fa-icon>
											</button>
										</ng-template>
									</mat-card-actions>
								</mat-card>
							</div>
						</ng-container>
					</ng-template>
				</div>
			</ng-template>
			<div class="row">
				<div class="col-12">
					<mat-paginator
						class="w-100 mt-1 d-flex justify-content-center"
						showFirstLastButtons
						[length]="(wishes | filterBy: 'attributes.name': filterInput.value).length"
						[pageSizeOptions]="[4, 8, 12]"
						(page)="onPageEvent($event)">
					</mat-paginator>
				</div>
			</div>

		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
