<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="d-flex mt-3 flex-row align-items-center justify-content-between">
				<h2>Publicaciones</h2>
				<button type="button" mat-raised-button (click)="add()">
					CREAR PUBLICACIÓN
				</button>
			</div>
			<mat-divider class="w-100 m-2"></mat-divider>
		</div>
	</div>
	<app-loading-spinner label="Cargando Publicaciones..."  *ngIf="loading; else postsListTempl"></app-loading-spinner>
	<ng-template #postsListTempl>
		<div class="row">
			<div class="col">
				<mat-form-field class="w-100" appearance="outline">
					<mat-label>Filtrar por título:</mat-label>
					<input matInput #filterInput>
				</mat-form-field>
			</div>
		</div>
		<div class="row" *ngIf="posts.length; else noPostsTmpl">
			<ng-container
				*ngFor="let post of (posts | filterBy: 'attributes.title': filterInput.value | paginatorSlicer: pageSize: pageIndex)">
				<div class="col-12 col-md-6 col-lg-4">
					<div class="card mb-3 w-100">
						<div class="row no-gutters">
							<div class="col-md-4 d-flex">
								<img [src]="post.attributes.banner || 'assets/imgs/defecto.png'" class="card-img align-self-center" alt="img">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<div class="d-flex align-items-center justify-content-between">
										<h5 class="card-title m-0 text-truncate text-capitalize">{{post.attributes.title}}</h5>

										<button type="button" mat-icon-button [matMenuTriggerFor]="options">
											<mat-icon>more_vert</mat-icon>
										</button>
									</div>

									<mat-menu #options="matMenu" overlapTrigger xPosition="before">
										<button mat-menu-item (click)="delete(post.id)">
											<mat-icon>delete_forever</mat-icon>
											<span>ELIMINAR</span>
										</button>
										<button mat-menu-item (click)="update(post)">
											<mat-icon>create</mat-icon>
											<span>MODIFICAR</span>
										</button>
										<button mat-menu-item (click)="view(post)">
											<mat-icon>open_in_new</mat-icon>
											<span>VER</span>
										</button>
									</mat-menu>

									<p class="card-text fixed" [innerHTML]="getPostContentMin(post.attributes.content)"></p>
									<p class="card-text">
										<small class="text-muted">
											<ng-container *ngIf="post.attributes.created_at === post.attributes.updated_at; else modifiedTmpl">
												Creado:
											</ng-container>
											<ng-template #modifiedTmpl>
												Modificado:
											</ng-template>
											{{post.attributes.updated_at | dateNotification}}
										</small>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-container>
			<mat-paginator class="w-100 d-flex justify-content-center" [length]="(posts | filterBy: 'attributes.title': filterInput.value).length" [pageSizeOptions]="[3, 6, 12]" (page)="onPageEvent($event)"></mat-paginator>
		</div>
		<ng-template #noPostsTmpl>
			<app-no-data-aviable-display></app-no-data-aviable-display>
		</ng-template>
	</ng-template>

</div>
