<div class="container-fluid">
  
  <div class="row">

    <div class="col-md-2 d-none d-md-block">
      <!-- Barra Lateral en caso de ser > 769px -->
      <div class="col-md-12 col-lg-12 justify-content-center" *ngFor="let image of images; index as i">
        <ng-container>
          <div (mouseenter)='changeMainImage(i)' [ngClass]="{'border border-primary': i == mainImage }"
            class="image-thumbnail d-none d-md-flex" [style.backgroundImage]="'url('+image.thumbnailUrl+')'"
            style="height:80px; width: 80px">
          </div>
        </ng-container>
      </div>
    </div>

    <div class="col-md-10 d-none d-md-block">
      <ngx-image-zoom *ngIf="mainImageUrl()" [magnification]=3 [enableScrollZoom]=true [enableLens]=true [lensWidth]=250
        [lensHeight]=250 [circularLens]=false [thumbImage]="mainImageUrl()" [fullImage]="mainImageUrl()">
      </ngx-image-zoom>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12 d-sm-block d-md-none">
      <div class="owl-carousel owl-theme owl-loaded" style="text-align: center;">
        
        <div class="owl-stage-outer">
          <div class="owl-stage">
            <div *ngFor="let image of images; index as i" class="owl-item">
              <div class="image-cover" [style.backgroundImage]="'url('+image.thumbnailUrl+')'">
              </div>
            </div>
          </div>
        </div>

        <div class="owl-controls">
          <div class="owl-nav">
            <div class="owl-prev" (click)="Mover('anterior')">
              <button mat-icon-button>
                <mat-icon svgIcon="arrow_riht" aria-label="Example icon-button with a heart icon">
                </mat-icon>
              </button>
            </div>
            <div class="owl-next" (click)="Mover('siguiente')">
              <button mat-icon-button>
                <mat-icon svgIcon="arrow_left" aria-label="Example icon-button with a heart icon">
                </mat-icon>
              </button>
            </div>
          </div>
          <div class="owl-dots">
            <div class="owl-dot active"><span></span></div>
            <div class="owl-dot"><span></span></div>
            <div class="owl-dot"><span></span></div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>