.owl-prev {
  position: absolute;
  //top: 40%;
  left: 33%;
}

.owl-next {
  position: absolute;
  //top: 40%;
  right: 33%;
}


.main-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
}

.image-thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2px;
}

.image-cover {
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
}

.active-thumbnail {
  border-left: 2px solid #f62884;
}

::ng-deep .ngxImageZoomContainer { 
  width:100% !important;
  height:100% !important
}

::ng-deep .ngxImageZoomThumbnail{
  width:100% !important;
}

::ng-deep .ngxImageZoomFull {
  background-position-y: -25%;
  background-position-x: -25%;
}


