
<div class="shadow border border-dark bg-profile-wrapper p-3" style="max-width: 15em;">
  <button class="text-white position-absolute" [routerLink]="['/admin', adminData.type, adminData.id, 'informacion']" style="right: 15px; top: 0;" mat-icon-button matTooltip="Ir a Mi Perfil">
    <mat-icon>settings</mat-icon>
  </button>

  <img class="m-auto rounded-circle border border-dark d-block" height="50" width="50" [src]="!adminData.attributes.banner ? 'assets/imgs/profile.jpg': adminData.attributes.banner"  onerror="this.src='assets/imgs/profile.jpg'">
  <div class="text-white trucate mt-1">
    <div class="d-flex text-center flex-nowrap text-truncate m-2">
      <mat-icon class="mr-2">{{iconographyProfile.get(adminData.type === TypesProfiles.PYMES ? TypesIcons.PYME : adminData.type === TypesProfiles.INDEPENDENTS ? TypesIcons.INDEPENDENT : TypesIcons.SELLER)}}</mat-icon>
      <h5 class="m-0">{{adminData.attributes.title}}</h5>
    </div>
  </div>
</div>

<mat-nav-list class="mt-1">
  <a mat-list-item [routerLink]="['/admin', adminData.type, adminData.id, 'pizarra']"> <!--TODO -->
    <fa-icon [icon]="['fas', 'chalkboard-teacher']"></fa-icon>
    Pizarra
  </a>
  <a mat-list-item [routerLink]="['/admin', adminData.type, adminData.id, 'publicaciones']">
    <fa-icon [icon]="['fas', 'bullhorn']"></fa-icon>
    Publicaciones
  </a>
  <a mat-list-item  [routerLink]="['/admin', adminData.type, adminData.id, 'productos']">
    <fa-icon [icon]="['fas', 'shapes']"></fa-icon>
    Productos
  </a>
  <a mat-list-item [routerLink]="['/admin', adminData.type, adminData.id, 'mensajes']">
    <fa-icon [icon]="['fas', 'comments']"></fa-icon>
    Mensajes
  </a>
	<a mat-list-item [routerLink]="['/admin', adminData.type, adminData.id, 'deseos']">
		<fa-icon [icon]="['fas', 'heart']"></fa-icon>
		Deseos
	</a>
  <a mat-list-item [routerLink]="['/admin', adminData.type, adminData.id, 'promociones']">
    <fa-icon [icon]="['fas', 'ticket-alt']"></fa-icon>
    Promociones
  </a>
  <a mat-list-item [routerLink]="['/admin', adminData.type, adminData.id, 'estadisticas']">
    <fa-icon [icon]="['fas', 'chart-pie']"></fa-icon>
    Estadísticas
  </a>
  <a mat-list-item [routerLink]="['/admin', adminData.type, adminData.id, 'pedidos']">
    <fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon>
    Pedidos
  </a>
  <a mat-list-item [routerLink]="['/admin', adminData.type, adminData.id, 'clientes']">
    <fa-icon [icon]="['fas', 'users']"></fa-icon>
    Clientes
  </a>
  <a mat-list-item [routerLink]="['/admin', adminData.type, adminData.id, 'ubicacion-horarios']"><!--TODO-->
    <fa-icon [icon]="['fas', 'map-marked-alt']"></fa-icon>
    Ubicación y Horarios
  </a>
</mat-nav-list>
