.mat-nav-list{

  .mat-icon, fa-icon{
    margin: 0 20px;
  }

  a.mat-list-item{
    color: whitesmoke;
  }
}

.bg-profile-wrapper{
  background: linear-gradient(135deg, #1f68a7 0%, #3B40FF 58%, #5445d6 100%)
}
