
<div class="container-fluid" style="background-color: #f7f7f7">
  <div class="row">
    <div class="col mb-3 mt-3">
      <h2>Carrito de compras</h2>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid" *ngIf="!cartList.length">
    <div class="container">
      <h1>No hay productos!</h1>
      <p class="lead">Le invitamos a que visite nuestras secciones de productos destacados</p>
    </div>
  </div>
  <div class="row" *ngIf="cartList.length">
    <div class="col-12 col-lg-8">
      <!--profiles foreach-->
      <ng-container *ngFor="let profile of cartList">
        <mat-card class="shadow mb-2 mt-2 border">
          <mat-card-content>
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <h5 class="pt-2 text-capitalize profile-tittle">{{profile.profile_name}}</h5>
                <button mat-icon-button matTooltip="Visitar el perfil" (click)="goToProfile(profile.profile_url)" ><mat-icon>link</mat-icon></button>
              </div>
              <div class="d-flex pt-2">
                <span class="d-none d-lg-block">Total a cotizar "{{profile.profile_name}}":</span>
                <span class="font-weight-bolder ml-2">{{getTotalByProfile(profile.profile_id) | currency: 'USD'}}</span>
              </div>
            </div>
            <mat-divider class="mb-3 mt-1"></mat-divider>

            <!--items foreach-->
            <ng-container *ngFor="let item of profile.items; let i = index;">
              <div class="m-3 d-block">

                <button class="card-opts" mat-icon-button [matMenuTriggerFor]="options"><mat-icon>more_vert</mat-icon></button>

                <mat-menu #options="matMenu" xPosition="before">
                  <button mat-menu-item (click)="deleteItem(profile.profile_id, item)">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Eliminar</span>
                  </button>
                  <button mat-menu-item disabled>
                    <mat-icon>open_in_new</mat-icon>
                    <span>Ver Producto</span>
                  </button>
                </mat-menu>

                <div class="media">
                  <img src="assets/imgs/defecto.png" height="120" class="d-none d-lg-block border rounded align-self-center mr-3">
                  <div class="media-body">
                    <h5 class="mt-0 text-capitalize">{{item.product_name}}</h5>

                    <div class="d-flex justify-content-around m-2">
                      <div>
                        <button mat-icon-button [disabled]="item.quantity === 1" (click)="increaseOrDecrease(profile.profile_id, item)">
                          <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                        <span class="font-weight-bold">
                          {{item.quantity}}
                        </span>
                        <button mat-icon-button [disabled]="item.quantity === item.stock" (click)="increaseOrDecrease(profile.profile_id, item, true)">
                          <mat-icon>add_circle_outline</mat-icon>
                        </button>
                      </div>
                      <div class="d-flex justify-content-end mt-2">
                        <span class="font-weight-light">Subtotal:&nbsp;</span>
                        <span class="font-weight-bold">{{ (item.quantity * item.price) | currency: 'USD'}}</span>
                      </div>
                    </div>
              
                    <mat-accordion>
                      <mat-expansion-panel class="border">
                        <mat-expansion-panel-header>
                          Mas detalles
                        </mat-expansion-panel-header>
                        <p>Precio unitario: {{item.price | currency: 'USD'}}</p>
                        <ng-container *ngFor="let opt of item.option_values">
                          <p>{{ opt.name +': '+ opt.value }}</p>
                        </ng-container>
                        <p>Cantidad disponible: {{item.stock}}</p>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </div>
              <mat-divider class="m-2 position-relative" *ngIf="profile.items.length !== 1+i"></mat-divider>
            </ng-container>
            <!--/items foreach-->

          </mat-card-content>
          <!--Opciones del perfil-->
          <mat-divider>
          </mat-divider>
          <mat-card-actions class="text-right">
            <button mat-raised-button color="warn" (click)="deleteByProfile(profile.profile_id)">
              <mat-icon>delete_forever</mat-icon>
              <span class="d-none d-lg-inline-block button-label">Eliminar productos de "{{profile.profile_name}}"</span>
            </button>
            <button mat-raised-button color="primary" (click)="quoteByProfile(profile.profile_id)">
              <mat-icon>attach_money</mat-icon>
              <span class="d-none d-lg-inline-block button-label">Cotizar a solo "{{profile.profile_name}}"</span>
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
      <!--/profiles foreach-->
    </div>
    <!--Opciones del carrito -->
    <div class="col-12 col-lg-4">
      <mat-card class="sticky-top-2 border">
        <mat-card-header>
          <mat-card-title>Detalles globales</mat-card-title>
          <mat-card-subtitle>Los precios actuales no incluyen el envío</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Cantidad de productos: {{totalQuantity}}</p>
          <div class="d-flex justify-content-around mt-1">
            <span class="pt-2">Total a cotizar:</span>
            <h3 style="color: #ff4081;">{{totalGlobal | currency: 'USD'}}</h3>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="quoteAll()" class="btn-block">
            <mat-icon class="mr-1">attach_money</mat-icon>
            Cotizar a todos
          </button>
          <button mat-raised-button class="btn-block m-0 mt-1" (click)="deleteAll()">
            <mat-icon class="mr-1">close</mat-icon>
            Vaciar mi carrito
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  
</div>
