.card-opts{
    position: absolute;
    right: 0px;
}

.sticky-top-2{
    position: sticky;
    top: 2rem;
}

.profile-tittle{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 45vw;
}

.button-label{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 20vw;
}