button.button_wish {
  color: grey;
}
.active_wish {
  color: #ed0087 !important;
}
.social-network button {
  font-size: 30px;
}

.custonListItem > div {
  padding-left: 0 !important;
}

.borderless {
  border: none;
}

.item_description {
  min-height: 50px;
}


.modal {
  position: absolute;
  left: 15px; 
  top: 53px;
  width:330px ;
  height: 128px;
  background: white; 
}

.p {
  text-align: justify
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }




@media (max-width: 600px) {
  .nameProduct {
    font-size: 1.7rem;;
  }
}