<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>


<div class="container-fluid" style="padding-top: 20px;">

  <div class="row justify-content-between" *ngIf="!loading">

    <!--contenedor de imagenes y descripcion lado izquierdo-->
    <div class="col-md-7">
      <!--imagenes conetndor-->
      <div class="row">
        <div class="col-12 col-md-12">
          <app-imgs-product></app-imgs-product>
        </div>
      </div>
      <br>

    </div>

    <!--contenedor de informacion-->
    <div class="col-md-4">

      <!-- nombre -->
      <div class="row">
        <div class="col-9 col-md-12">
          <h1 class="nameProduct" style="word-break: break-word">{{ product.attributes.name }}</h1>
        </div>
        <div class="col-3 d-sm-block d-md-none">
           <app-like [id]="product.id"></app-like>
        </div>
      </div>

			<div class="row">
				<div class="col">
					<p>{{product.attributes.description || 'No hay descripción disponible'}}</p>
				</div>
			</div>

      <!--nombre de el profile con su icono-->
      <div class="row" style="padding-left:4%;">
        <mat-icon class="d-none d-md-block" style="padding-top: 1.5%">{{iconography.get(profileType)}}</mat-icon>
        <h5 class="d-none d-md-block" (click)="openProfile()" (mouseover)="view(false)" (mouseout)="view(true)"
          style="cursor: pointer; padding-top: 1.5%">
          {{product.attributes.productable.title }}</h5>
      </div>

      <!-- modal dinamico con datos del profile -->
      <div class="modal d-none border-right border-bottom" [ngClass]="{'d-md-block': !view_modal }"
        (mouseover)="view(false)" (mouseout)="view(true)">
        <div class="row" (click)="openProfile()" style="cursor: pointer; padding-left:10% ">
          <mat-icon style="padding-top: 1.5%">{{iconography.get(profileType)}}</mat-icon>
          <h5 style=" padding-top: 1.5%">{{ product.attributes.productable.title }}</h5>
        </div>
        <div class="row" style="padding-left:5%">
          <app-follow [profileType]="profileType" [id]="product.id">
          </app-follow>
        </div>
        <div class="row" style="padding-left:10%">
          Email: {{product.attributes.productable.email}}
        </div>
        <div class="row" style="padding-left:10%">
          Telefono: {{product.attributes.productable.phone}}
        </div>
      </div>
      <!--precio y moneda-->
      <div class="row">
        <div class="col-md-4 d-none d-md-block " style="color:#ED0087">
          <h3>
            <b>${{ product.attributes.price }}
              {{ product.attributes.currency }}</b>
          </h3>
        </div>
      </div>

      <!--grantias y custom -->
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item borderless pl-0" *ngFor="let custom of product.attributes.custom_fields">
              <div class="row">
                <div class="col-md-3 text-left">
                  <b>{{ custom.name }}: </b>
                </div>
                <div class="col-md-8 text-left">{{ custom.value }}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- opciones como talla -->
      <div class="row" *ngIf="product.attributes.options.length > 0">

        <mat-form-field class="col-12 col-md-6 col-lg-6"
          *ngFor="let option of product.attributes.options; let i = index">
          <mat-select [placeholder]="option.name" (selectionChange)="onSubmit($event,i)" [formControl]="optionControl"
            required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let value of option.values" [value]="value">
              {{ value }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!cart.option_values[option.id] && option.name == 'Tallas'">
            selecciona una opcion
          </mat-error>
          <mat-error *ngIf="!cart.option_values[option.id] && option.name == 'Colores'">
            selecciona una opcion
          </mat-error>
          <mat-hint>{{optionControl.value?.sound}}</mat-hint>
        </mat-form-field>

      </div>

      <br class="d-none d-md-block">

      <!--se muestra si hay stock-->
      <div class="row" *ngIf="product.attributes.stock > 0; else: elsestock">

        <!--cantidad-->
        <div class="col-12 col-md-3 d-none d-md-block">
          <p>Cantidad</p>
        </div>

        <!--caja para seleccionar la cantidad-->
        <div class="col-12 col-md-6 d-none d-md-block">
          <div class="row border">
            <div class="col-3 col-md-3">
              <button style="text-align:left" mat-icon-button [ngClass]="{ disabled: basket <= 1 }"
                (click)="removeBasket()">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
            <div class="col-6 col-md-6">
              <input matInput type="number" class="form-control text-center" min="1" [max]="product.attributes.stock"
                [(ngModel)]="basket" (keyup)="valuechange($event, i, j)" [disabled]="blockAddItem"
                style="width:100%;text-align: center; " />
            </div>
            <div class="col-3 col-md-3">
              <button style="text-align:left" mat-icon-button (click)="addBasket()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <!--
            <div class="col-md-5">
              unidad<span *ngIf="basket > 1">es</span> de
              {{ product.attributes.stock }} disponibles.
            </div>
            -->
      </div>

      <br class="d-none d-md-block">

      <!--precio total segun cantidad seleccionada-->
      <div class="row" *ngIf="product.attributes.stock > 1">
        <div class="col-md-12 d-none d-md-block">
          Precio Total:
          <b>{{ product.attributes.price * basket }}
            {{ product.attributes.currency }}</b>
        </div>
      </div>

      <br class="d-none d-md-block">

      <!--caja de botones agg card y deseo -->
      <div class="row">
        <div class="col-md-5 d-none d-md-block">
          <app-cart-button [cart]="cart" [product]="product.attributes"></app-cart-button>
        </div>
        <div class="col-md-3 d-none d-md-block">
          <app-like [id]="product.id"></app-like>
        </div>
      </div>

      <br class="d-none d-md-block">

      <!--caja de botones de compartir-->
      <div class="row">
        <div class="col-4 col-md-2 d-none d-md-block">
          <button mat-fab shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
            <fa-icon [icon]="{ prefix: 'fab', iconName: 'facebook' }" size="lg"></fa-icon>
          </button>
        </div>
        <div class="col-4 col-md-2 d-none d-md-block">
          <button mat-fab shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
            <fa-icon [icon]="{ prefix: 'fab', iconName: 'twitter' }" size="lg"></fa-icon>
          </button>
        </div>
        <div class="col-4 col-md-2 d-none d-md-block">
          <button mat-fab shareButton="google" [style.backgroundColor]="share.prop.google.color">
            <fa-icon [icon]="{ prefix: 'fab', iconName: 'google' }" size="lg"></fa-icon>
          </button>
        </div>
      </div>

      <div class="row d-md-none d-sm-block" *ngIf="!loading" style="margin: 10px;">

        <div class="col-6" (click)="openProfile()">
          <div class="row padding-left: 11px;">
            <mat-icon color="warn">{{iconography.get(profileType)}}</mat-icon>
            <span>
              {{product.attributes.productable.title.length <= 11 ? product.attributes.productable.title : product.attributes.productable.title.slice(0, 11)+'...' }}
            </span>
          </div>
        </div>

        <div class="col-3">
          <div *ngIf="product.attributes.productable" class="row">
            <span *ngIf="product.attributes.productable.score == null">
              0.0
            </span>
            {{product.attributes.productable.score}}
            <mat-icon class="md-18">
              start</mat-icon>
          </div>
          <!-- <div class="col-4">
                {{resultsPage.length}}<mat-icon style="float: right;">local_offer</mat-icon>
              </div>-->
        </div>
        <!--
            <div class="col-3">
              <button mat-icon-button color="warn">
                <mat-icon svgIcon="email" aria-label=""></mat-icon>
              </button>
            </div>-->

        <div class="col-3" style="top:-10px">
          <app-follow [profileType]="profileType" [id]="product.id">
          </app-follow>
        </div>

      </div>

      <div class="row d-md-none d-sm-block" style="padding-bottom: 7px;">

        <div class="col-4">
          <div class="row">
            <div class="col-12 col-md-4" style="color:#ED0087; top: 7px">
              <h3 style="word-break: break-word;font-size: 1.25rem;">
                <b>${{ product.attributes.price }}
                  {{ product.attributes.currency }}</b>
              </h3>
            </div>
          </div>
        </div>

        <div class="col-5">
          <div class="row border">
            <div class="col-4 col-md-3">
              <button style="text-align:left" mat-icon-button [ngClass]="{ disabled: basket <= 1 }"
                (click)="removeBasket()">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
            <div class="col-4 col-md-6">
              <input matInput type="number" class="form-control text-center" min="1" [max]="product.attributes.stock"
                [(ngModel)]="basket" (keyup)="valuechange($event, i, j)" [disabled]="blockAddItem"
                style="width:100%;text-align: center; " />
            </div>
            <div class="col-4 col-md-3">
              <button style="text-align:left" mat-icon-button (click)="addBasket()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="row" style="padding-left: 8px;">
            <app-cart-button [cart]="cart" [product]="product.attributes"></app-cart-button>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
