<h2 mat-dialog-title>Empieza tu negocio gratis con la Ewave</h2>

<div mat-dialog-content>

  <form [formGroup]="form" fxLayout="column" fxFlex>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap=".5em">
      <mat-form-field fxFlex.lt-md="50%" fxFlex>
        <mat-label>Nombre del negocio</mat-label>
        <input matInput type="text" formControlName="title" placeholder="Nombre descriptivo" />
        <mat-error>Este campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex.lt-md="50%" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Email de tu negocio"/>
        <mat-error>
          <span *ngIf="form.get('email').hasError('required')">Este campo es requerido</span>
          <span *ngIf="form.get('email').hasError('email')">El email es incorrecto</span>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field fxFlex>
      <mat-label>Descripción del Negocio</mat-label>
      <textarea matInput placeholder="Descripción de la tienda" formControlName="description" style="columns: 2; resize: none"></textarea>
      <mat-hint class="d-none d-lg-block">Cuéntale a los demás sobre quien eres, una buena descripción breve y concisa atrae mas la atención de tus usuarios</mat-hint>
      <mat-error>Este campo es requerido</mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap=".5em">
      <mat-form-field fxFlex.lt-md="50%" fxFlex>
        <mat-label>Categorías</mat-label>
        <mat-select placeholder="Seleccione las categorías de la tienda" formControlName="category_ids" multiple>
          <mat-option *ngFor="let option of categories" [value]="option.id">
            {{ option.attributes.name }}
          </mat-option>
        </mat-select>
        <mat-spinner diameter="15" *ngIf="loadingCategories" matSuffix></mat-spinner>
      </mat-form-field>

      <mat-form-field fxFlex.lt-md="50%" fxFlex>
        <mat-label>Dirección</mat-label>
        <input matInput type="text" #search formControlName="address" placeholder="Escriba una dirección" autocomplete="off" autocapitalize="off" spellcheck="false"/>
      </mat-form-field>
    </div>

    <agm-map [latitude]="location.lat" [longitude]="location.lng" (mapClick)="loadAndSetAddress($event)"
             [zoom]="14" style="height: 200px;">
      <agm-marker (dragEnd)="loadAndSetAddress($event)" [markerDraggable]="true" [latitude]="location.lat" [longitude]="location.lng">
      </agm-marker>
    </agm-map>

  </form>

</div>

<mat-dialog-actions class="justify-content-center align-items-center">
  <button mat-raised-button (click)="onNoClick()">
    Cancelar
  </button>

  <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || loading" (submit)="create()" (click)="create()">
    Crear
    <mat-spinner diameter="15" class="d-inline-flex ml-1" *ngIf="loading"></mat-spinner>
  </button>
</mat-dialog-actions>
