<h1 mat-dialog-title class="text-capitalize">{{data.attributes.title}}</h1>
<div mat-dialog-content>
	<div class="d-flex justify-content-center">
		<img [src]="data.attributes.banner || 'assets/imgs/defecto.png'" height="300" class="rounded">
	</div>
	<small class="text-muted d-flex justify-content-center m-1">
		<ng-container *ngIf="data.attributes.created_at === data.attributes.updated_at; else modifiedTmpl">
			Creado:
		</ng-container>
		<ng-template #modifiedTmpl>
			Modificado:
		</ng-template>
		{{data.attributes.updated_at | dateNotification}}
	</small>
	<p class="text-justify" [innerHTML]="data.attributes.content"></p>
</div>
<div mat-dialog-actions>
	<button mat-button mat-dialog-close class="flex-fill">
		Cerrar
	</button>
</div>
