<div class="d-flex flex-column flex-fill h-100">
	<mat-toolbar color="primary" class="shadow-sm">
		<div class="d-flex text-white">
			<mat-icon class="align-self-center mr-2">message</mat-icon>
			<h2>Chat</h2>
		</div>
		<div class="flex-fill"></div>
		<button mat-icon-button matTooltip="Cerrar Ventana" (click)="chatService.toggleSidenav()">
			<mat-icon class="text-white">close</mat-icon>
		</button>
	</mat-toolbar>

	<ng-container [ngSwitch]="(chatService.isConnectedToChat | async)">

		<div class="d-flex flex-column justify-content-center flex-fill h-100" *ngSwitchCase="false">
			<mat-spinner diameter="50" class="align-self-center"></mat-spinner>
			<p class="text-center">Estamos conectando con servicio de chat, por favor espere...</p>
		</div>

		<div class="d-flex flex-row flex-fill h-100" *ngSwitchDefault>
			<!--Lista de Chats-->
			<div class="position-relative shadow-sm py-2 overflow-auto" style="width: 20%; border-right: 2px solid #e0e0e0;">
				<app-chat-list></app-chat-list>
			</div>

			<!--Contenedor Chat-->
			<div class="d-flex position-relative h-100" style="flex: 1 1 80%;">

				<!--Container para chat Abierto-->
				<div class="position-relative d-flex flex-column" *ngIf="currentChatOpened">

					<!--Sección de Mensajes-->
					<div #Scrollable class="overflow-auto p-1 flex-grow-1">
						<div class="d-flex flex-column rounded p-1" style="background-color: #ececec; position: sticky; top: 0;" *ngIf="currentChatOpened.cotization">
							<p class="m-0" *ngIf="getCotizationByIndex(0)">{{getCotizationByIndex(0).name + ' x' + getCotizationByIndex(0).quantity}}</p>
							<p class="m-0" *ngIf="getCotizationByIndex(1)">{{getCotizationByIndex(1).name + ' x' + getCotizationByIndex(1).quantity}}</p>
							<button mat-button class="text-info" (click)="openDetailCotization(currentChatOpened.cotization.id)">
								Ver mas
							</button>
						</div>
						<!--Cuerpo de mensajes-->
						<ng-container *ngFor="let message of currentChatOpened.body_messages">
							<div class="media" [ngClass]="isCurrentUser(message) ? 'current-user' : 'sender-user flex-row-reverse'">
								<img
									[src]="message.messageable_id === currentChatOpened.receptor_messageable.id ? currentChatOpened.receptor_messageable.custom_avatar : currentChatOpened.sender_messageable.custom_avatar"
									onerror="this.src='assets/imgs/profile.jpg'"
									width="35"
									class="mx-2 align-self-end rounded-circle"
									[matTooltip]="isCurrentUser(message) ? this.currentChatOpened.sender_messageable.name : this.currentChatOpened.receptor_messageable.name"
									alt="chat_img">

								<div class="flex-column">
									<div class="media-body">
										<p class="m-1 p-3">{{message.body}}</p>
									</div>
									<small>{{message.created_at | dateNotification}}</small>
								</div>
							</div>
						</ng-container>
					</div>

					<!--Campo de texto para escritura-->
					<div class="shadow p-2" style="background-color: #fbfbfb;">
						<form [formGroup]="form">
							<mat-form-field appearance="outline" class="w-100">
								<textarea matInput matTextareaAutosize matAutosizeMinRows="2" placeholder="Escribe tu mensaje" formControlName="send_message" (keydown.enter)="sendMessage($event)"></textarea>
								<button mat-icon-button matSuffix [disabled]="!form.get('send_message').value" (click)="sendMessage()">
									<mat-icon>send</mat-icon>
								</button>
								<mat-hint>Escribiendo como: {{currentChatOpened.sender_messageable.name}}</mat-hint>
							</mat-form-field>
						</form>
					</div>
				</div>

				<!-- *ngIf="!currentChat" Si no existe ningun chat abierto-->
				<div class="p-2 position-absolute align-self-center d-flex flex-column align-items-center text-secondary" *ngIf="!currentChatOpened">
					<mat-icon inline="true" style="font-size: 5rem">comment</mat-icon>
					<p class="text-center">Debe seleccionar una conversación para poder chatear con otros usuarios.</p>
					<button mat-button routerLink="/profile/mensajes">Ir a Conversaciones</button>
				</div>
			</div>
		</div>
	</ng-container>
</div>
