.media.current-user{
	small{
		float: right;
	}

	p{
		background-color: #3f51b4;
		color: whitesmoke;
		border-radius: 10px;
		width: 13.8em;
		max-width: 13.8em;
		word-wrap:break-word;
	}
}

.media.sender-user{
	small{
		float: left;
	}

	p{
		background-color: #e4e4e4;
		color: #272727;
		border-radius: 10px;
		width: 13.8em;
		max-width: 13.8em;
		word-wrap:break-word;
	}
}
