<div class="d-flex justify-content-between align-items-center">
  <h2 mat-dialog-title class="m-0">Nuevo Producto</h2>
  <button mat-icon-button (click)="close(false)">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-divider class="mb-2"></mat-divider>

<app-loading-spinner *ngIf="loading" diameter="60"></app-loading-spinner>

<mat-dialog-content *ngIf="!loading">
  <div class="container-fluid">
    <app-alert-generic-message
      message="Agrega un producto o servicio de forma rapida y facíl. Para un mayor detalle de caracteristicas entra en al sección de editar."
    ></app-alert-generic-message>

    <div class="row">
      <div class="col">
        <mat-form-field class="w-100">
          <input
            matInput
            type="text"
            placeholder="Nombre del producto"
            [(ngModel)]="product.name"
            [value]="product.name"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form [formGroup]="stateForm">
          <mat-form-field class="w-100">
            <input
              type="text"
              matInput
              placeholder="Categorías"
              formControlName="stateGroup"
              [matAutocomplete]="autoGroup"
              [(ngModel)]="subcategory_name"
            />
            <mat-autocomplete #autoGroup="matAutocomplete">
              <mat-optgroup
                *ngFor="let option of stateGroupOptions | async"
                [label]="option.category"
              >
                <mat-option
                  *ngFor="let subcategory of option.subcategories"
                  [value]="subcategory.name"
                  (click)="addSubcategory(subcategory)"
                >
                  {{ subcategory.name }}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
          </mat-form-field>
          <mat-chip-list>
            <mat-chip
              color="primary"
              *ngFor="let category of subcategories2"
              [selectable]="true"
              [removable]="removable"
              (removed)="removeSubcategory(category, category.id)"
            >
              {{ category.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-12 col-md-4">
            <mat-form-field class="w-100">
              <mat-select
                placeholder="Moneda"
                [formControl]="myControl"
                [(ngModel)]="product.currency"
              >
                <mat-option
                  *ngFor="let money of moneyType"
                  [value]="money.value"
                  (click)="typeMoney = money.value"
                >
                  {{ money.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Precio"
                type="number"
                [(ngModel)]="product.price"
              />
              <span matPrefix *ngIf="typeMoney === 'CLP'">$&nbsp;</span>
              <span matPrefix *ngIf="typeMoney === 'USD'">$&nbsp;</span>
              <span matPrefix *ngIf="typeMoney === 'BS'">Bs.&nbsp;</span>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Stock"
                type="number"
                [(ngModel)]="product.stock"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <textarea
                matInput
                placeholder="Descripción"
                [(ngModel)]="product.description"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <input
          type="file"
          #file
          (change)="onSelectFile($event)"
          accept="image/*"
          class="d-none"
        />
        <div
          (click)="file.click()"
          class="d-flex justify-content-center align-items-center border rounded cursor-pointer"
          style="height: 150px;flex-direction: column;"
        >
          <img *ngIf="imagen" [src]="imagen" alt="product" />
          <mat-icon
            *ngIf="!imagen"
            style="color: #888;font-size: 48px;width: 48px;height: 48px"
            >photo_camera</mat-icon
          >
          <div *ngIf="!imagen" style="text-align: center; font-size: 11px;">
            <label
              >Te recomendamos que la foto que subas sea de 250px * 250px</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions
  *ngIf="!loading"
  class="justify-content-center align-items-center"
>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button (click)="createProduct()" color="primary">
    Crear
  </button>
</mat-dialog-actions>
