<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
  crossorigin="anonymous">-->

<!-- IMAGEN TOP -->
<!-- ---------------------------------------------------------------------- -->

<div class="container-fluid front-store" *ngIf="store">
  <div class="container">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card color="primary">
          <h1>Extiende tu negocio</h1>
          <hr>
          <mat-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim vulputate lectus eu tempus. Nunc laoreet
              sollicitudin enim non sodales.</p>
          </mat-card-content>
          <button mat-raised-button color="primary">¡Empieza Ya!</button>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div class="container-fluid front-independent" *ngIf="independent">
  <div class="container">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card color="primary">
          <h1>Empieza tu proyecto</h1>
          <hr>
          <mat-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim vulputate lectus eu tempus. Nunc laoreet
              sollicitudin enim non sodales.</p>
          </mat-card-content>
          <button mat-raised-button color="primary">¡Empieza Ya!</button>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div class="container-fluid front-seller" *ngIf="seller">
  <div class="container">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card color="primary">
          <h1>Recupera tu inversión</h1>
          <hr>
          <mat-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim vulputate lectus eu tempus. Nunc laoreet
              sollicitudin enim non sodales.</p>
          </mat-card-content>
          <button mat-raised-button color="primary">¡Empieza Ya!</button>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>


<!-- Informacion generica -->
<!-- ---------------------------------------------------------------------- -->

<div class="container" style="margin-top:3%;margin-bottom:5%;">
  <h1 style="text-align: center;">Ajustate a tus necesidades</h1>
  <div class="section-border"></div>
  <br>
  <mat-grid-list cols="3" rowHeight="100px" class="hidden-xs">
    <mat-grid-tile>
      <div class="info-card">
        <div class="info-card-title text-left">
          Múltiples Funcionalidades
        </div>
        <div class="info-card-content">
          Explore una amplia variedad de herramientas para hacer crecer su negocio
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="info-card">
        <div class="info-card-title text-left">
          Autoadministración online
        </div>
        <div class="info-card-content">
          Administra tu tienda de manera autónoma sin pagar mensualidades
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="info-card">
        <div class="info-card-title text-left">
          Acceso de por vida
        </div>
        <div class="info-card-content">
          Sin tiempo limite como otras plataformas
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<hr>

<!-- ---------------------------------------------------------------------- -->
<!--                              STORE                                     -->
<!-- ---------------------------------------------------------------------- -->

<div class="container" style="margin-top:5%;margin-bottom:5%;" *ngIf="store">
  <h1 style="text-align: center;">Tiendas que venden mas usando nuestros servicios</h1>
  <div class="section-border"></div>

  <mat-grid-list cols="2" gutterSize="20px" rowHeight="200px">
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>

          <mat-card-title>
            <h4>Ventas aseguradas</h4>
            <hr>
          </mat-card-title>
          <i class="material-icons">launch</i>

        </mat-card-header>

        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet ullamcorper nibh, a fringilla dolor.Nullam
            vulputate elit ex. Fusce elementum facilisis dolor, sed mollis ex eleifend in. Vivamus.</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>

        <mat-card-header>
          <mat-card-title>
            <h4>Ventas aseguradas</h4>
            <hr>
          </mat-card-title>
          <i class="material-icons float-right">warning</i>

        </mat-card-header>

        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet ullamcorper nibh, a fringilla dolor.
            Nullam vulputate elit ex. Fusce elementum facilisis dolor, sed mollis ex eleifend in. Vivamus.</p>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>

        <mat-card-header>
          <mat-card-title>
            <h4>Ventas aseguradas</h4>
            <hr>
          </mat-card-title>
          <i class="material-icons float-right">search</i>
        </mat-card-header>

        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet ullamcorper nibh, a fringilla dolor.Nullam
            vulputate elit ex. Fusce elementum facilisis dolor, sed mollis ex eleifend in. Vivamus.</p>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>

        <mat-card-header>
          <mat-card-title>
            <h4>Ventas aseguradas</h4>
            <hr>
          </mat-card-title>
          <i class="material-icons float-right">reorder</i>
        </mat-card-header>

        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet ullamcorper nibh, a fringilla dolor.Nullam
            vulputate elit ex. Fusce elementum facilisis dolor, sed mollis ex eleifend in. Vivamus.</p>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<hr *ngIf="store">
<div class="container-fluid img-divide" style="margin-top:5%;margin-bottom:5%;" *ngIf="store"></div>
<hr *ngIf="store">

<div class="container" style="margin-top:5%;margin-bottom:5%;" *ngIf="store">
  <h1 style="text-align: center;">Tiendas que venden mas usando nuestros servicios</h1>
  <div class="section-border" style="margin-bottom:30px;"></div>

  <mat-grid-list cols="2" gutterSize="20px" rowHeight="2:1">
    <mat-grid-tile>
      <div class="info-card">
        <div class="info-card-title text-left">
          Autoadministración online
        </div>
        <div class="info-card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium dolor vel nibh eleifend commodo.
            Fusce interdum id tellus eu auctor. Aenean bibendum est ut iaculis molestie. Mauris a arcu ante. Aliquam at suscipit
            ligula, nec sollicitudin libero. Donec augue.</p>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/magnifyingglass-512.png" alt="Smiley face" height="500"
        width="500">
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/locked-512.png" alt="Smiley face" height="500" width="500">
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="info-card">
        <div class="info-card-title text-left">
          Autoadministración online
        </div>
        <div class="info-card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium dolor vel nibh eleifend commodo.
            Fusce interdum id tellus eu auctor. Aenean bibendum est ut iaculis molestie. Mauris a arcu ante. Aliquam at suscipit
            ligula, nec sollicitudin libero. Donec augue.</p>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- ---------------------------------------------------------------------- -->
<!--                              INDEPENDIENTE                             -->
<!-- ---------------------------------------------------------------------- -->

<div class="container" style="margin-top:5%;margin-bottom:5%;" *ngIf="independent">
  <h1 style="text-align: center;">Vende cualquier cosa de forma rápida</h1>
  <div class="section-border" style="margin-bottom:30px;"></div>

  <mat-grid-list cols="2" gutterSize="20px" rowHeight="2:1">

    <mat-grid-tile>
      <div class="info-card">
        <div class="info-card-title text-left">
          Autoadministración online
        </div>
        <div class="info-card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium dolor vel nibh eleifend commodo.
            Fusce interdum id tellus eu auctor. Aenean bibendum est ut iaculis molestie. Mauris a arcu ante. Aliquam at suscipit
            ligula, nec sollicitudin libero. Donec augue.</p>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/gear-512.png" alt="Smiley face" height="500" width="500">
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/location-512.png" alt="Smiley face" height="500" width="500">
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="info-card">
        <div class="info-card-title text-left">
          Autoadministración online
        </div>
        <div class="info-card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium dolor vel nibh eleifend commodo.
            Fusce interdum id tellus eu auctor. Aenean bibendum est ut iaculis molestie. Mauris a arcu ante. Aliquam at suscipit
            ligula, nec sollicitudin libero. Donec augue.</p>
        </div>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>

<hr *ngIf="independent">
<div class="container-fluid img-divide" style="margin-top:5%;margin-bottom:5%;" *ngIf="independent"></div>
<hr *ngIf="independent">

<div class="container" style="margin-top:5%;margin-bottom:5%;" *ngIf="independent">
  <h1 style="text-align: center;">Consigue los expertos que necesitas</h1>
  <div class="section-border" style="margin-bottom:30px;"></div>

  <mat-grid-list cols="2" gutterSize="20px" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>

          <mat-card-title>
            <h4>Consigue tu mejor aliado</h4>
            <hr>
          </mat-card-title>
          <i class="material-icons">launch</i>

        </mat-card-header>

        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet ullamcorper nibh, a fringilla dolor.Nullam
            vulputate elit ex. Fusce elementum facilisis dolor, sed mollis ex eleifend in. Vivamus.</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h4>Arma tu equipo</h4>
            <hr>
          </mat-card-title>
          <i class="material-icons float-right">reorder</i>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet ullamcorper nibh, a fringilla dolor.Nullam
            vulputate elit ex. Fusce elementum facilisis dolor, sed mollis ex eleifend in. Vivamus.</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-512.png" alt="Smiley face" height="500" width="500">
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/contacts-512.png" alt="Smiley face" height="500" width="500">
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- ---------------------------------------------------------------------- -->
<!--                              SELLER                                    -->
<!-- ---------------------------------------------------------------------- -->
<div class="container" style="margin-top:5%;margin-bottom:5%;" *ngIf="seller">
  <h1 style="text-align: center;">Vende cualquier cosa de forma rápida</h1>
  <div class="section-border" style="margin-bottom:30px;"></div>

  <mat-grid-list cols="2" gutterSize="20px" rowHeight="2:1">
    <mat-grid-tile>
      <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/browser-512.png" alt="Smiley face" height="500" width="500">
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h4>Obten maximos ingresos</h4>
            <hr>
          </mat-card-title>
          <i class="material-icons">launch</i>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet ullamcorper nibh, a fringilla dolor.Nullam
            vulputate elit ex. Fusce elementum facilisis dolor, sed mollis ex eleifend in. Vivamus.</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h4>Vende al mejor precio</h4>
            <hr>
          </mat-card-title>
          <i class="material-icons float-right">reorder</i>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet ullamcorper nibh, a fringilla dolor.Nullam
            vulputate elit ex. Fusce elementum facilisis dolor, sed mollis ex eleifend in. Vivamus.</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/money-512.png" alt="Smiley face" height="500" width="500">
    </mat-grid-tile>

  </mat-grid-list>
</div>


<hr *ngIf="seller">

<div class="container-fluid img-divide" style="margin-top:5%;margin-bottom:5%;" *ngIf="seller"></div>
<hr *ngIf="seller">

<div class="container" style="margin-top:5%;margin-bottom:5%;" *ngIf="seller">
  <h1 style="text-align: center;">Se el numero uno del mercado</h1>
  <div class="section-border"></div>
  <br>
  <mat-grid-list cols="2" gutterSize="20px" rowHeight="4:1" class="hidden-xs">
    <mat-grid-tile [colspan]="1" [rowspan]="4">
      <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/dolly-512.png" alt="Smiley face" height="450" width="450">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="info-card">
        <div class="info-card-title text-left">
          Autoadministración online
        </div>
        <div class="info-card-content">
          Administra tu tienda de manera autónoma sin pagar mensualidades
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="info-card">
        <div class="info-card-title text-left">
          Autoadministración online
        </div>
        <div class="info-card-content">
          Administra tu tienda de manera autónoma sin pagar mensualidades
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="info-card">
        <div class="info-card-title text-left">
          Autoadministración online
        </div>
        <div class="info-card-content">
          Administra tu tienda de manera autónoma sin pagar mensualidades
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="info-card">
        <div class="info-card-title text-left">
          Autoadministración online
        </div>
        <div class="info-card-content">
          Administra tu tienda de manera autónoma sin pagar mensualidades
        </div>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>

<hr *ngIf="seller">

<app-footer></app-footer>