.img-divide{

    background:url("../../../../assets/imgs/02.jpg"); ;
    height: 30vh;
    background-size: cover;
    background-position: center;

}

.front-store{

    background:url("../../../../assets/imgs/04.jpg"); ;
    height: 60vh;
    background-size: cover;
    background-position: center;

}

.front-seller{

    background:url("../../../../assets/imgs/01.jpg"); ;
    height: 60vh;
    background-size: cover;
    background-position: center;

}

.front-independent{

    background:url("../../../../assets/imgs/02.jpg"); ;
    height: 60vh;
    background-size: cover;
    background-position: center;

}


.section-border{
    border-bottom: 4px solid #ffab40;
    margin-left: 8%;
    margin-right: 8%;
}

.info-card {
    margin: 50px 0px 80px 0px !important;
    min-height: 100px;
    width: 100%;
    border-left: 4px solid #3f51b5;
    padding: 10px;
    display: inline-block;
}

.info-card-title {
    font-weight: bold;
}


.info-card-content {
    padding-top: 10px;
}


footer {
    background: #3f51b5;
    padding: 10px;
    color: #fff;
    font-size: 16px;
}

footer i {
    padding-top: 10px;
    font-size: 13px;
}

