@import '../../../../../node_modules/@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn:    mat-palette($mat-red);

.color-primary {
    background: aqua;
}

.color-accent {
    background: #40ff58;
}

.color-secondary {
    background: #ecff86;
}


.stick-menu{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 999;
    transition: width 0.2s;
    box-shadow: rgb(160,195,255) 0 0.5px 4px;
    height: 64px;

}

.mat-tab-header, .mat-tab-nav-bar {
    border-bottom: none;
}

.profile-store-header {
    height: 130px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 1em;
}

agm-map {
    height: 300px;
}

.logo-store{
    position: relative;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.store-link {
    position: absolute;
    top: -50px;
    //bottom: -16px;
    //margin-left: 10px;
    text-align: center;
}

.store-img {
    width: 130px;
    height: 110px;
    padding: 4px;
    position: relative;
   // top: 2px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 -1px 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 -1px 2px 0 rgba(0,0,0,.1);
}

.contenedor-principal{
    background:white;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.box {
    display: flex;
}

.box-information {
    display: flex;
   flex-wrap: wrap;
   background-color: #FFF;
}

.box div.A {
    flex: 0 0 18%;
    max-width: 18%;
    background-color: #FFF;
}

.box div.B {
    flex: 0 0 82%;
    max-width: 82%;
    background-color: #fff;
}

.background-cards-noti{
    padding: 10px 0 10px 0;
    background-color: #eee;
}

.filters {
    padding: 10px;
}

.item-filters{
    padding: 5px 0 5px 0;
}

.list-items{
    list-style: none;
    padding: 0;
    margin: 0;
  }

.list-items p:hover{

    color: #111010a6;
    cursor: pointer;
    font-size: 14px;
    padding-right: 1px;
  }

  // revisar
  .xflex-container {
   // padding: 0;
    //margin: 0;
    list-style: none;

    //display: -webkit-box;
    //display: -moz-box;
    //display: -ms-flexbox;
    //display: -webkit-flex;
    //display: flex;

    //flex-flow: row wrap;
    //justify-content: flex-start;
  }

  .xflex-item {
    margin: 1% 2% 1% 2%;
    width: 230px;
    text-align: center;
  }

  .xflex-item-dest {
    margin: 1% 2% 1% 2%;
    width: 195px;
    text-align: center;
  }

  .xflex-item-information {
    margin: 1% 2% 1% 2%;
    width: 130px;
    text-align: center;
  }

  .section-card-container:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
    cursor: hand;
  }

  .container-padre{
      max-width: 98.9%;
  }

  .card {
    background: #fafafa;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    min-height: 200px;
    width: 100%;
  }

  .card-content{
      min-height: 60px;
      background: #eee;
  }

  .card-icon {
      position: absolute;
  }

  .pagination-detail {
    margin: 2%;
    padding: 2%;
  }

/*
  .mat-list-product-base .mat-list-product-item .mat-list-product-text, .mat-list-product-base .mat-list-product-option .mat-list-product-text {
    display: flex;
    flex-direction: column;
    width: 10%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
  } */

  .order-div {
    margin: 0 8% 0 0;
  }

  .size-order{
      width: 35%;
      padding: 5px;
  }

  .cards-noti {
    padding: 2%;
  }

  mat-card {
    box-shadow: none !important;
    padding-top: 0 !important;
  }

  .cards-noti mat-card , .cards-noti mat-card-header {
      margin-bottom: 10px;
  }

.card-Informacion{
    margin-top: 20%;
}

.card-Informacion ul{
        list-style-type: none;
        padding: 0;
}

.social-info li, .icons-star li{
    display: inline;
}

.social-info a{
    font-size: 40px;
    text-decoration: none;
}

.card-star h1{
   display: inline;

}

.comments {
    border: 1px solid rgba(0,0,0,.03);
    background: #eee;
    margin: 10px;
    padding: 10px;
}

.area-comments .mat-expansion-panel-header-title,
.area-comments .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.area-comments .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.area-comments textarea{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.area-comments .mat-action-row {
    border-top-width: 1px;
    border-top-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 8px 12px 0px;
}

.area-comments .mat-expansion-panel-body-new {
    margin: 0px -15px -18px;
    display: flex;
    align-items: flex-start;
}

.area-comments .mat-expansion-panel-body-new img {
    width: 40px;
    border-radius: 50%;
}

.area-comments .mat-expansion-panel-body-new div {
   margin-right: 5px;
}

.item-submenu-p{
    padding: 0 10px;
    cursor: pointer;
    color: #616161;
}

.submenu-icon {
    padding: 0 14px;
}

.submenu-spacer {
    flex: 1 1 auto;
}


  @media (max-width: 1020px) {

    .size-order{
        width: 50%;
        padding: 5px;
    }

    // .store-img {
    //     width: 100px;
    //     height: 70px;
    //     padding: 1px;
    //     position: relative;
    //     top: 1px;
    //     -webkit-border-radius: 2px;
    //     border-radius: 2px;
    //     background-color: #fff;

    // }
    .store-link {
        bottom: 0px;
    }

    .box div.A {
        flex: 0 0 28%;
        max-width: 28%;
        background-color: #FFF;
    }

    .box div.B {
        flex: 0 0 72%;
        max-width: 72%;
        background-color: #fff;
    }
}

.active-options{
    display:flex;
    justify-content: flex-end;
    margin-top: 30px;
    z-index: 1000;
}



.social-network button{
    font-size: 30px;
}

.container-profile{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 20px 0px;
    padding: 10px;
   justify-content: center;
}

.information-box{
    max-width: 300px;
    min-width: 300px;
    padding: 10px;
    background: #3f51b50d;
    flex: 1 1 auto;
    order: 2;
}
.information-products {
    width: 300px;
}
.card-information {
    min-height: 100px;
  }
.main-section{
    flex: 2 1 auto;
    order: 1;
    margin: 0 20px 10px 20px;
    padding: 0 20px;
}
.right-section{
    min-width: 300px;
    max-width: 300px;
    order: 3;
}
.description-details{
    list-style: none;
    margin: 0;
    padding: 0;
}
.description-details mat-icon {
    font-size: 17px;
    color: #424242;
}

.material-icons.md-18 {
    color:  rgb(215,174,0);
}

@media (max-width: 768px) {
    .baner {
        display: none;
    }

    .nick {
        font-size: 12px;
    }

    .comment-list .comment-box {
      width:  79% !important;
    }

    .principal2 .comment-main-level .comment-avatar{
        width: 45px !important;
        height: 45px !important;
    }

    .reply-list .comment-box {
        width: 75% !important;
    }

    .principal {
        padding: 0%;
    }

    .reply-list {
        padding-left: 6% !important;
    }

    .reply-list .comment-avatar {
        width: 40px !important;
        height: 40px !important;
    }

    .comment-list .comment-avatar {
        width: 40px !important;
        height: 40px !important;
    }

    .principal2 .comment-main-level .comment-box {
        width: 78% !important;
    }

}

.principal {
    margin: 0%;
    padding: 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif, Verdana;
    background:white;
}

.principal a{
    color: #03658c;
    text-decoration: none;
}

.principal ul {
    list-style-type: none;
}

.principal2 {

    margin: 0%;
    padding: 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif, Verdana;
    background:white;

}

.principal2 .comment-main-level {
    overflow: hidden;
}

.principal2 .comment-main-level .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-webkit: border radius 4px;
    -moz-webkit: border radius 4px;
    border-radius:  4px;

     -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
     //-moz-box-shadow: 0 1px 2px rgb(0,0,0,0,2);
     box-shadow: 0 1px 2px rgba(0, 0, 0, 2);
     overflow: hidden;
}

.principal2 .comment-main-level .comment-avatar img {
    width: 100%;
    height: 100%;
}

.principal2 .comment-main-level .comment-box {
    width: 792px;
    float: right;
    position: relative;
    //-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
     //-moz-box-shadow: 0 1px 1px rgba(0,0,0,0,15);
     border: 1px solid #dddfe2;
     border-radius: 3px;
}

.principal2 .comment-main-level .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;

    -webkit-webkit: border radius  4px 4px 0 0;
    -moz-webkit: border radius 4px 4px 0 0;
     border-radius:  4px 4px 0 0;
}


.principal2 .comment-main-level .comment-box .comment-head span {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}


.comment-list {
margin-top: 30px;
position: relative;
padding-left: 0%
}


/*.comment-list-product::before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top:0;
}*/

/*
.comment-list-product::after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-webkit: border radius 50%;
    -moz-webkit: border radius 50%;
     border-radius:  50%;
}*/

/*
.reply-list-product::before, .reply-list-product::after {display: none}
.reply-list-product li::before {

    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}
*/

.comment-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comment-list li::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 140px;
    clear: both;
    margin-top: 15px;
}

.comment-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-webkit: border radius 4px;
    -moz-webkit: border radius 4px;
    border-radius:  4px;

     -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
     //-moz-box-shadow: 0 1px 2px rgb(0,0,0,0,2);
     box-shadow: 0 1px 2px rgba(0, 0, 0, 2);
     overflow: hidden;
}

.comment-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}


.comment-main-level {
overflow: hidden;
}

.comment-list .comment-box {
    width: 795px;
    float: right;
    position: relative;
     // -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
     //-moz-box-shadow: 0 1px 1px rgba(0,0,0,0,15);
     //box-shadow: 0 1px 1px rgba(0, 0, 0, 15);
     border: 1px solid #dddfe2;
    border-radius: 3px;
}

.comment-list .comment-box::before, .comment-list .comment-box::after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comment-list .comment-box::before {
    border-width: 10px 11px 17px 0;
    border-color: transparent rgba(0, 0, 0, 0.2);
    left: -12px;
}


.reply-list .comment-box {
    width: 675px;
}


.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;

    -webkit-webkit: border radius  4px 4px 0 0;
    -moz-webkit: border radius 4px 4px 0 0;
     border-radius:  4px 4px 0 0;

}


.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}


.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-webkit: border radius 0 0 4px 4px;
    -moz-webkit: border radius 0 0 4px 4px;
     border-radius: 0 0 4px 4px;
     word-break: break-word;
}

.comment-box .comment-name.by-autor, .comment-box .comment-name.by-autor  a {
    color: #03658c;
}


.description-details .evaluation mat-icon {
    font-size: 20px;
    color: #dcc720;
}
.mt-minus-30{
    margin-top: -8px;
    margin-bottom: 10px;
}
.comment-space{
    background: #f5f6fb;
    border-radius: 5px;
    padding: 0 15px;
}

.span-menu-options-active {
    padding: 10px;
    background-color: #80808021;
    color: #3f51b5;
    border-radius: 2px;
    border-bottom: 2px solid;
}

.user-comment {
    font-weight: 600;

}

.section-response-space{
    padding-top: 13px;
    padding-left: 25px;
    padding-bottom: inherit;
    background: #f5f6fb;
    border-radius: 10px;
    box-shadow: 2px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0), 0 4px 4px rgba(0,0,0,0.23);
}

.mini-menu-response mat-icon, .comment-buttons-options mat-icon{
    vertical-align: top;
}

.cancelar-response {
    margin: -5px;
}
F
.pt-comment-10{
    padding-bottom: 10px;
}
.pt-comment-15 {
    padding-bottom: 15px;
}

.edit .mat-chip.mat-chip-selected.mat-accent {
    padding: 2px;
    border-radius: 5px;
}

@media (max-width: 768px) {

    .xflex-container{
        //justify-content: space-around;
    }

    .size-order{
        width: 100%;
        padding: 5px;
    }

    // .store-img {
    //     width: 90px;
    //     height: 60px;
    //     padding: 2px;
    //     position: relative;
    //     border-radius: 4px;
    //     background-color: #fff;
    //     -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
    //     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
    // }

    .store-link {
        position: absolute;
        bottom: 24px;
        margin-left: 5px;
        text-align: center;
        bottom: 5px;
    }

    .box div.A {
        flex: 0 0 38%;
        max-width: 38%;
        background-color: #FFF;
    }

    .box div.B {
        flex: 0 0 62%;
        max-width: 62%;
        background-color: #fff;
    }




}

.shopping-more{
    .card-information{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;

    }
    .img-more{
        opacity: 0.45;
        width: 65px !important;
        height: 65px;
    }
}

agm-map {
    height: 300px;
    width: 99%;
    margin-bottom: 40px;
  }

.contact_info{
    .info_item{
        position: relative;
        i{
            position: absolute;
            left: 0;
            top: 0;
            font-size: 20px;
            line-height: 24px;
            color: blue;
            font-weight: 600;
        }
        h6{
            padding-left: 10%;
            font-size: 16px;
            line-height: 24px;
            color: blue;
            font-weight: bold;
            margin-bottom: 0px;
			color: black;
            a{
                color: black;
            }
        }
        p{
            font-size: 14px;
            line-height: 24px;
            padding: 2px 0px;
        }
    }
}





