<!-- pestañas -->

<div class="container-fluid">

	<div class="row d-md-none d-sm-block" *ngIf="!loading" style="margin-top: 2%">
		<div class="col-6">

			<div class="row" style="margin-left: 2%">
				<mat-icon color="warn">{{iconography.get(profileType)}}</mat-icon>
				{{profile.attributes.title.length <= 18 ?
				profile.attributes.title : profile.attributes.title.slice(0, 18)+'..' }}
			</div>

			<div class="row" style="margin-top: 2%; padding-left: 2%">
				<div *ngIf="profile.attributes" class="col-4">
					<span *ngIf="profile.attributes.score == null">
						0.0
					</span>
					{{profile.attributes.score}}
					<mat-icon style="float: right;" class="md-18">
						start</mat-icon>
				</div>
				<div class="col-4">
					{{resultsPage.length}}<mat-icon style="float: right;">local_offer</mat-icon>
				</div>
			</div>
		</div>
		<div class="col-3">
			<button mat-icon-button color="warn">
				<mat-icon svgIcon="email" aria-label="Example icon-button with a heart icon"></mat-icon>
			</button>
		</div>
		<div class="col-3">
			<app-follow *ngIf="type=='Pyme'" profileType="pyme" [id]="profile.id">
			</app-follow>

			<app-follow *ngIf="type=='Independent'" profileType="independent" [id]="profile.id">
			</app-follow>

			<app-follow *ngIf="type=='Seller'" profileType="seller" [id]="profile.id">
			</app-follow>
		</div>
	</div>

	<div class="row justify-content-center" [ngClass]="{'border-bottom': tabs == 1 }">
		<div class="col-md-12 col-12">

			<nav class="row" mat-tab-nav-bar mat-stretch-tabs>
				<a class="col-md-4" mat-tab-link (click)="viewSection(1)" [active]="tabs == 1">
					Catálogo
				</a>
				<a class="col-md-4" mat-tab-link (click)="viewSection(0)" [active]="tabs == 0">
					Informacion
				</a>
				<a class="col-md-4" mat-tab-link (click)="viewSection(2)" [active]="tabs == 2">
					Muro
				</a>
			</nav>

		</div>
				<!--
		<div class="col-md-1 d-none d-md-block">
			<div class="row">
				<button style="top: 7px;" mat-stroked-button color="primary"
					(click)="openContactDialog()">Contáctenos</button>
			</div>
		</div>-->
	</div>


	<div class="row baner" *ngIf="tabs != 1" [ngClass]="getMyClass()" [ngStyle]="getMyStyles()"
		style="padding-top: 1%; padding-bottom: 1%">

		<a class="col-md-4" *ngIf="!loading">
			<div class="store-img">
				<img *ngIf="profile.attributes.photo == null" class="brand-logo" src="assets/imgs/backgroundProfile.png"
					style="width: 100%;">
				<img *ngIf="profile.attributes.photo != null" class="brand-logo" [src]="profile.attributes.photo"
					style="width: 100%;">
			</div>
		</a>

		<div class="col-md-3 align-self-center text-center" *ngIf="!loading">
			<h2>
				{{profile.attributes.title}}
				<span>
					<mat-icon class="md-18" mat-icon-button aria-label="" matTooltip="Validada en la Ewave">
						verified_user</mat-icon>
				</span>
			</h2>
		</div>

		<div class="col-md-5 align-self-end">
			<div class="row justify-content-end" style="padding-right:5%;">
				<div class="col-md-1" (click)="share_view(!view_)">
					<button mat-icon-button>
						<mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
					</button>
				</div>
				<div class="col-md-1">
					<button mat-icon-button color="warn">
						<mat-icon svgIcon="email" aria-label="Example icon-button with a heart icon"></mat-icon>
					</button>
				</div>
				<div class="col-md-5 d-none" [ngClass]="{'d-block': view_ }"
					style="position: absolute; top: -140%; right: 0%;">
					<div class="row">
						<div class="">
							<button mat-fab shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
								<fa-icon [icon]="{ prefix: 'fab', iconName: 'facebook' }" size="lg"></fa-icon>
							</button>
						</div>

						<div class="">
							<button mat-fab shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
								<fa-icon [icon]="{ prefix: 'fab', iconName: 'twitter' }" size="lg"></fa-icon>
							</button>
						</div>

						<div class="">
							<button mat-fab shareButton="whatsapp" [style.backgroundColor]="share.prop.whatsapp.color">
								<fa-icon [icon]="{ prefix: 'fab', iconName: 'whatsapp' }" size="lg"></fa-icon>
							</button>
						</div>
						<div class="">
							<button mat-fab>
								<fa-icon [icon]="{ prefix: 'fab', iconName: 'instagram' }" size="lg"></fa-icon>
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-1">
					<app-follow *ngIf="type=='Pyme'" profileType="pyme" [id]="profile.id">
					</app-follow>

					<app-follow *ngIf="type=='Independent'" profileType="independent" [id]="profile.id">
					</app-follow>

					<app-follow *ngIf="type=='Seller'" profileType="seller" [id]="profile.id">
					</app-follow>
				</div>
			</div>
		</div>

	</div>

	<!-- div cotenedor debajo del haders -->
	<div class="row" style="padding-top:1%;padding-left:1%">

		<!-- lado izquierdo-->
		<div class="col-md-2" *ngIf="!loading && tabs != 0">

			<!-- solo para muro -->
			<div class="row" *ngIf="tabs != 1">
				<div class="col-12 col-md-12">
					<h5>
						{{profile.attributes.title.length <= 16 ? profile.attributes.title : profile.attributes.title.slice(0, 16)+'..' }}
						<span>
							<mat-icon class="md-18" style="position: absolute;" mat-icon-button aria-label=""
								matTooltip="Validada en la Ewave">verified_user
							</mat-icon>
						</span>
					</h5>
				</div>
				<div class="col-12 col-md-12">
					<div class="contact_info">
						<div class="info_item">
							<h6 style="padding-left: 0%; font-weight: inherit; font-size: 20px;">
								{{profile.attributes.locations[0].country}}
								<span>
									<mat-icon color="warn" class="lnr lnr-phone-handset">location_on</mat-icon>
								</span>
							</h6>
						</div>
						<div class="info_item">
							<p>{{profile.attributes.description | truncar: 30 }}</p>
						</div>
					</div>
				</div>
				<!--
				<div class="col-md-12 text-center">
					<button mat-button color="primary" class="follow-button" (click)="newConversation()">Enviar mensaje</button>
				</div>-->
			</div>

			<!-- solo catalogo -->
			<div class="d-none d-md-block row" *ngIf="tabs == 1">
				<!-- Nombre profile icono de verificacion -->
				<div class="col-md-12">
					<h5>
						{{profile.attributes.title.length <= 16 ? profile.attributes.title : profile.attributes.title.slice(0, 16)+'..' }}
						<span>
							<mat-icon class="md-18" style="position: absolute;" mat-icon-button aria-label=""
								matTooltip="Validada en la Ewave">verified_user
							</mat-icon>
						</span>
					</h5>
				</div>
				<!-- Iordenar por precio -->

				<div class="col-md-12" style="left: 6%;">
					<div class="row">
						<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

							<mat-tree-node style="cursor: pointer" (click)="logNode(node)" *matTreeNodeDef="let node">
								<dd>{{node.name}}</dd>
								<button mat-icon-button disabled></button>
							</mat-tree-node>

							<mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
								<dt>{{node.name}}</dt>
								<button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
									<mat-icon class="mat-icon-rtl-mirror">
										{{treeControl.isExpanded(node) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
									</mat-icon>
								</button>
							</mat-tree-node>

						</mat-tree>
					</div>
				</div>

				<!-- Filtros -->
				<div class="col-md-12">


					<div class="row" style="padding-left:8%" *ngIf="categoryName != undefined">
						<dt>
							<h6>Filtrado por:</h6>
						</dt>
					</div>

					<div class="row" *ngIf="categoryName != undefined">
						<mat-chip-list>
							<mat-chip [color]="'accent'" [selectable]="true" [removable]="removable" style="left: 12px;">
								{{categoryName.length <= 20 ? categoryName : categoryName.slice(0, 19)+'...' }}
								<mat-icon matChipRemove (click)="addSearchs(undefined, true)">cancel
								</mat-icon>
							</mat-chip>
						</mat-chip-list>
					</div>
					<br *ngIf="categoryName != undefined">
					<div class="row">
						<div class="col-md-12">
							<dt>Categorías</dt>
						</div>
						<div class="col-md-12" style="cursor: pointer;">
							<small>
								<ul class="list-categories">
									<li *ngFor="let category of subCategoryFiltro" (click)="addSearchs(category)">
										<dd>
											{{category.name.length <= 23 ? category.name : category.name.slice(0, 23)+' ..' }} ( {{category.product_charged}} )
										</dd>
									</li>
								</ul>
							</small>
						</div>
					</div>

				</div>

			</div>

		</div>

		<!-- lado centro-derecho para main contenido-->
		<div class="col-md-9" *ngIf="!loading && tabs != 0">
			<div class="container-fluid">
				<div class="row">

					<!-- lado centro solo catalogo -->
					<div class="col-md-12" *ngIf="tabs == 1">


						<mat-spinner diameter="200" *ngIf="loading_filtro" style="margin:50px auto;">
						</mat-spinner>

						<div class="row" *ngIf="!loading_filtro">

							<mat-card *ngFor="let prod of resultsPage; let i = index"
								class="col-12 col-sm-3 col-md-3 col-xl-3">

								<div class="row justify-content-center pointer" (click)="detailProduct(prod)">
									<div class="col-md-12">
										<img *ngIf="prod.photo && prod.photo != ''" [src]="prod.photo"
											style="width: 100%;" />
										<img *ngIf="!prod.photo || prod.photo == '' " src="assets/imgs/defecto.png"
											style="width: 100%;" />
									</div>
								</div>

								<div class="row justify-content-center">
									<div class="col-md-12 pointer justify-content-center" (click)="detailProduct(prod)">
										<span><b>{{ prod.name }}</b></span>
									</div>
								</div>

								<div class="row justify-content-center d-none d-md-block">
									<div class="col-md-12">
										Stock:
										<span *ngIf=" prod.stock > 0;else: elseStock">
											{{prod.stock}}
										</span>
										<ng-template #elseStock> Sin Stock </ng-template>
									</div>
								</div>

								<div class="row justify-content-center">
									<div class="col-md-12" style="color:#F759A0">
										<span><strong>{{prod.price | currency}}</strong></span>
									</div>
								</div>

								<div class="row">
									<div class="col-9 col-md-9">
										<app-cart-button [product]="prod"></app-cart-button>
									</div>

									<div class="col-3 col-md-3">
										<app-like [id]="prod.id"></app-like>
									</div>
								</div>

							</mat-card>

						</div>

						<div class="row" *ngIf="!loading_filtro">
							<div class=" col-md-6 pagination-detail">
								<mat-paginator *ngIf="resultsPage.length != 0"
									[length]="profile.attributes.products.length" [pageSize]="pageSize"
									[pageSizeOptions]="pageSizeOptions"
									(page)="onPageChanged($event, profile.attributes.products)">
								</mat-paginator>
							</div>
						</div>

					</div>

					<!-- lado centro muro -->
					<div class="col-md-12">

						<div class="row" *ngIf="tabs == 2 && !loading">

							<div class="col-md-12 col-12 principal2">

								<div class="comment-main-level">
									<div class="comment-avatar">
										<img src="assets/imgs/profile.jpg" alt="">
									</div>
									<div class="comment-box">

										<div class="comment-head"
											style="background-color: #f5f6f7;border-bottom: 1px solid #dddfe2;">
											<h6>
												<a class="nick"
												style="font-family: Helvetica, Arial, sans-serif;font-size: 12px;">
													{{profile.attributes.user_id == owner.id ? "Crear publicación:" : "Crear publicación:"}}
												</a>
											</h6>
										</div>
										<div class="comment-content">
											<textarea name="comentario" style="width: 100%"
												[(ngModel)]="commentNew"></textarea>
										</div>
										<div class="comment-head">
											<button style="float: right" mat-raised-button color="primary"
												(click)="openDialog(null,null,false,true)">{{profile.attributes.user_id
														== owner.id ? "Compartir" : "Comentar"}}</button>
										</div>

									</div>
								</div>

							</div>

							<div class="col-md-12 col-12 principal">

								<ul id="comment-list" class="comment-list">

									<li *ngFor="let comment of listComments; let i = index;">

										<div class="comment-main-level">
											<!-- avatar -->
											<div class="comment-avatar">
												<img src="assets/imgs/profile.jpg" alt="">
											</div>
											<!--        -->

											<!-- contenedor del comentario -->
											<div class="comment-box"
												*ngIf="!(optionComment.edit && optionComment.position == i)">
												<div class="comment-head">
													<h6 class="comment-name by-autor">
														<a class="nick">
															{{comment.attributes.user.nickname != "" ?
												            comment.attributes.user.nickname : comment.attributes.user.name}}
														</a>
													</h6>
													<!--<span>hace 20 min</span>-->
													<button style="float: right;" mat-icon-button matTooltip="Responder"
														*ngIf="_tokenService.userSignedIn()"
														(click)="optionComment.response = true; optionResponse.position = i;">
														<mat-icon aria-label="">reply</mat-icon>
													</button>
													<button style="float: right;" mat-icon-button matTooltip="Responder"
														*ngIf="!_tokenService.userSignedIn()"
														(click)="openDialog(i,null,false,true,comment.id)">
														<mat-icon aria-label="">reply</mat-icon>
													</button>
													<button style="float: right;"
														*ngIf="owner.id == comment.attributes.user.id || comment.attributes.user.id == profile.attributes.user_id"
														(click)="optionComment.edit = true; optionComment.comment = comment.attributes.body; optionComment.position = i"
														mat-icon-button matTooltip="Editar">
														<mat-icon aria-label="">edit</mat-icon>
													</button>
													<button style="float: right;"
														*ngIf="owner.id == comment.attributes.user.id || comment.attributes.user.id == profile.attributes.user_id"
														mat-icon-button matTooltip="Eliminar">
														<mat-icon aria-label=""
															(click)="deleteComments(comment.id , i)">delete
														</mat-icon>
													</button>
												</div>
												<div class="comment-content">
													{{comment.attributes.body}}
												</div>
											</div>

											<div class="comment-box"
												*ngIf="optionComment.edit && optionComment.position == i">
												<div class="comment-head">
													<h6 class="comment-name by-autor">
														<a class="nick">
															{{comment.attributes.user.nickname != "" ?
												            comment.attributes.user.nickname : comment.attributes.user.name}}
														</a>
													</h6>
													<span>hace 20 min</span>
													<button style="float: right;" mat-icon-button matTooltip="cancelar"
														(click)="optionComment.edit = false; optionComment.position = null">
														<mat-icon aria-label="">clear</mat-icon>
													</button>
													<button style="float: right;" mat-icon-button matTooltip="Modificar"
														(click)="updateComment(comment.id, i)">
														<mat-icon aria-label="">send</mat-icon>
													</button>
												</div>
												<div class="comment-content">
													<textarea style="width: 100%" name="comentario"
														[(ngModel)]="optionComment.comment"></textarea>
												</div>
											</div>

										</div>

										<!-- respuestas comentario -->

										<ul *ngIf="comment.attributes.childrens != null"
											class="comment-list reply-list">
											<li
												*ngFor="let resp of comment.attributes.childrens | hideItems : paginateCom.hideAllResponse : comment.attributes.childrens.length ; let j = index;">
												<!-- avatar respuesta -->
												<div class="comment-avatar">
													<img src="assets/imgs/profile.jpg" alt="">
												</div>
												<!-- contenedor del comentario de respuesta -->
												<div class="comment-box"
													*ngIf="!(optionResponse.edit && optionResponse.position == i && optionResponse.positionRes == j)">
													<div class="comment-head">
														<h6 class="comment-name by-autor">
															<a class="nick">
																{{resp.user.nickname != "" ? resp.user.nickname : resp.user.name}}
															</a>
														</h6>
														<!--<span>hace 20 min</span>-->

														<button style="float: right"
															*ngIf="owner.id == resp.user.id || comment.attributes.user.id == profile.attributes.user_id"
															mat-icon-button matTooltip="Editar"
															(click)="optionResponse.edit = true; optionResponse.comment = resp.body; optionResponse.position = i; optionResponse.positionRes = j; ">
															<mat-icon aria-label="">edit</mat-icon>
														</button>
														<button style="float: right"
															*ngIf="owner.id == resp.user.id || comment.attributes.user.id == profile.attributes.user_id"
															mat-icon-button matTooltip="Eliminar">
															<mat-icon aria-label=""
																(click)="deleteComments(resp.id , i , j)">delete
															</mat-icon>
														</button>
													</div>
													<div class="comment-content">
														{{resp.body}}
													</div>
												</div>

												<div class="comment-box"
													*ngIf="optionResponse.edit && optionResponse.position == i && optionResponse.positionRes == j">
													<div class="comment-head">
														<h6 class="comment-name by-autor">
															<a class="nick">
																{{resp.user.nickname != "" ? resp.user.nickname : resp.user.name}}
															</a>
														</h6>
														<span>hace 20 min</span>

														<button style="float: right" mat-icon-button
															matTooltip="cancelar"
															(click)="optionResponse.edit = false; optionResponse.position = optionResponse.positionRes = null; optionResponse.comment = ''">
															<mat-icon aria-label="">clear</mat-icon>
														</button>
														<button style="float: right" mat-icon-button
															matTooltip="Modificar"
															(click)="updateComment(resp.id, i, j)">
															<mat-icon aria-label="">send</mat-icon>
														</button>
														<div class="comment-content">
															<textarea style="width: 100%" name="comentario"
																[(ngModel)]="optionResponse.comment">
												            </textarea>
														</div>
													</div>
												</div>

											</li>

											<div class="text-right" *ngIf="comment.attributes.childrens.length > 3">
												<button mat-button
													(click)="paginateCom.hideAllResponse = !paginateCom.hideAllResponse">{{
											paginateCom.hideAllResponse? 'Ver más' : 'Ver menos' }}</button>
											</div>

										</ul>
										<!-- caja para responder -->
										<mat-divider style="width: 100%;"
											*ngIf="optionComment.response && optionResponse.position == i">
										</mat-divider>
										<div class="comment-list reply-list"
											*ngIf="optionComment.response && optionResponse.position == i">
											<div class="comment-avatar">
												<img src="assets/imgs/profile.jpg" alt="">
											</div>
											<div class="comment-box">
												<div class="comment-head">
													<button mat-icon-button matTooltip="Enviar Respuesta"
														(click)="openDialog(i,null,false,true,comment.id)">
														<mat-icon aria-label="">send</mat-icon>
													</button>
													<button style="float: right;" mat-icon-button
														(click)="optionComment.response = false; responseNew = ''">
														<mat-icon>clear</mat-icon>
													</button>
												</div>
												<div class="comment-content">

													<textarea id="new_comentario" style="width: 100%;" name="comentario"
														[(ngModel)]="responseNew"></textarea>

												</div>
											</div>
										</div>
									</li>

								</ul>

							</div>

						</div>

					</div>

				</div>
			</div>
		</div>

		<!-- pagina informacion -->
		<div class="col-md-12" *ngIf="!loading && tabs == 0">

			<!-- destacados carrusel -->
			<div class="row d-sm-block d-md-none">

				<div class="owl-carousel owl-theme" style="text-align: center">

					<div *ngFor="let prod of resultsDestacados; let i = index;" style="width:150px" class="item">
						<mat-card class="">

							<div class="row justify-content-center pointer" (click)="detailProduct(prod)">
								<div class="col-md-12">
									<img src="assets/imgs/defecto.png" style="width: 100%; border-radius: 150px" />
								</div>
							</div>

							<div class="row justify-content-center">
								<div class="col-md-12 pointer justify-content-center" (click)="detailProduct(prod)">
									<span><b style="word-break: break-word;">{{ prod.attributes.name }}</b></span>
								</div>
							</div>

							<div class="row justify-content-center">
								<div class="col-md-12" style="color:#F759A0">
									<span><strong>{{prod.attributes.price | currency}}</strong></span>
								</div>
							</div>

						</mat-card>
					</div>

				</div>

			</div>
			<!-- Mapa -->
			<div class="row">
				<agm-map class="col-md-12 col-12" [latitude]="profile.attributes.locations[0].latitude"
					[longitude]="profile.attributes.locations[0].longitude">
					<agm-marker [latitude]="profile.attributes.locations[0].latitude"
						[longitude]="profile.attributes.locations[0].longitude"></agm-marker>
				</agm-map>
			</div>

			<!-- informacion -->
			<div class="row">

				<div class="col-md-3 col-12">
					<div class="contact_info">
						<div class="info_item">
							<mat-icon style="position: absolute;" class="lnr lnr-home">location_on</mat-icon>
							<h6>{{profile.attributes.address}}</h6>
							<p>{{profile.attributes.locations[0].state}}</p>
						</div>
						<div class="info_item">
							<mat-icon style="position: absolute;" class="lnr lnr-phone-handset">phone</mat-icon>
							<h6><a href="#">{{profile.attributes.phone}}</a></h6>
							<p>horario de atencion:</p>
						</div>
						<div class="info_item">
							<mat-icon style="position: absolute;" class="lnr lnr-envelope">email</mat-icon>
							<h6><a href="#">{{profile.attributes.email}}</a></h6>
							<p>Envíenos su consulta en cualquier momento!</p>
						</div>
					</div>
					<div style="padding-bottom: 15px;">
						<button mat-flat-button color="primary">
							Enviar mensaje
						</button>
					</div>
				</div>

				<div class="col-md-9 d-none d-md-block">

					<div class="row">
						<mat-card *ngFor="let prod of resultsDestacados" class="col-12 col-sm-3 col-md-3 col-xl-3">

							<div class="row justify-content-center pointer" (click)="detailProduct(prod)">
								<div class="col-md-12">
									<img src="assets/imgs/defecto.png" style="width: 100%; border-radius: 150px" />
								</div>
							</div>

							<div class="row justify-content-center">
								<div class="col-md-12 pointer justify-content-center" (click)="detailProduct(prod)">
									<span><b>{{ prod.attributes.name }}</b></span>
								</div>
							</div>

							<div class="row justify-content-center d-none d-md-block">
								<div class="col-md-12">
									Stock:
									<span *ngIf="prod.attributes.stock > 0;else: elseStock">
										{{prod.attributes.stock}}
									</span>
									<ng-template #elseStock> Sin Stock </ng-template>
								</div>
							</div>

							<div class="row justify-content-center">
								<div class="col-md-12" style="color:#F759A0">
									<span><strong>{{prod.attributes.price | currency}}</strong></span>
								</div>
							</div>

							<div class="row">
								<div class="col-9 col-md-9">
									<app-cart-button [product]="prod.attributes"></app-cart-button>
								</div>

								<div class="col-3 col-md-3">
									<app-like [id]="prod.id"></app-like>
								</div>
							</div>

						</mat-card>
					</div>

				</div>

			</div>

		</div>

	</div>

</div>
