<button [matBadge]="notificationsList.length > 99 ? '+99' : notificationsList.length" [matBadgeHidden]="!notificationsList.length" mat-icon-button [matMenuTriggerFor]="notificationsDropdown" (menuOpened)="performUnreads()">
  <mat-icon>notifications</mat-icon>
</button>

<mat-menu 
  #notificationsDropdown="matMenu" 
  xPosition="before" 
  yPositon="above" 
  [overlapTrigger]="false" 
  class="notification-menu">

  <div class="text-center mt-3 mb-3 ml-2 mr-2" *ngIf="inFetch">
    <mat-spinner class="m-auto mb-2"  diameter="50"></mat-spinner>
    <div class="mt-2" *ngIf="willAttemptReconnect">
      <small class="text-muted font-italic">
        No es posible cargar su información, 
      </small>
      <br>
      <small class="text-muted font-italic">
        Verifique su conexión a internet.
        <mat-icon>signal_wifi_off</mat-icon>
      </small>
    </div>
  </div>
  <ng-container *ngIf="!inFetch">
    <div class="notifications-header" (click)="$event.stopPropagation()">
      <div class="row">
        <div class="col-6">
          <h6 class="font-weight-bold ml-2 mt-2">Notificaciones</h6>
        </div>
        <div class="col-6 text-right">
          <button mat-icon-button matTooltip="Marcar como leídas" [disabled]="!notificationsList.length" (click)="dissmissAll()">
            <mat-icon>clear_all</mat-icon>
          </button> 
          <button mat-icon-button matTooltip="Configuraciones" [disabled]="true" matTooltip="Pronto..."> 
            <mat-icon>settings</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <!--<div [@listAnimation]="notificationsList.length">-->
    <div>
      <div class="p-3 text-center" *ngIf="!notificationsList.length">
        <ng-container>
          <mat-icon>done_all</mat-icon>
          <h6 class="text-muted font-italic">No hay notificaciones pendientes</h6>
        </ng-container>
      </div>

      <ng-container *ngFor="let item of notificationsList">
        <div mat-menu-item (click)="markAsRead(item)"> 
          <div class="media">
            <mat-icon *ngIf="!item.image?.url" class="align-self-center mr-3">{{iconography.get(item.category)}}</mat-icon>
            <img *ngIf="item.image?.url" height="25" width="25" class="align-self-center mr-3 rounded" [src]="item.image.url" alt="{{item.metadata.title}}">
            <div class="media-body align-self-center">
              <!--<p>{{item.metadata.title}}</p>-->
              <p [innerHTML]="item.metadata.title"></p>
              <small>{{item.created_at | dateNotification}}</small>
            </div>
          </div>
        </div>
      </ng-container>
      
    </div>

    <!--
    <div mat-menu-item > 
      <div class="media">
        <mat-icon class="align-self-center mr-3 rounded">notifications</mat-icon>
        <div class="media-body align-self-center">
          <p>Han cotizado productos en nombre_profile</p>
          <small>{{'2018-11-21T17:05:12.292Z' | date:'medium'}}</small>
        </div>
      </div>
    </div>-->

    <div class="notifications-footer text-center" (click)="$event.stopPropagation()">
      <button mat-button class="font-bold" [disabled]="true" matTooltip="Pronto...">VER TODAS</button>
    </div>
  </ng-container>
</mat-menu>

