
.mat-badge-content{
    right: -5px !important;
    top: -5px !important;
    background-color: #dc3545 !important;
}

.notification-menu{
    min-width: 20rem;
    border-radius: .4em;
    max-height: 20rem;
    overflow-x: hidden;

    .notifications-header{
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: white;
        border-bottom: 2px solid #dedede;
    }

    .notifications-footer{
        position: sticky;
        bottom: 0;
        z-index: 999;
        background-color: white;
        border-top: 2px solid #dedede;
    }

    .mat-icon-button.mat-icon{
        font-size: .7em;
    }

    .mat-menu-content{
        padding: 0;
    }

    .mat-menu-item{
        line-height: normal;
        height: 65px;
        padding: 10px;
        white-space: normal;

        .media{
            height: 100%;
        }

        small{
            font-size: .7em;
            color: #757575;
        }

        .mat-icon{
            font-size: 25px;
            height: 25px;
            width: 25px;
        }

        p{
            font-size: .8rem;
            margin: 0;
            max-height: 35px;
            overflow: hidden;
            color: #2f2f2f;
        }

        &:hover{
            background-color: #3f51b51c;
            box-shadow: 0px 2px 10px 0px #888888;
        }
    }
}

*::-webkit-scrollbar {
    width: 0.3em;
}
  
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(37, 51, 182, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}