<div fxLayout="column" class="container-fluid p-0 h-100" style="background: white;" [class.example-is-mobile]="mobileQuery.matches">
  <!-- Sidebar options -->
  <div fxLayout="row" fxFlex="0 1 auto" class="p-2">
    <button mat-icon-button (click)="sidenavAdmin.toggle()" color="primary">
      <mat-icon>menu</mat-icon>
    </button>

    <nav mat-tab-nav-bar fxFlex="1 0 auto">
      <a fxFlex="50%" mat-tab-link (click)="setTab('products')" [active]="currentParams.tab !== 'profiles'">
        <mat-icon>local_offer</mat-icon>
        Productos
      </a>
      <a fxFlex="50%" mat-tab-link (click)="setTab('profiles')" [active]="currentParams.tab == 'profiles'">
        <mat-icon>business</mat-icon>
        Tiendas
      </a>
    </nav>

  </div>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #sidenavAdmin [opened]="mobileQuery.matches ? true : true"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="126">
      <!-- Pesttañas -->

      <div fxLayout="column" fxFlex>

        <div class="my-1" fxLayout="column" fxFlex="0 1 auto">
          <h6> Total de Resultados: {{ meta?.pagination.total_objects }}</h6>
          <small>Criterio de Busqueda: "{{ currentParams.q }}"</small>
        </div>

        <ng-container *ngIf="activeCategories.length || activeUbication">
          <mat-divider></mat-divider>

          <div class="my-2" fxLayout="column" fxFlex="0 1 auto">
            <h6 class="mb-2 font-weight-bold"> Filtrado por:</h6>

            <div fxLayout="column" fxFlex="0 1 100%" *ngIf="activeCategories.length">
              <h6 class="mb-2">Categorías</h6>
              <mat-chip-list>
                <mat-chip *ngFor="let category of activeCategories" [selectable]="true" [removable]="true">
                  {{category.name}}
                  <mat-icon matChipRemove (click)="handleExtraParams('category', {id: category.id}, true)">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>

            <div fxLayout="column" fxFlex="0 1 100%" *ngIf="activeUbication">
              <h6 class="mb-2">Países</h6>
              <mat-chip-list>
                <mat-chip *ngIf="activeUbication" [selectable]="true" [removable]="true">
                  {{activeUbication.name}}
                  <mat-icon matChipRemove (click)="handleExtraParams('ubication', null)">
                    cancel
                  </mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </ng-container>


        <ng-container *ngIf="currentParams.tab === 'products'">
          <mat-divider></mat-divider>
          <!-- Filters -->
          <div class="my-2" fxLayout="column" fxFlex="0 1 auto">
            <h6>Ordenar Resultados por:</h6>
            <mat-form-field fxFlex>
              <mat-label>Ordenar por Precio:</mat-label>
              <mat-select [(ngModel)]="orderByModel">
                <mat-option *ngFor="let o of orderByValues" [value]="o.id">
                  {{ o.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>

        <mat-divider></mat-divider>

        <div class="my-2" fxLayout="column" fxFlex="0 1 auto">
          <h6>Perfiles</h6>
          <mat-checkbox labelPosition="after" [checked]="currentParams.profiles.includes(ProfileType.PYME)"
                        (change)="handleProfileSwitching(ProfileType.PYME, $event)"
                        [disabled]="isLastProfileSwitch(ProfileType.PYME)">
            <mat-icon>{{iconography.get(ProfileType.PYME)}}</mat-icon>
            Tiendas
          </mat-checkbox>
          <mat-checkbox labelPosition="after" [checked]="currentParams.profiles.includes(ProfileType.INDEPENDENT)"
                        (change)="handleProfileSwitching(ProfileType.INDEPENDENT, $event)"
                        [disabled]="isLastProfileSwitch(ProfileType.INDEPENDENT)">
            <mat-icon>{{iconography.get(ProfileType.INDEPENDENT)}}</mat-icon>
            Independientes
          </mat-checkbox>
          <mat-checkbox labelPosition="after" [checked]="currentParams.profiles.includes(ProfileType.SELLER)"
                        (change)="handleProfileSwitching(ProfileType.SELLER, $event)"
                        [disabled]="isLastProfileSwitch(ProfileType.SELLER)">
            <mat-icon>{{iconography.get(ProfileType.SELLER)}}</mat-icon>
            Vendedores
          </mat-checkbox>
        </div>

        <mat-divider></mat-divider>

        <div class="my-2" fxLayout="column" fxFlex="0 1 auto" *ngIf="categories.length">
          <h6>Categorias:</h6>
          <ul class="list-items">
            <li *ngFor="let category of categories"
                (click)="handleExtraParams('category', {id: category.id, name: category.name})">
              {{ category.name }} ({{ category.total }})
            </li>
          </ul>
        </div>

        <mat-divider></mat-divider>

        <div class="my-2" fxLayout="column" fxFlex="0 1 auto" *ngIf="ubications.length">
          <h6>Ubicación del producto:</h6>
          <ul class="list-items">
            <li *ngFor="let ubication of ubications"
                (click)="handleExtraParams('ubication', {id: ubication.country_code, name: ubication.country_name})">
              {{ ubication.country_name }} ({{ ubication.total }})
            </li>
          </ul>
        </div>

      </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlex="1 1 auto" style="background: #f5f5f5;">
      <div fxLayout="column" fxFlex="1 1 auto">
        <app-loading-spinner fxFlex="1 0 auto" content="Cargando resultados..." *ngIf="loadingResults; else noLoadingResults"></app-loading-spinner>
        <ng-template #noLoadingResults>
          <ng-container *ngIf="currentParams.tab === 'profiles'; else productsListTmpl">
            <div fxLayout="column" *ngIf="!meta?.pagination.total_objects" fxFlex="0 1 auto">
              <app-no-data-aviable-display fxFlex="0 1 auto" title="No se encontraron resultados que coincidan con tu búsqueda"
                                           content="Utiliza palabras genéricas que caractericen los perfiles que deseas encontrar"></app-no-data-aviable-display>
              <div fxLayout="column">
                <h4 class="text-center">Tiendas Recientes</h4>
                <div class="position-relative w-100 mx-2">
                  <app-profiles-carousel-items [visitLabel]="'VER TIENDA'" [profilesGlobalSearch]="recentProfiles" [loading]="loadingRecentProfiles"></app-profiles-carousel-items>
                </div>
              </div>
            </div>


            <div fxLayout="row wrap" fxFlex="0 1 auto">
              <div  fxFlex="33%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%" *ngFor="let profile of profilesList">
                <app-generic-profile-item [itemSearch]="profile" [visitLabel]="'VER TIENDA'"></app-generic-profile-item>
              </div>
            </div>
          </ng-container>
          <ng-template #productsListTmpl>
            <div fxLayout="column" *ngIf="!meta?.pagination.total_objects" fxFlex="0 1 auto">
              <app-no-data-aviable-display fxFlex="0 1 auto" title="No se encontraron resultados que coincidan con tu búsqueda"
                                           content="Utiliza palabras genéricas que caractericen los productos que deseas encontrar"></app-no-data-aviable-display>
              <div fxLayout="column">
                <h4 class="text-center">Productos Recomendados</h4>
                <div class="position-relative w-100 mx-2">
                  <app-products-carousel-items [itemsFullyAttr]="recommendedProducts" [isFullyProduct]="true"
                                               [loading]="loadingRecommendedProducts"></app-products-carousel-items>
                </div>
              </div>
            </div>

            <div fxLayout="row wrap" fxFlex="0 1 auto">
              <div fxFlex="33%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%" *ngFor="let product of (productsList | sortBy: 'price': orderByModel)">
                <app-generic-product-item [globalSearchItem]="product"></app-generic-product-item>
              </div>
            </div>
          </ng-template>
        </ng-template>

        <mat-paginator *ngIf="(!loadingResults && meta?.pagination.total_objects) || loadingResults" class="d-flex justify-content-center m-2"
                       [length]="meta?.pagination.total_objects"
                       [pageSize]="currentParams?.per_page"
                       [disabled]="loadingResults"
                       [pageSizeOptions]="pageSizeOptions"
                       showFirstLastButtons
                       (page)="onPageEvent($event)">
        </mat-paginator>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
