body {
  background: white !important;
}

.mat-sidenav[_ngcontent-c8] {
  background: white;
}


.nav-link:hover {
  cursor: pointer;
}

//container padre
.sidenav-container {
  width: 100%;
  min-height: 900px;
  margin-top: 2%;
}

.action-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}


//opciones
.mat-sidenav {
	border-right: none !important;
  min-width: 20%;
  max-width: 20%;
  padding-left: 10px;
  padding-top: 10px;
	padding-right: 10px;
}

//productos contenedor
.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.user-profile {
  width: 100%;
  height: 250px;
  background: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 20px;
}

.user-profile-avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fafafa;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  top: -40px;
  object-fit: cover;
}


mat-card {
  box-shadow: none !important;
}

.section {
  background: #fff;
  margin-bottom: 10px;
  margin-top: 0;
  min-height: 100px;
  padding: 15px;
}

.card {
  min-height: 100px;
  img {
    height: 100px;
    object-fit: cover;
  }
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mat-input-container {
  width: 100% !important;
}

mat-accordion {
  padding: 0 !important;
  // background: red;
}

mat-expansion-panel {
  padding: 0;
}

.mat-expansion-panel-body {
  padding: 0;
}

mat-checkbox {
  display: block;
}

@media (max-width: 768px) {

  .mat-sidenav {
    max-width: 80%!important;
    left: 0px !important;
    position: absolute !important;
    top: 0px !important;
    min-width: 80%;
  }

}

.example-card {
  max-width: 800px;
}

.list-items {
  list-style: none;
  padding: 0;
  margin-left: 1em;
  font-size: .8em;

  li:hover{
    color: #111010a6;
    cursor: pointer;
  }

}

.item-result:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  cursor: hand;
}

.content-searchs::-webkit-scrollbar {
  display: block;
}

.content-searchs {
  -ms-overflow-style: none;

}

@namespace url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul'); /* only needed once */
//scroll
:-moz-any(content-se) browser {
  margin-right: -14px !important;
  overflow-y: hidden;
  margin-bottom: -14px !important;
  overflow-x: hidden;
}

.pointer {
  cursor: pointer;
}

#carousel-products{
  padding-top: 20px;
}

.container-products:hover{
  border-left: 5px solid #ffab40;
  img{
    cursor: pointer;
  }
}

.back-store{
  //background: #eee;
  height: 150px;
  margin-bottom: -10px;
  overflow: hidden;
  text-align: center
}


.item-submenu-p{
  //padding-right: 4px;
  cursor: pointer;
  //color: #616161;
  font-size: 18px;
  color: #F759A0;
}

.item-submenu-p2{
  padding-left: 4px ;
  cursor: pointer;
  //color: #616161;
  font-size: 18px;
  color: #F759A0;
}


.stick-menu {
padding-left: 0%
}

.submenu-icon {
  padding: 0 14px;
}

.submenu-spacer {
  flex: 1 1 auto;
}

mat-toolbar-row {
  background: white;
}

.h6 {
  font-weight: 700;
  word-break: normal;
}

.span-menu-options-active {

  padding: 10px;
  background-color: #80808021;
  color: #3f51b5;
  border-radius: 2px;
  border-bottom: 2px solid;

}

.owl-prev {
  position: absolute;
  top: 40%;
  left: 0px;
}

.owl-next {
  position: absolute;
  top: 40%;
  right: 0px;
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}

h2.example-app-name {
  padding-top: 3px;
  padding-left: 30px;
}
