<ng-container *ngIf="chats.length">
	<ng-container *ngFor="let chat of chats">
		<div class="p-3 text-center position-relative" [matTooltip]="chat.receptor_messageable.name" [ngClass]="(chatService.currentChatOpened | async) && (chatService.currentChatOpened | async).id === chat.id ? 'active' :  ''">
			<button mat-icon-button color="warn" class="button-dismiss" (click)="remove(chat.id, chat.sender_messageable.type === 'Profile' ? chat.sender_messageable.id : null)">
				<mat-icon inline>close</mat-icon>
			</button>
			<figure class="m-0 cursor-pointer" matBadge="2" matBadgeColor="warn" matBadgeHidden matBadgePosition="above before" (click)="setOpenedChat(chat)"> <!-- TODO badge-->
				<img [src]="chat.receptor_messageable.custom_avatar || 'assets/imgs/profile.jpg'" onerror="this.src='assets/imgs/profile.jpg'" height="35" width="35" class="rounded-circle shadow border border-dark" alt="chat_list_img">
			</figure>
		</div>
	</ng-container>
</ng-container>
