<mat-form-field appearance="fill" class="w-100" style="font-size: 14px; line-height: 1;">
	<mat-label>Busca productos, tiendas y mucho más</mat-label>
	<input #search matInput placeholder="Escribe algo..." (keyup.enter)="goToSearch(search.value)">
	<button mat-icon-button matSuffix *ngIf="search.value" (click)="search.value = ''">
		<mat-icon>close</mat-icon>
	</button>
</mat-form-field>
