<h2 mat-dialog-title style="display:inline-block;">Contáctenos</h2>

<mat-dialog-content>
  <form class="form-group form-container" #contactForm="ngForm">

    <mat-form-field>
      <input type="name" id="nameContact" aria-describedby="nameHelp" placeholder="Nombre" matInput
        [(ngModel)]="contact.name" name="name" required />
    </mat-form-field>

    <mat-form-field>
      <input type="email" id="emailContact" aria-describedby="emailHelp" placeholder="Correo" matInput
        [(ngModel)]="contact.email" name="email" #emailField="ngModel" pattern="^\S*[@]\S*[.]\S*$" email required />
    </mat-form-field>

    <mat-form-field>
      <input type="number" id="phoneContact" aria-describedby="phoneHelp" placeholder="Numero Telefónico" matInput
        [(ngModel)]="contact.phone" name="phone" />
    </mat-form-field>

    <mat-form-field>
      <mat-select type="country" id="countryContact" aria-describedby="countryHelp" placeholder="País de residencia"
        [(ngModel)]="contact.country" name="country" required>

        <mat-option *ngFor="let country of countries" [value]="country.name">
          {{country.name}}
        </mat-option>

      </mat-select>

    </mat-form-field>


    <mat-form-field>
      <mat-select placeholder="Tipo de contacto" (change)="asignContactTypeID($event.value)" name="contact_type_id"
        required [(ngModel)]="contact.contact_type_id">
        <mat-option *ngFor="let type of types;let i = index;" [value]="type.id">
          {{type.attributes.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input type="comments" id="commentsContact" aria-describedby="commentsHelp" placeholder="Mensaje" matInput
        [(ngModel)]="contact.comments" name="comments" required />
      <textarea matInput placeholder="Leave a comment" required></textarea>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!contactForm.valid" (click)="onSubmit()"
    *ngIf="!mobileQuery.matches">
    Enviar Mensaje
  </button>
  <button mat-raised-button color="primary" [disabled]="!contactForm.valid" (click)="onSubmit()"
    *ngIf="mobileQuery.matches">
    Enviar
  </button>
</mat-dialog-actions>