<mat-spinner *ngIf="loading; else list" class="m-auto"></mat-spinner>
<ng-template #list>
	<button class="button-absolute" style="left: 0" mat-icon-button (click)="owlList.prev()">
		<mat-icon>keyboard_arrow_left</mat-icon>
	</button>
	<owl-carousel-o [options]="options" #owlList>
		<ng-container *ngFor="let category of items">
			<ng-template carouselSlide>
				<mat-card (click)="goCategory(category.id, category.name)" [matTooltip]="'Click para ver productos de '+ category.name" class="m-2 p-0 card-carousel-demo cursor-pointer">
					<img mat-card-image class="cursor-pointer" [src]="'assets/imgs/backgroundProfile.png'" [alt]="category.name">
					<mat-card-content>
						<div class="logo-store">
							<img [src]="category.cover" [alt]="category.name">
						</div>
						<div class="m-2">
							<h6 class="text-center">{{category.name}}</h6>
							<p class="text-center">Productos ({{category.products_count}})</p>
						</div>
					</mat-card-content>
				</mat-card>
			</ng-template>
		</ng-container>
	</owl-carousel-o>
	<button class="button-absolute" style="right: 0" mat-icon-button (click)="owlList.next()">
		<mat-icon>keyboard_arrow_right</mat-icon>
	</button>
</ng-template>
