<div fxLayout="column" fxFlex>
  <div fxLayout="column" fxLayoutGap=".5em" class="mt-2 mx-2" fxFlex="0 1 auto">
    <div fxLayout="row" fxFlex fxLayoutAlign="space-between">
      <h3>Mis {{this.currentProfileType === ProfileTypes.PYMES ? 'Tiendas': this.currentProfileType === ProfileTypes.INDEPENDENTS ? 'Independientes': 'Vendedores'}}</h3>
      <button mat-raised-button color="primary" *ngIf="showIfNotSellerAdded" (click)="add()">Nuevo</button>
    </div>
    <mat-divider class="mx-2"></mat-divider>
  </div>
  <app-loading-spinner label="Cargando..." *ngIf="generalLoading; else noLoadingTmpl"></app-loading-spinner>
  <ng-template #noLoadingTmpl>
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="3%" class="m-2" *ngIf="ownProfiles.length; else noProfilesTmpl">
      <ng-container *ngFor="let own of ownProfiles">
        <div fxLayout="column" fxFlex="30%" fxFlex.lt-md="auto" class="mat-elevation-z2 bg-white" style="border-radius: 5px;">
          <div fxLayoutAlign="center center">
            <img class="rounded-circle" [src]="own.attributes.photo.url || defaultImg"
                 onerror="this.src = 'https://cdn2.iconfinder.com/data/icons/online-shopping-flat-round/550/store-512.png'" [alt]="own.attributes.title">
          </div>
          <div class="m-2" fxFlex fxLayout="column">
            <div fxFlex>
              <strong class="text-capitalize">{{own.attributes.title}}</strong>
              <mat-divider class="m-1 position-relative"></mat-divider>
              <p class="text-muted text-truncate">
                {{own.attributes.description}}
              </p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
              <button mat-button (click)="goTo(own.id)">
                <fa-icon icon="tools" size="1x"></fa-icon>
                Administrar
              </button>
              <button mat-button (click)="delete(own)" *ngIf="loadingDelete !== own.id; else loadingDeleteTmpl">
                <mat-icon color="warn">delete_forever</mat-icon>
                Eliminar
              </button>
              <ng-template #loadingDeleteTmpl>
                <mat-spinner class="m-auto" diameter="20"></mat-spinner>
              </ng-template>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-template #noProfilesTmpl>
      <app-no-data-aviable-display title="No hay registros" content="Puedes intentar creando uno"></app-no-data-aviable-display>
    </ng-template>
  </ng-template>
</div>

<!--
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="d-flex justify-content-between align-items-center">
				<h2>Mis {{this.currentProfileType === ProfileTypes.PYMES ? 'Tiendas': this.currentProfileType === ProfileTypes.INDEPENDENTS ? 'Independientes': 'Vendedores'}}</h2>
				<button mat-raised-button color="primary" *ngIf="showIfNotSellerAdded" (click)="add()">Nuevo</button>
			</div>
			<mat-divider></mat-divider>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="d-flex mt-2 flex-column align-items-center justify-content-center" *ngIf="generalLoading; else List">
				<mat-spinner diameter="60"></mat-spinner>
				<p class="mt-2">Cargando datos...</p>
			</div>

			<ng-template #List>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="3%" class="m-2">

        </div>
				<div class="jumbotron m-2" *ngIf="!ownProfiles.length; else Profiles;">
					<h1>No hay registros</h1>
					<p class="lead">Puedes intentar registrando uno nuevo</p>
				</div>
				<ng-template #Profiles>
					<mat-nav-list>
						<div class="container" style="margin-top: 1%">
							<div class="row">
								<div class="col-md-4" style="margin-top: 1%" *ngFor="let own of ownProfiles">
									<div class="section-card-container">
										<mat-card>
											<mat-card-content class="target" (click)="goTo(own.id)">
												<img mat-card-image src="https://cdn2.iconfinder.com/data/icons/online-shopping-flat-round/550/store-512.png">
												<strong class="text-capitalize">{{own.attributes.title}}</strong>
												<p class="text-muted text-truncate">
													{{own.attributes.description}}
												</p>
											</mat-card-content>
											<mat-card-actions class="text-center">
												<button mat-button (click)="delete(own)" *ngIf="loadingDelete !== own.id; else loadingDeleteTmpl">
													<mat-icon color="warn">delete_forever</mat-icon>
													Eliminar
												</button>
                        <ng-template #loadingDeleteTmpl>
                          <mat-spinner class="m-auto" diameter="20"></mat-spinner>
                        </ng-template>
											</mat-card-actions>
										</mat-card>
									</div>
								</div>
							</div>
						</div>
					</mat-nav-list>
				</ng-template>
			</ng-template>
		</div>
	</div>
</div>
-->
