<button mat-icon-button (click)="toggleWish()">
	<fa-icon *ngIf="!isFetching; else isFetchingTmpl"
		[ngClass]="showIsLiked ? 'text-danger': ''" [icon]="showIsLiked ? ['fas', 'heart']: ['far', 'heart']" size="2x"></fa-icon>

	<ng-template #isFetchingTmpl>
		<mat-spinner diameter="30"></mat-spinner>
	</ng-template>
</button>
