.mat-badge-content{
    right: -20px !important;
    top: -5px !important;
    background-color: #dc3545 !important;
}

.bg-linear-gradient-blue{
  background: linear-gradient(to right, #3F51B5 0%, #2332B5 46%, #042275 100%);
}

.message-wrapper{
	&:hover{
		background-color: #f7f7f7f7;
	}

	.media{

		.content-tittle{
			background: linear-gradient(135deg, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
			.picture{
				height: 2.5em;
        width: 2.5em;

			}
		}

		.media-body{
			width: 80%
		}

		.media-options{
			width: 20%;
		}


	}
}

