<div class="container-fluid">
  <div class="row">
    <div class="col m-0">
      <h4 class="mt-3">Conversaciones</h4>
			<ng-container [ngSwitch]="chatService.isConnectedToChat | async">
				<ng-container *ngSwitchCase="true">
					<mat-tab-group mat-stretch-tabs backgroundColor="primary" color="warn">
						<mat-tab>
							<ng-template mat-tab-label>
								<span [matBadge]="conversations.user_conversations.length" [matBadgeHidden]="!conversations.user_conversations.length" matBadgePosition="above after">Mensajes </span>
							</ng-template>
							<ul class="list-unstyled mt-1">
								<!-- Messages Foreach -->
								<ng-container *ngFor="let chat of conversations.user_conversations">
									<div class="message-wrapper">
										<li class="media">
											<div class="media-body align-self-end">
												<div class="content-tittle d-flex rounded-pill">
													<div class="picture bg-linear-gradient-blue rounded-circle mr-2 border d-flex justify-content-center" *ngIf="!chat.receptor_messageable.custom_avatar">
														<b class="align-self-center text-white">{{chat.receptor_messageable.name.toUpperCase().charAt(0)}}</b>
													</div>
													<img onerror="this.src='assets/imgs/profile.jpg'" class="picture rounded-circle mr-2 border" [src]="chat.receptor_messageable.custom_avatar" *ngIf="chat.receptor_messageable.custom_avatar">
													<h6 class="align-self-center trucate m-0">{{chat.receptor_messageable.name}}</h6>
													<div class="d-flex flex-fill justify-content-end">
														<button mat-icon-button class="align-self-end" [matTooltip]="'Chatear con ' + chat.receptor_messageable.name " (click)="addChatToList(chat)"><mat-icon>forum</mat-icon></button>
														<button mat-icon-button class="align-self-end" (click)="dismissConversation(chat.id, chat.sender_messageable.type === 'Profile' ? chat.sender_messageable.id: null)"><mat-icon>clear</mat-icon></button>
													</div>
												</div>
												<p class="trucate mt-2 mb-1 ml-2">{{chat.body_messages[chat.body_messages.length - 1].body}}</p>
												<div class="d-flex justify-content-end">
													<small class="text-secondary">{{chat.body_messages[chat.body_messages.length - 1].created_at | dateNotification}}</small>
												</div>
											</div>
										</li>
										<mat-divider class="m-2"></mat-divider>
									</div>
								</ng-container>
								<li class="media" *ngIf="!conversations.user_conversations.length">
									<div class="media-body">
										<h4> <mat-icon class="m-2 text-success">check_circle</mat-icon> Sin mensajes</h4>
										<p class="text-secondary">Acá estarán visibles todos tus mensajes con otros usuarios que desean contactarte</p>
									</div>
								</li>
							</ul>
						</mat-tab>

						<mat-tab>
							<ng-template mat-tab-label>
								<span [matBadge]="filteredCotizations.length" [matBadgeHidden]="!filteredCotizations.length" matBadgePosition="above after">Cotizaciones</span>
							</ng-template>

							<div class="d-flex justify-content-end" *ngIf="conversations.cotizations_conversations.length">
								<mat-form-field>
									<mat-select placeholder="Filtrar por estatus" value="all" (selectionChange)="filterByStatus($event.value)">
										<mat-option value="all">Todos</mat-option>
										<mat-option *ngFor="let status of cotizationStatusKeys" [value]="status">{{cotizationDicc.get(status)}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<ul class="list-unstyled">
								<!--cotizaciones for-->
								<ng-container *ngFor="let chat of filteredCotizations">
									<div class="message-wrapper">
										<li class="media">
											<div class="media-body align-self-end">
												<div class="content-tittle d-flex rounded-pill">
													<div class="picture bg-linear-gradient-blue rounded-circle mr-2 border d-flex justify-content-center" *ngIf="!chat.receptor_messageable.custom_avatar">
														<b class="align-self-center text-white">{{chat.receptor_messageable.name.toUpperCase().charAt(0)}}</b>
													</div>
													<img onerror="this.src='assets/imgs/profile.jpg'" class="picture rounded-circle mr-2 border" [src]="chat.receptor_messageable.custom_avatar" *ngIf="chat.receptor_messageable.custom_avatar">
													<h6 class="align-self-center trucate m-0">{{chat.receptor_messageable.name}}</h6>
													<div class="d-flex flex-fill justify-content-end">
														<button mat-icon-button class="align-self-end" [matTooltip]="'Chatear con ' + chat.receptor_messageable.name " (click)="addChatToList(chat)"><mat-icon>forum</mat-icon></button>
														<button mat-icon-button class="align-self-end" (click)="dismissConversation(chat.id, chat.sender_messageable.type === 'Profile' ? chat.sender_messageable.id: null)"><mat-icon>clear</mat-icon></button>
													</div>
												</div>
												<p class="trucate mt-2 mb-1 ml-2" *ngIf="chat.body_messages.length; else noMessageAviable">{{chat.body_messages[chat.body_messages.length - 1].body}}</p>
												<ng-template #noMessageAviable><p class="trucate mt-2 mb-1 ml-2" >No hay mensaje disponible...</p></ng-template>
												<div class="d-flex justify-content-between">
													<a class="cursor-pointer badge text-white"
														 [ngClass]="getClassByCotizationStatus(chat.cotization.stage)"
														 (click)="changeStatusCotization(chat.cotization.id, chat.cotization.stage, chat.sender_messageable.type === 'Profile' ? chat.sender_messageable.id: null)">
														{{cotizationDicc.get(chat.cotization.stage)}}
													</a>
													<small class="align-self-end text-secondary">{{chat.body_messages[chat.body_messages.length - 1].created_at | dateNotification}}</small>
												</div>
											</div>
										</li>
										<mat-divider class="m-2"></mat-divider>
									</div>
								</ng-container>

								<ng-container *ngIf="!filteredCotizations.length && conversations.cotizations_conversations.length">
									<li class="media">
										<div class="media-body">
											<h4> <mat-icon class="m-2 text-info">info</mat-icon> No existen resultados</h4>
											<p class="text-secondary">Actualmente no existen resultados asociados con los parámetros de busqueda</p>
										</div>
									</li>
									<mat-divider></mat-divider>
								</ng-container>

								<ng-container *ngIf="!conversations.cotizations_conversations.length">
									<li class="media">
										<div class="media-body">
											<h4> <mat-icon class="m-2 text-success">check_circle</mat-icon> Estas al día</h4>
											<p class="text-secondary">Cuando tus clientes deseen comprar tus productos acá podrás ver todas tus cotizaciones pendientes</p>
										</div>
									</li>
									<mat-divider></mat-divider>
								</ng-container>
							</ul>

						</mat-tab>
					</mat-tab-group>
				</ng-container>
				<div *ngSwitchDefault class="d-flex flex-column align-items-center justify-content-center">
					<mat-spinner diameter="60"></mat-spinner>
					<p>Estamos conectando con el servicio de chat, por favor espere...</p>
				</div>
			</ng-container>

    </div>
  </div>
</div>
