<h1 mat-dialog-title>Cotizar productos</h1>
<div mat-dialog-content>
  <mat-card class="shadow m-2">
    <div class="d-flex">
      <mat-icon class="align-self-center mr-2">info</mat-icon>
      <p>La siguiente lista de <b>Perfiles</b> será notificada al momento de enviar la cotización, 
        recuerda mantener contacto con ellos. <a class="btn btn-link p-0 text-info">mas info.</a></p>
    </div>
  </mat-card>

  <mat-divider class="m-2"></mat-divider>

  <table class="table table-bordered shadow-sm">
    <thead>
      <tr>
        <th>
          Perfil
        </th>
        <th>
          Cant. Productos
        </th>
        <th>
          Subtotal
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>
          {{item.profile_name}}
        </td>
        <td class="text-right">
          {{item.items.length}}
        </td>
        <td class="text-right">
          {{getTotalByProfile(item.profile_id) | currency: 'USD'}}
        </td>
      </tr>
      <tr>
        <td colspan="3" class="text-right p-2">
          Total a cotizar: {{getTotalGlobal() | currency: 'USD'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions class="justify-content-center">
  <button mat-button (click)="onClose()">Cancelar</button>
  <button mat-button (click)="onClose(true)" cdkFocusInitial>Cotizar</button>
</div>