<div class="bigwave-container">
  <app-menu></app-menu>
  <mat-sidenav-container hasBackdrop="false" class="sidenav-container" [style.paddingTop.px]="mobileQuery.matches ? 56: 64">
    <mat-sidenav
      *ngIf="adminService.isInAdminMode | async"
      #sidenavAdmin
      [style.backgroundColor]="'#3f51b5'"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      autosize
      fixedInViewport="true"
      [fixedTopGap]="mobileQuery.matches ? 55 : 64">
      <app-sidenav-bigwave></app-sidenav-bigwave>
    </mat-sidenav>
		<mat-sidenav
			class="chat-sidenav"
			#sidenavChat
			*ngIf="ats.userSignedIn()"
			position="end"
			fixedInViewport="true"
			[fixedTopGap]="mobileQuery.matches ? 55 : 64">
			<app-chat-single></app-chat-single>
		</mat-sidenav>
    <mat-sidenav-content>
			<app-global-loading></app-global-loading>
      <app-global-alert></app-global-alert>
      <main [@fadeAnimation]="getRouterOutletState(main)">
					<router-outlet #main="outlet"></router-outlet>
					<app-chat-toggle-button-fab class="w-auto"></app-chat-toggle-button-fab>
        </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

