.sidenav-container{
  flex: 1;
  height: 100%;
}

:host {
	display: flex;
	overflow: hidden;
	height: 100vh;
}

:host main {
	flex: 1;
	position: relative;
	height: 100%;
}

::ng-deep router-outlet ~ * {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
}

mat-sidenav.chat-sidenav{
	width: 360px;
	min-width: 360px;
	max-width: 360px;
}
