<button mat-fab color="primary" matBadge="2" matBadgeHidden  matBadgeColor="warn" *ngIf="ats.userSignedIn()" (click)="cs.toggleSidenav()">
	<mat-icon aria-label="Botón para abrir del contenedor de chat">message</mat-icon>
</button>
