<div class="container-fluid front-store">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="margin-top: 1rem!important">
        <mat-card color="primary">
          <mat-card-content>
						<h3 class="resp-titulo">Crear tu negocio online es fácil</h3>
						<hr>
            <p>
              Ya sea que tengas un negocio establecido o te dediques de forma
              independiente a prestar servicios, la Ewave es la forma de
              contactar a tus futuros clientes, de manera simple, rápida, y sin
              costos.
            </p>
          </mat-card-content>
          <form #nameStore="ngForm" (ngSubmit)="submitStoreName(nameStore)">
            <div class="d-flex flex-column align-items-center justify-content-center">
							<mat-form-field class="mr-1 w-100">
								<input matInput placeholder="Nombre de tu negocio" name="storeName" [(ngModel)]="storeName" type="text" />
							</mat-form-field>
							<button mat-raised-button color="primary" class="align-self-center">
								Empezar
							</button>
						</div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 50px">
  <mat-grid-list cols="3" rowHeight="100px" class="hidden-xs">
    <mat-grid-tile>
      <div class="info-card">
        <div class="info-card-title text-left">Múltiples Funcionalidades</div>
        <div class="info-card-content">
          Explore una amplia variedad de herramientas para hacer crecer su
          negocio
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="info-card">
        <div class="info-card-title text-left">Autoadministración online</div>
        <div class="info-card-content">
          Administra tu tienda de manera autónoma sin pagar mensualidades
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="info-card">
        <div class="info-card-title text-left">Acceso de por vida</div>
        <div class="info-card-content">
          Sin tiempo limite como otras plataformas
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<app-loading-spinner *ngIf="loading; else homeTmpl" diameter="70" label="Cargando..."></app-loading-spinner>

<ng-template #homeTmpl>
	<!--Pymes-->
	<div class="container mt-2">
		<div class="row">
			<div class="col">
				<div class="d-flex align-items-center justify-content-between">
					<h3 class="resp-careousel">Tiendas</h3>
					<button mat-raised-button color="primary" [routerLink]="['/profiles']" [queryParams]="{ profiles: 'Pyme' }">
						Ver más
					</button>
				</div>
				<mat-divider class="m-2"></mat-divider>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<app-profiles-carousel-items [items]="pymes" [loading]="loading" [profileType]="ProfileTypes.PYMES" visitLabel="Ver tienda"></app-profiles-carousel-items>
			</div>
		</div>
	</div>

	<!-- Independientes -->
	<div class="container mt-2">
		<div class="row">
			<div class="col">
				<div class="d-flex align-items-center justify-content-between">
					<h3 class="resp-careousel">Independientes</h3>
					<button mat-raised-button color="primary" [routerLink]="['/profiles']" [queryParams]="{ profiles: 'Independent' }">
						Ver más
					</button>
				</div>
				<mat-divider class="m-2"></mat-divider>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<app-profiles-carousel-items [items]="independents" [loading]="loading" [profileType]="ProfileTypes.INDEPENDENTS"></app-profiles-carousel-items>
			</div>
		</div>
	</div>

	<!-- Sellers -->
	<div class="container mt-2">
		<div class="row">
			<div class="col">
				<div class="d-flex align-items-center justify-content-between">
					<h3 class="resp-careousel">Vendedores</h3>
					<button mat-raised-button color="primary" [routerLink]="['/profiles']" [queryParams]="{ profiles: 'Seller' }">
						Ver más
					</button>
				</div>
				<mat-divider class="m-2"></mat-divider>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<app-profiles-carousel-items [items]="sellers" [loading]="loading" [profileType]="ProfileTypes.SELLERS"></app-profiles-carousel-items>
			</div>
		</div>
	</div>

	<!-- Productos Recientes -->
	<div class="container mt-2">
		<div class="row">
			<div class="col">
				<div class="d-flex align-items-center justify-content-center">
					<h3 class="resp-careousel">Productos Recientes</h3>
				</div>
				<mat-divider class="m-2"></mat-divider>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<app-products-carousel-items [items]="lastestsProducts" [loading]="loading"></app-products-carousel-items>
			</div>
		</div>
	</div>

	<!--Productos Mas Deseados-->
	<div class="container mt-2">
		<div class="row">
			<div class="col">
				<div class="d-flex align-items-center justify-content-center">
					<h3 class="resp-careousel">Productos Mas Deseados</h3>
				</div>
				<mat-divider class="m-2"></mat-divider>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<app-products-carousel-items [items]="wishedProducts" [loading]="loading"></app-products-carousel-items>
			</div>
		</div>Productos recomendados
	</div>

	<div class="container mt-2">
		<div class="row">
			<div class="col">
				<div class="d-flex align-items-center justify-content-center">
					<h3 class="resp-careousel">Categorías Destacadas</h3>
				</div>
				<mat-divider class="m-2"></mat-divider>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<app-categories-carousel-items [loading]="loading" [items]="categories"></app-categories-carousel-items>
			</div>
		</div>
	</div>
</ng-template>


<app-footer></app-footer>
