<h2 style="display:inline-block;margin-bottom:0px;">Politicas de privacidad</h2>
<a style="float: right;margin-left: 5px;cursor:pointer;font-size: 25px;" (click)="onNoClick()" color="basic">
  <mat-icon>clear</mat-icon>
</a>

<hr>

<mat-dialog-content>
  <h5>Los terminos son:</h5>
  <p>{{terms}}</p>
  <h5>Los terminos UPDATE 2018:</h5>
  <p>{{terms}}</p>
</mat-dialog-content>

<mat-dialog-actions align="center" class="mat-dialog-actions">
  
  <a href="{{file}}" mat-button mat-raised-button color="primary" target="_blank">Descargar</a>

</mat-dialog-actions>

<div style="border-top: 10px solid #ffab40;margin-top:35px;"></div>

