<mat-spinner mode="indeterminate" *ngIf="generalLoading"></mat-spinner>

<div class="container pt-4" *ngIf="!generalLoading">

	<h4 style="float:left">Editar Producto</h4>
	<div class="d-flex flex-row-reverse">
		<button mat-raised-button (click)="updateProduct()" color="primary" class="float-rigth">
			Actualizar producto
		</button>
		<button mat-raised-button (click)="back()" color="basic" class="mr-2 float-rigth">
			Cancelar
		</button>
	</div>

	<hr>
	<!--<mat-card style="margin: 30px">-->
	<div class="row">
		<div class="col-sm-4" style="overflow: hidden;">


			<div class="row">
				<div class="col-sm-12">
					<h5 class="">Imágen de portada</h5>
				</div>

				<div class="col-sm-12">
					<!-- <img class="user-profile-avatar" src="{{imageCache}}" alt="" *ngIf="toggleImage && imageCache"> -->
					<img class="user-profile-avatar" src="{{product.attributes.cover.url}}" alt=""
						>
						<!-- <img class="user-profile-avatar" src="https://bigwave-api.herokuapp.com{{product.attributes.cover.url}}" alt=""
							*ngIf="!toggleImage && !imageCache"> -->
					<input id="profile" type='file' (change)="onSelectFile($event)" class="inputfile" multiple>
					<label class="bw-b-primary inputLabel mt-3" for="profile">Seleccionar foto de portada</label>
				</div>
				
			</div>
			<br>
			<div class="row">
				<div class="col-sm-12">
					<h5 class="title-row">Imágenes del producto</h5>
				</div>

				<div class="col-sm-12">

					<input id="file" multiple type='file' (change)="detectFiles($event)" accept="image/*" style="position: absolute;z-index: -1;opacity: 0;">
					<div style="width: 100%;background: #fff;position:relative;">
						<label for="file" 
						style="width: 100%;
						height: 100px;
						cursor: pointer; 
						border: 1px solid #888;
						border-radius: 4px;
						overflow: hidden;
						position: relative;
						left: 15px;
						top: 0;padding: 0;
						border-style: dashed;"
						class="row align-items-center justify-content-center">
							<img *ngIf="imagen!=null" src="{{imagen}}" style="max-width: 100%;max-height: 100%;width: auto;height: auto;"
								class="col">
							<mat-icon *ngIf="imagen==null" aria-label="Example icon-button with a heart icon" style="color: #888;font-size: 48px;width: 48px;height: 48px">photo_camera</mat-icon>
						</label>

					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-sm-12">
					<div *ngFor="let url of images" style="padding: 4px 4px">
						<mat-card>

							<img mat-card-image [src]="url" style="object-fit: cover; height: 80px">
							<button mat-icon-button (click)="deleteTempImages(url)" style="text-align: center;width: 100%;position: absolute;left: 0;bottom: 0">
								<mat-icon>delete</mat-icon>
							</button>
						</mat-card>
					</div>
				</div>
			</div>

			<div class="row">
				<div *ngFor="let photo of product.attributes.photos" style="padding: 4px 4px">
					<mat-card class="example-card">
						<!--mat-card-header>
							< <div mat-card-avatar class="example-header-image"></div> >

						</mat-card-header-->
						<img mat-card-image src="https://bigwave-api.herokuapp.com{{photo.photo.url}}" style="object-fit: cover; height: 80px">
						<button mat-icon-button (click)="deleteImages(photo)" style="text-align: center;width: 100%;position: absolute;left: 0;bottom: 0">
							<mat-icon>delete</mat-icon>
						</button>
					</mat-card>
				</div>
			</div>

			<br>
			<div class="row">
				<div class="col-sm-12">
					<h5 class="title-row">Archivos</h5>
				</div>

				<div class="col-sm-12">

					<input id="allfiles" type="file" placeholder="PDF src" (change)="onChange($event)" multiple
					style="position: absolute;z-index: -1;opacity: 0;">
					<div style="width: 100%;background: #fff;position:relative;">
						<label for="allfiles" 
						style="width: 100%;
						height: 100px;
						cursor: pointer; 
						border: 1px solid #888;
						border-radius: 4px;
						overflow: hidden;
						position: relative;
						left: 15px;
						top: 0;padding: 0;
						border-style: dashed;"
						class="row align-items-center justify-content-center">
							<mat-icon aria-label="Example icon-button with a heart icon" style="color: #888;font-size: 48px;width: 48px;height: 48px">cloud_upload</mat-icon>
						</label>

					</div>
					
				</div>
			</div>


			<div class="row" style="margin-top: 10px">
				<div class="col-sm-6" *ngFor="let document of docsNames" style="padding: 4px 4px">
					<mat-card-header>
						{{ document }}
					</mat-card-header>
					<mat-card class="example-card">
						<img mat-card-image src="assets/imgs/document.png" style="object-fit: cover; height: 80px">
						<button mat-icon-button (click)="deleteDocument(document)" style="text-align: center;width: 100%;position: absolute;left: 0;bottom: 0">
							<mat-icon>delete</mat-icon>
						</button>
					</mat-card>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6" *ngFor="let document of product.attributes.documents" style="padding: 4px 4px">
					<mat-card class="example-card">
						<img mat-card-image src="assets/imgs/document.png" style="object-fit: cover; height: 80px">
						<button mat-button style="text-align: center;width: 50%;position: absolute;left: 0;bottom: 0">
							<a [href]="document.document.url | safeUrl " target="_blank"> VER</a>
						</button>
						<!--button mat-button (click)="deleteDocument(document)">ELIMINAR</button-->
						<button mat-icon-button (click)="deleteDocument(document)" style="text-align: center;width: 50%;position: absolute;right: 0;bottom: 0">
							<mat-icon>delete</mat-icon>
						</button>
					</mat-card>
				</div>
			</div>
		</div>


		<div class="col-sm-8">
			<div class="row">

				<div class="col-sm-12">
						<div class="p-1 mb-3">
							<h5>Información general</h5>
							<div style="border-top: 5px solid #ffab40;margin-bottom:5px;"></div>
						</div>
				</div>

				<div class="col-md-12">
					<mat-form-field class="example-full-width">
						<input matInput placeholder="Nombre del producto" [(value)]="product.attributes.name" [(ngModel)]="product.attributes.name">
					</mat-form-field>
				</div>

				<div class="col-md-12">
					<mat-form-field class="example-full-width">
						<textarea matInput placeholder="Descripción del producto" value="{{ product.attributes.description }}"
							[(ngModel)]="product.attributes.description"></textarea>
					</mat-form-field>
				</div>

				<div class="col-md-6">
					<mat-form-field class="example-full-width">
						<mat-select placeholder="Tipo de moneda" [(value)]="product.attributes.currency" [(ngModel)]="product.attributes.currency">
							<mat-option value="CLP">CLP - Peso chileno</mat-option>
							<mat-option value="USD">USD - Dólares</mat-option>
							<mat-option value="BS">VEF - Bolívares</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<mat-form-field class="example-full-width">
						<input matInput placeholder="Precio" type="number" class="example-right-align" value="{{ product.attributes.price }}"
							[(ngModel)]="product.attributes.price">
						<span matPrefix>{{product.currency}}&nbsp;</span>
						<span matSuffix>.00</span>
					</mat-form-field>
				</div>

				<br>
				<div class="col-sm-12 " >
					<div class="p-1 mb-3">
						<h5>Caracteristicas</h5>
						<div style="border-top: 5px solid #ffab40;margin-bottom:5px;"></div>
					</div>
				</div>

				<div class="col-md-6">
					<mat-form-field class="example-full-width">
						<input matInput placeholder="Stock del producto" value="{{ product.attributes.stock }}" [(ngModel)]="product.attributes.stock" type="number">
					</mat-form-field>
				</div>

				<div class="col-md-6">
					<mat-form-field class="example-full-width">
						<input matInput placeholder="Número de Referencia" [(value)]="product.attributes['num_ref']" [(ngModel)]="product.attributes['num_ref']">
					</mat-form-field>
				</div>

				<div class="col-md-6">
					<mat-form-field class="example-full-width">
						<input matInput type="number" placeholder="Código de Barra" [(value)]="product.attributes['bar_code']"
							[(ngModel)]="product.attributes['bar_code']">
					</mat-form-field>
				</div>

				<div class="col-md-6">
					<mat-form-field class="example-full-width">
						<input matInput placeholder="Marca" [(value)]="product.attributes.brand" [(ngModel)]="product.attributes.brand">
					</mat-form-field>
				</div>

				<div class="col-md-6">
					<mat-form-field class="example-full-width">
						<mat-select placeholder="Tipo de servicio" [(value)]="product.attributes['service_type']" [(ngModel)]="product.attributes['service_type']">
							<mat-option value="product">Producto</mat-option>
							<mat-option value="service">Servicio</mat-option>
							<mat-option value="product-n-service">Producto y Servicio</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col-sm-6">
					<mat-slide-toggle matTooltip="Los productos destacados se definen como mas relevantes" style="margin-top:25px;"
						[(ngModel)]="product.attributes.prominent">
						{{ product.attributes.prominent ? 'Destacado' : 'No destacado' }}
					</mat-slide-toggle>
				</div>

			</div>

			<!-- TAGS -->
			<!-- ////////////////////// -->
			<br>
			<div class="row">
				<div class="col-sm-12">
					<h5>Etiquetas</h5>
					<div class="col-5" style="border-top: 3px solid #ffab40;margin-bottom:10px;"></div>
				</div>
				<div class="col-sm-12">
					<label style="font-size: 12px;">Escribe la etiqueta deseada y presiona enter para agregar</label>
					<mat-form-field class="demo-chip-list" style="width: 100%">
						<mat-chip-list #chipList>
							<mat-chip color="primary" *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
								{{ tag }}
								<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
							</mat-chip>
							
							<input placeholder="Nuevo Tag" matInput [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
								[matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
						</mat-chip-list>
					</mat-form-field>
				</div>
			</div>

			<!-- PRODUCTO VIRTUAL -->
			<!-- ////////////////////// -->
			<br>
			<div class="row">
				<div class="col-sm-12">
					<h5>¿Es un producto virtual?</h5>
					<div class="col-5" style="border-top: 3px solid #ffab40;margin-bottom:10px;"></div>

					<mat-radio-group [(ngModel)]="product.attributes['virtual_product']">
						<mat-radio-button [value]="true">Si</mat-radio-button>
						<mat-radio-button [value]="false">No</mat-radio-button>
					</mat-radio-group>
				</div>
			</div>

			<br><br>

			<!-- CATEGORIAS -->
			<div class="row">

				<div class="col-sm-12">
									
					<h5 >Categorías</h5>
					<div class="col-5" style="border-top: 3px solid #ffab40;margin-bottom:10px;"></div>

					<mat-chip-list #chipCategoryList>
						<mat-chip color="primary" *ngFor="let category of subcategories" [selectable]="selectable" [removable]="removable"
							(removed)="removeSubcategory(category, category.id)">
							{{ category.name }}
							<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
						</mat-chip>
					</mat-chip-list>

					<form [formGroup]="stateForm" style="margin-top: 10px">
						<mat-form-field style="width: 100%">
							<input type="text" matInput placeholder="Categorías" formControlName="stateGroup" [matAutocomplete]="autoGroup"
								[(ngModel)]="categoryName">
							<mat-autocomplete #autoGroup="matAutocomplete">
								<mat-optgroup *ngFor="let option of stateGroupOptions | async" [label]="option.category">
									<mat-option *ngFor="let subcategory of option.subcategories" [value]="subcategory.name" (click)="addSubcategory(subcategory)">
										{{subcategory.name}}
									</mat-option>
								</mat-optgroup>
							</mat-autocomplete>
						</mat-form-field>
					</form>


				</div>

				<div class="col-sm-6" style="margin-top: 10px">

				</div>

			</div>

			<br>
			<div class="row">
				<div class="col-sm-12">
					<h5 >Rangos de precios</h5>
					<div class="col-5" style="border-top: 3px solid #ffab40;margin-bottom:10px;"></div>
				</div>

				<div class="col-lg-4">
					<mat-form-field style="width: 100%">
						<input matInput placeholder="Cantidad" type="number" class="example-right-align" id="product_stock"
							[ngModelOptions]="{standalone: true}" [(ngModel)]="quantity" />
					</mat-form-field>
				</div>

				<div class="col-lg-4">
					<mat-form-field style="width: 100%">
						<input matInput placeholder="Precio" type="number" class="example-right-align" id="product_price"
							[ngModelOptions]="{standalone: true}" [(ngModel)]="price" />
						<span matPrefix *ngIf="typeMoney == 'CLP'">$&nbsp;</span>
						<span matPrefix *ngIf="typeMoney == 'USD'">$&nbsp;</span>
						<span matPrefix *ngIf="typeMoney == 'BS'">Bs.&nbsp;</span>
						<span matSuffix>.00</span>
					</mat-form-field>
				</div>

				<div class="col-lg-4 text-center">
					<button mat-raised-button color="primary" (click)="addRange(this.price, this.quantity)">
						Añadir
					</button>
				</div>

				<mat-spinner mode="indeterminate" *ngIf="rangesLoading"></mat-spinner>
				<div class="col-lg-12" *ngIf="!rangesLoading">
					<mat-nav-list>
						<mat-list-item *ngFor="let range of ranges">
							<h3 matLine>Cantidad: {{ range.stock }} - Precio: {{ range.price }}</h3>
							<button mat-icon-button (click)="removeRange(range)">
								<mat-icon>delete</mat-icon>
							</button>
						</mat-list-item>
					</mat-nav-list>
				</div>

				<div class="col-sm-12">
					<app-block-helper text="Puedes crear rangos de precios diferentes dependiendo la cantidad de productos que desee un cliente. Este precio será aplicado al momento de la cotización. Por ejemplo, Para 10 Unidades el Precio unitario sería de USD 10."></app-block-helper>

					<!--
					<div class="info-card">
						<div class="text-left">
							Puedes crear rangos de precios diferentes dependiendo la cantidad de productos que desee un cliente. Este precio será aplicado al momento de la cotización. Por ejemplo, Para 10 Unidades el Precio unitario sería de USD 10.
						</div>
					</div>
					-->
				</div>

			</div>

			<br>


			<!-- PRODUCTO RELACIONADOS -->
			<!-- ////////////////////// -->
			<div class="row">
				<div class="col-sm-12">
					<h5 >Productos relacionados</h5>
					<div class="col-5" style="border-top: 3px solid #ffab40;margin-bottom:10px;"></div>
				</div>

				<div class="col-sm-12">
					<mat-chip-list #chipList>
						<mat-chip color="primary" *ngFor="let product of productRelations" [selectable]="selectable" [removable]="removable"
							(removed)="removeProduct(product)">
							{{ product.name }}
							<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
						</mat-chip>
					</mat-chip-list>
				</div>

				<div class="col-lg-12">
					<mat-form-field class="example-full-width">
						<mat-select placeholder="Productos" [formControl]="myControl" multiple>
							<mat-option *ngFor="let prod of myProducts" [value]="prod.id" (click)="toggleProduct(prod)">
								{{ prod.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col-sm-12" *ngIf="productRelations.length==0">
					<div class="info-card">
						<div class="text-left">
							Aún no puedes relacionar otro producto. Primero debes crear tu primer producto.
						</div>
					</div>
				</div>

			</div>

			<br>

			<!-- PRODUCTO Opciones -->
			<!-- ////////////////////// -->


			<div class="row">
				<div class="col-sm-12">
					<h5 >Opciones del producto</h5>
					<div class="col-5" style="border-top: 3px solid #ffab40;margin-bottom:10px;"></div>
				</div>
			</div>

			<div class="row" *ngIf="allOptions.length">
				<div class="col-sm-12">
					<h5 >Seleccionar uno ya existente</h5>
				</div>
				<div class="col-sm-12">
					<mat-form-field class="example-full-width">
						<mat-select placeholder="Opciones" [(value)]="productOptions['option_ids']" [(ngModel)]="productOptions['option_ids']"
							multiple>

							<mat-option *ngFor="let option of allOptions" [value]="option.id" (click)="toggleOption(option)">{{
								option.name}} - {{ option.values }}</mat-option>

						</mat-select>
					</mat-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<mat-form-field class="example-full-width">
						<input matInput placeholder="Ej: Colores" [(value)]="productOptions.name" [(ngModel)]="productOptions.name">
					</mat-form-field>
				</div>

				<div class="col-md-4">
					<mat-form-field class="demo-chip-list" style="width: 100%">
						<mat-chip-list #chipOptionList>
							
							<mat-chip color="primary" *ngFor="let option of productOptions.values" [selectable]="selectable" [removable]="removable"
								(removed)="removeOption(option)">
								{{ option }}
								<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
							</mat-chip>
							
							<input placeholder="Ej: Azul" [matChipInputFor]="chipOptionList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
								[matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addOption($event)" />
						</mat-chip-list>
					</mat-form-field>
				</div>

				<div class="col-md-4 text-center">
					<button mat-raised-button color="primary" (click)="createOption()"
					[(disabled)]="!productOptions.name">
						Añadir
					</button>
				</div>

				<div class="col-sm-12">
					<div class="info-card">
						<div class="text-left">
							Puedes agregar varios valores presionando enter por cada uno.
						</div>
					</div>
				</div>

			</div>

			<div class="row">
				<mat-spinner mode="indeterminate" *ngIf="optionsLoading"></mat-spinner>
				<div class="col-lg-12" *ngIf="!optionsLoading">
					<mat-nav-list>
						<mat-list-item *ngFor="let option of productOption">
							<h3 matLine>Opción: <strong>{{ option.name }}</strong></h3>
							<h3 matLine *ngFor="let value of option.values">
								<span> {{ value }} </span>
							</h3>
							<button class="delete" mat-icon-button (click)="openSureDialog(option)">
								<mat-icon>delete</mat-icon>
							</button>
						</mat-list-item>
					</mat-nav-list>
				</div>
			</div>

			<br>
			<div class="row">
				<div class="col-sm-12">
					<h5 >Campos Personalizados</h5>
					<div class="col-5" style="border-top: 3px solid #ffab40;margin-bottom:10px;"></div>
				</div>
			</div>

			<div class="row" *ngIf="allCustomFields.length">
				<div class="col-sm-12">
					<h5 >Seleccionar uno ya existente {{ CustomFieldsIds }}</h5>
				</div>
				<div class="col-sm-12">
					<mat-form-field class="example-full-width">
						<mat-select placeholder="Campo Personalizado" [(value)]="customField['custom_field_ids']" [(ngModel)]="customField['custom_field_ids']"
							multiple>
							<mat-option *ngFor="let custom of allCustomFields" [value]="custom.id" (click)="toggleCustomField(custom)">{{
								custom.name}} - {{ custom.value }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<mat-form-field class="example-full-width">
						<input matInput placeholder="Ej: Garantía" [(value)]="customFields.name" [(ngModel)]="customFields.name">
					</mat-form-field>
				</div>

				<div class="col-md-4">
					<mat-form-field class="example-full-width">
						<input matInput placeholder="Ej: 3 Meses" [(value)]="customFields.value" [(ngModel)]="customFields.value">
					</mat-form-field>
				</div>

				<div class="col-md-4 text-center">
					<button mat-raised-button color="primary" (click)="createCustomField()" [(disabled)]="!customFields.name || !customFields.value">
						Añadir
					</button>
				</div>
			</div>

			<div class="row">
				<mat-spinner mode="indeterminate" *ngIf="customLoading"></mat-spinner>
				<div class="col-lg-12" *ngIf="!customLoading">
					<mat-nav-list>
						<mat-list-item *ngFor="let custom of customField">
							<h3 matLine>Nombre: {{ custom.name }} - Valor: {{ custom.value }}</h3>
							<button mat-icon-button (click)="removeCustomField(custom)">
								<mat-icon>delete</mat-icon>
							</button>
						</mat-list-item>
					</mat-nav-list>
				</div>
			</div>
		</div>
	</div>


</div>
