.example-form {
  max-width: 500px;
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }
}

.example-right-align {
  -moz-appearance: textfield;
  text-align: right;
}

.example-right-align::-webkit-outer-spin-button,
.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.title-row {
  margin-bottom: 20px;
}

mat-spinner {
  margin: 150px auto;
}

mat-card {
  margin: 0px;
}

.user-profile {
  height: auto;
}

.action-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}

.user-profile {
  width: 100%;
  height: 250px;
  background: #fff;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  padding: 20px;
}

.user-profile-avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fafafa;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  object-fit: cover;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputLabel {
  //font-size: 1.25em;
  //font-weight: 700;
  color: white;
  //display: block;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 2px;
  position: relative;
}

.info-card {
  //min-height: 100px;
  width: 100%;
  border-left: 4px solid #3f51b5;
  padding: 10px;
  display: inline-block;
  color: #6c757d!important;
  background-color: #f8f9fa!important;
}

.delete{
  color:#fa705e;
}
.delete:hover{
  color:#fd3217;
}