<div class="container">


  <h3 class="text-center">¡Empezemos!</h3>
  <p class="text-muted text-center">Despues de crear tu tienda en linea deberas realizar algunas tareas antes de su
    lanzaminto</p>

  <hr class="ml-5 mr-5">

  <div class="row" style="margin-top:80px;">

    <div class="offset-md-2 col-md-8">

      <mat-card class="blackboard-card" style="cursor:pointer;margin-bottom:15px" [routerLink]="['/admin', adminData.type, adminData.id, 'productos']"> <!--TODO -->

        <div class="row">

          <div class="col-md-3 hidden-xs">
            <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/dolly-512.png" height="120" width="120"
              alt="">
          </div>

          <div class="col-md-9">
            <mat-card-title>
              <h5>Administrar productos</h5>
            </mat-card-title>
            <hr>
            <mat-card-content>
              <p>Agrega y edita tus productos. puedes añadir multiples imagenes por productos, asignar los productos a categorias, borrarlos y reordenarlos</p>
            </mat-card-content>
          </div>
        </div>
      </mat-card>


      <br>
      <mat-card class="blackboard-card mt-3" style="cursor:pointer;" [routerLink]="['/admin', adminData.type, adminData.id, 'informacion']">

        <div class="row">
          <div class="col-md-3 hidden-xs">
            <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/gear-512.png" height="120" width="120"
              alt="">
          </div>
          <div class="col-md-9">
            <mat-card-title>
              <h5>Configuración</h5>
            </mat-card-title>
            <hr>
            <mat-card-content>
              <p>Configura los ajustes de tu tienda como nombre y dirección, las divisas de comercio y descripcion de la tienda</p>
            </mat-card-content>
          </div>
        </div>
      </mat-card>

    </div>
  </div>

</div>
