<div fxLayout="row wrap" fxFlex>
  <div fxFlex="70%" fxFlex.lt-md="100%" class="p-1">
    <div fxLayout="column" class="mat-elevation-z2 m-3 p-3" fxFlex fxLayoutGap="1em">
      <div fxLayout="column" fxFlex="0 1 auto">
        <h4 class="m-0">Información del Usuario</h4>
        <mat-divider class="my-2"></mat-divider>
      </div>

      <div [formGroup]="clientDataForm" fxLayout="row" fxLayout.lt-md="column" fxFlex>
        <div  fxLayout="column" fxFlex="50%" fxFlex.lt-md="0 1 auto">
          <div fxLayout="row" class="p-4" fxLayoutAlign="center center" fxFlex>
            <mat-card class="m-2 p-0 card-profile">
              <input class="d-none" type="file" #bannerInput (change)="onChangeImage($event, 'banner')">
              <img (click)="bannerInput.click()" mat-card-image class="cursor-pointer" matTooltip="Actualizar Banner" [src]="clientDataForm?.get('banner').value || user.banner.url || 'assets/imgs/backgroundProfile.png'" onerror="this.src = 'assets/imgs/backgroundProfile.png'" [alt]="user?.name">
              <mat-card-content fxLayout="column">
                <div class="logo-avatar" style="margin-top: -50px;" matTooltip="Actualizar Foto de Perfil">
                  <input class="d-none" type="file" #avatarInput (change)="onChangeImage($event, 'avatar')">
                  <img (click)="avatarInput.click()" [src]="clientDataForm?.get('avatar').value || user.avatar.url || 'assets/imgs/profile.jpg'" onerror="this.src = 'assets/imgs/profile.jpg'" [alt]="user?.name">
                </div>
                <div fxLayout="row" fxFlex class="m-3 justify-content-center" *ngIf="!editingNickname; else editingNicknameTmpl">
                  <span class="text-center p-2">{{user?.nickname}}</span>
                  <button mat-icon-button [disabled]="loadingUpdatingUsername" (click)="editingNickname = true">
                    <mat-icon *ngIf="!loadingUpdatingUsername">edit</mat-icon>
                    <mat-spinner diameter="15" *ngIf="loadingUpdatingUsername"></mat-spinner>
                  </button>
                </div>
                <ng-template #editingNicknameTmpl>
                  <form [formGroup]="updateUsernameForm" fxFlex fxLayoutAlign="center center" class="m-2">
                    <mat-form-field fxFlex="1 1 auto" appearance="outline">
                      <mat-label>Nombre de Usuario</mat-label>
                      <input matInput placeholder="Actualiza tu nombre de usuario" formControlName="nickname">
                      <mat-icon matSuffix *ngIf="nickNameValid && updateUsernameForm.valid && !loadingUsernameValidating" class="text-success">check_circle</mat-icon>
                      <mat-icon matSuffix matTooltip="Nombre de usuario no disponible" *ngIf="(!nickNameValid || !updateUsernameForm.valid) && !loadingUsernameValidating" class="text-danger">close_circle</mat-icon>
                      <mat-spinner matSuffix diameter="20" *ngIf="loadingUsernameValidating"></mat-spinner>
                      <mat-error>
                        <span *ngIf="updateUsernameForm.get('nickname').hasError('required')">Este campo es obligatorio</span>
                        <span *ngIf="updateUsernameForm.get('nickname').hasError('minlength')">El nombre de usuario es muy corto</span>
                        <span *ngIf="updateUsernameForm.get('nickname').hasError('pattern')">El nombre de usuario es inválido</span>
                      </mat-error>
                    </mat-form-field>
                    <button mat-icon-button matTooltip="Cancelar" (click)="onCancelUpdateNickname()">
                      <mat-icon class="text-danger">close</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Guardar"
                            [disabled]="(!nickNameValid || !updateUsernameForm.valid) && !loadingUsernameValidating"
                            (click)="updateNickname()">
                      <mat-icon class="text-success">check</mat-icon>
                    </button>
                  </form>
                </ng-template>
              </mat-card-content>
            </mat-card>
          </div>
          <!--<div fxLayout="column" fxFlex="0 1 auto">
            <div fxLayout="column" fxFlex="0 1 auto">
              <h4 class="m-0">Redes Asociadas</h4>
              <mat-divider class="my-2"></mat-divider>
            </div>

            <div fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutAlign="space-around center">
              <button class="btn btn-social btn-facebook">
                <fa-icon [icon]="['fab','facebook']" size="1x"></fa-icon>
                Conectar con Facebook
                <mat-spinner diameter="15" class="d-inline-flex ml-1 mat-spinner-color" *ngIf="false"></mat-spinner>
              </button>

              <button class="btn btn-social btn-google">
                <fa-icon [icon]="['fab','google']" size="1x"></fa-icon>
                Conectar con Google
                <mat-spinner diameter="15" class="d-inline-flex ml-1 mat-spinner-color" *ngIf="false"></mat-spinner>
              </button>
            </div>
          </div>-->
        </div>
        <div fxLayout="column" fxFlex="50%" fxFlex.lt-md="0 1 auto">
          <div fxLayout="row" fxLayout.lt-md="column" fxFlex>
            <div fxFlex="50%" fxFlex.lt-md="auto" class="p-1">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Introduce tus nombres" formControlName="name">
                <mat-error>Este campo es requerido</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50%" fxFlex.lt-md="auto" class="p-1">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Introduce tus apellidos" formControlName="lastname">
                <mat-error>Este campo es requerido</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-md="column" fxFlex>
            <div fxFlex="50%" fxFlex.lt-md="auto" class="p-1">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>País</mat-label>
                <mat-select formControlName="country">
                  <mat-option *ngIf="!countries.length">No hay paises disponibles</mat-option>
                  <mat-option *ngFor="let country of countries"  [value]="country.code"> {{country.name}}</mat-option>
                </mat-select>
                <mat-spinner matSuffix diameter="20" *ngIf="loadingCountries"></mat-spinner>
                <mat-error>Este campo es requerido</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50%" fxFlex.lt-md="auto" class="p-1">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Género</mat-label>
                <mat-select formControlName="gender">
                  <mat-option value="Masculino">Masculino</mat-option>
                  <mat-option value="Masculino">Femenino</mat-option>
                </mat-select>
                <mat-error>Este campo es requerido</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-md="column" fxFlex>
            <div fxFlex="50%" fxFlex.lt-md="auto" class="p-1">
              <mat-form-field appearance="outline" fxFlex="100%">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [matDatepicker]="birthDayDatePicker" placeholder="Selecciona una fecha" formControlName="birth_date" [max]="currentDate">
                <mat-datepicker-toggle matSuffix [for]="birthDayDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #birthDayDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="50%" fxFlex.lt-md="auto" class="p-1">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>RUT/DNI/PASAPORTE</mat-label>
                <input matInput placeholder="Introduce tus datos de identificación" formControlName="dni">
                <mat-error>Este campo es requerido</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-md="column" fxFlex>
            <div fxFlex="100%" fxFlex.lt-md="auto" class="p-1">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Correo Electrónico</mat-label>
                <input matInput placeholder="Introduce tus apellidos" formControlName="email">
                <mat-error>Este campo es requerido</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div fxLayoutAlign="end" fxLayoutAlign.lt-md="center" fxFlex="0 1 auto">
        <app-loading-bar-progress fxFlex [uploadingBarProgress]="uploadingBarProgress" *ngIf="loading"></app-loading-bar-progress>
        <button type="button" mat-raised-button *ngIf="!loading" [disabled]="clientDataForm.invalid" (click)="updateProfileInfo()">
          Actualizar Datos
        </button>
      </div>
    </div>
  </div>

  <div fxFlex="30%" fxFlex.lt-md="100%" class="p-1">
    <div [formGroup]="updatePasswordForm" fxLayout="column" class="mat-elevation-z2 m-3 p-3" fxFlex fxLayoutGap="1em">
      <div fxLayout="column" fxFlex="0 1 auto">
        <h4 class="m-0">Actualizar Contraseña</h4>
        <mat-divider class="my-2"></mat-divider>
      </div>

      <div fxFlex="0 1 auto" class="p-1" *ngIf="!isTmpPass(); else isTmpPassTmpl">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Contraseña Actual</mat-label>
          <input matInput  [type]="hide ? 'text' : 'password'" formControlName="passwordCurrent" required>
          <mat-icon matSuffix class="cursor-pointer" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error>
            <span *ngIf="updatePasswordForm.get('passwordCurrent').hasError('required')">Este campo es requerido</span>
            <span *ngIf="updatePasswordForm.get('passwordCurrent').hasError('minlength')">Por lo menos 8 caracteres</span>
          </mat-error>
        </mat-form-field>
      </div>

      <ng-template #isTmpPassTmpl>
        <div fxFlex="0 1 auto" class="p-1 border rounded border-info mat-elevation-z2">
          <p class="p-1 text-center">Su usuario actual posee una contraseña temporal de inicio de sesión, debe actualizarla para poder emplear
          otras operaciones dentro de la plataforma</p>
        </div>
      </ng-template>

      <div fxFlex="0 1 auto" class="p-1">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Nueva Contraseña</mat-label>
          <input matInput  [type]="hideNP ? 'text' : 'password'" formControlName="password">
          <mat-icon matSuffix class="cursor-pointer" (click)="hideNP = !hideNP">{{hideNP ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error>
            <span *ngIf="updatePasswordForm.get('password').hasError('required')">Este campo es requerido</span>
            <span *ngIf="updatePasswordForm.get('password').hasError('minlength')">Por lo menos 8 caracteres</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="0 1 auto" class="p-1">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Confirmar Nueva Contraseña</mat-label>
          <input matInput  [type]="hideNPR ? 'text' : 'password'" formControlName="passwordConfirmation">
          <mat-icon matSuffix class="cursor-pointer" (click)="hideNPR = !hideNPR">{{hideNPR ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error>
            <span *ngIf="updatePasswordForm.get('passwordConfirmation').hasError('required')">Este campo es requerido</span>
            <span *ngIf="updatePasswordForm.get('passwordConfirmation').hasError('minlength')">Por lo menos 8 caracteres</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex></div>
      <div fxLayoutAlign="center" fxFlex="0 1 auto">
        <button mat-raised-button (click)="doUpdatePassword()" [disabled]="updatePasswordForm.invalid || loadingUpdatePassword">
          Actualizar Contraseña
          <mat-spinner diameter="15" class="d-inline-flex" *ngIf="loadingUpdatePassword"></mat-spinner>
        </button>
      </div>

    </div>
  </div>
</div>
