.mat-spinner-color::ng-deep circle {
  stroke: #FFFFFF !important;
}

.card-profile{
  ::ng-deep .mat-card-header-text {
    margin: 0;
  }

  .mat-card-image {
    height: 150px; /* adjust as needed */
    width: 100%;
    margin: 0;
    object-fit: cover;

    &:hover{
      filter: drop-shadow(3px 3px 4px gray);
    }
  }

}
