<button mat-icon-button (click)="toggleFollow()" [matTooltip]="showIsFollowing ? 'Dejar de Seguir': 'Seguir'">
	<fa-icon *ngIf="!loading; else isFetchingTmpl"
					 [ngClass]="showIsFollowing ? 'text-danger': ''" [icon]="showIsFollowing ? ['fas', 'user-minus']: ['fas', 'user-plus']" size="1x"></fa-icon>

	<ng-template #isFetchingTmpl>
		<mat-spinner diameter="30"></mat-spinner>
	</ng-template>
</button>
