<h1 mat-dialog-title>Detalles de {{wish.name || 'Deseo'}}</h1>
<div mat-dialog-content>
	<div class="jumbotron m-2 p-3">
		<h4>Datos del Deseo</h4>
		<mat-divider class="m-2"></mat-divider>
		<p>Nombre: <b>{{wish.name || 'N/A'}}</b></p>
		<p>Creado: <b>{{wish.created_at | dateNotification}}</b></p>
		<p>Respondido: <b>{{wish.response ? 'Sí': 'No'}}</b></p>
		<p>Presupuesto: <b>{{wish.budget | currency: 'USD'}}</b></p>
		<p>Descripción: <b>{{wish.description || 'N/A'}}</b></p>
	</div>

	<div class="jumbotron m-2 p-3">
		<h4>Datos del Usuario</h4>
		<mat-divider class="m-2"></mat-divider>
		<p>Nombre: <b>{{wish.user.name}}</b></p>
		<p>Correo: <b>{{wish.user.uid}}</b></p>
		<p>Nickname: <b>{{wish.user.nickname}}</b></p>
	</div>

	<div class="jumbotron m-2 p-3">
		<h4>Datos del Producto</h4>
		<mat-divider class="m-2"></mat-divider>
		<p>Nombre: <b>{{wish.wisheable.name}}</b></p>
		<p>Precio: <b>{{wish.wisheable.price | currency: 'USD'}}</b></p>
		<p>Stock: <b>{{wish.wisheable.stock}}</b></p>
	</div>
</div>
<div mat-dialog-actions>
	<button mat-button class="flex-fill" mat-dialog-close>
		Cerrar
	</button>
</div>
