<div class="d-flex flex-row justify-content-between">
	<h3 mat-dialog-title>¿De donde eres?</h3>
	<button mat-icon-button (click)="onClose()">
		<mat-icon>close</mat-icon>
	</button>
</div>
<mat-dialog-content>
	<form [formGroup]="form">
		<mat-form-field class="w-100 mt-2" matTooltip="Deberá seleccionar un País correspondiente, esto nos ayudará para saber que información mostrarte. De lo contrario obtendrás información de todo el mundo">
			<mat-label>Seleccionar País</mat-label>
			<mat-select formControlName="country">
				<mat-option *ngIf="!countries.length">No hay paises disponibles</mat-option>
				<mat-option *ngFor="let country of countries"  [value]="country"> {{country.name}}</mat-option>
			</mat-select>
			<mat-spinner matSuffix diameter="20" *ngIf="loading"></mat-spinner>
		</mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions class="d-flex flex-column align-items-stretch">
  <button mat-raised-button class="mb-2 text-center" (click)="clearCountryState()" mat-dialog-close>
		<fa-icon [icon]="['fas', 'globe-americas']"></fa-icon>
		Ver todo Globalmente
	</button>
  <button mat-raised-button (click)="assignCountryState()" class="m-0 p-0 text-center" color="primary" [disabled]="form.invalid" mat-dialog-close>
		<fa-icon [icon]="['fas', 'flag']"></fa-icon>
		Ver todo de "{{form.get('country').value ? form.get('country').value['name'] : '?'}}"
	</button>
</mat-dialog-actions>
