<mat-dialog-content>

  <h5 mat-dialog-title>¿Estas seguro?</h5> 

</mat-dialog-content>

<mat-dialog-actions>
  
  <button mat-button [mat-dialog-close]="true">Si</button>
  <button mat-button [mat-dialog-close]>No</button>

</mat-dialog-actions>