
<h5>Cambiar estatus de la cotización</h5>
<mat-nav-list>

  <a mat-list-item (click)="onChange(CotizationStatus.SOLD)">
    <div class="d-flex">
      <mat-icon class="text-success align-self-center mr-2">check_circle</mat-icon>
      <div>
        <span mat-line><b>Marcar como Vendido</b></span>
        <span mat-line>Si ya culminaste la venta exitosamente con tu cliente</span>
      </div>
    </div>
  </a>

  <a mat-list-item (click)="onChange(CotizationStatus.LOST)">
    <div class="d-flex">
      <mat-icon class="text-secondary align-self-center mr-2">info</mat-icon>
      <div>
        <span mat-line><b>Marcar como Perdido</b></span>
        <span mat-line>Si tu cliente no logró responder los mensajes a tiempo</span>
      </div>
    </div>
  </a>

</mat-nav-list>