.card-carousel-demo .mat-card-image {
  height: 150px; /* adjust as needed */
  object-fit: contain;
  margin: 0;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  width: 100%;
}

.card-carousel-demo ::ng-deep .mat-card-header-text {
  margin: 0;
}
