<mat-card class="m-2 card-carousel-demo" *ngIf="itemCarousel">
  <mat-card-header>
    <h5 class="text-truncate">{{itemCarousel.title}}</h5>
  </mat-card-header>
  <img mat-card-image [src]="itemCarousel.photo.url || 'assets/imgs/defecto.png'" onerror="this.src = 'assets/imgs/defecto.png'" alt="Pyme photo">
  <mat-card-actions class="d-flex align-itemCarousels-center justify-content-end">
    <button mat-button class="text-uppercase" [routerLink]="['/profiles/', itemCarousel.type_profile, itemCarousel.slug]">
      {{visitLabel}}
    </button>
    <app-follow [profileType]="profileTypes" [id]="itemCarousel.id" [followOverride]="itemCarousel.is_followed_by_user"></app-follow>
  </mat-card-actions>
</mat-card>
<mat-card class="m-2 card-carousel-demo" *ngIf="itemSearch">
  <mat-card-header>
    <h5 class="text-truncate">{{itemSearch.title}}</h5>
  </mat-card-header>
  <img mat-card-image [src]="itemSearch.photo.url || 'assets/imgs/defecto.png'" onerror="this.src = 'assets/imgs/defecto.png'" alt="Pyme photo">
  <mat-card-actions class="d-flex align-itemCarousels-center justify-content-end">
    <button mat-button class="text-uppercase" [routerLink]="['/profiles', itemSearch.type_profile, itemSearch.slug]">
      {{visitLabel}}
    </button>
    <app-follow [profileType]="profileTypes || BigwaveUtils.profileTypeToProfileTypes(itemSearch.type_profile)" [id]="itemSearch.id"></app-follow>
  </mat-card-actions>
</mat-card>
