.footer {
    background: #2B3E75;
    padding: 10px;
    color: #fff;
    font-size: 16px;
}

#myFooter {
    background-color: #3f51b5;
    color: white;
    padding-top: 30px;
}
#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 20px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    //margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #A1B8FF;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    //text-align: center;
    //padding-top: 15px;
    //padding-bottom: 15px;
}

#myFooter .social-networks a {
    font-size: 50px;
    color: #A1B8FF;
    //padding: 10px;
    transition: 0.2s;
    //margin-left:10px;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .social-networks .facebook:hover {
    color: white;
}

#myFooter .social-networks .google:hover {
    color: white;
}

#myFooter .social-networks .twitter:hover {
    color: white;
}






