<footer id="myFooter">

  <div class="container">
    <div class="row">

      <div class="col-sm-4 hidden-xs">
        <h2 class="logo"><a href="#"> LOGO </a></h2>
        <a style="cursor:pointer;" (click)="openContactDialog()">Contáctanos</a>
      </div>

      <div class="col-sm-4 text-center d-block d-sm-none">
        <h2 class="logo"><a href="#"> LOGO </a></h2>
        <a style="cursor:pointer;" (click)="openContactDialog()">Contáctanos</a>
      </div>

      <div class="col-sm-4">
        <div class="social-networks text-center">
          
          <a href="#" class="twitter">
            <fa-icon [icon]="['fab','twitter']"></fa-icon>
          </a>
          <a href="https://www.facebook.com/iBigwave/" class="facebook ml-2">
            <fa-icon [icon]="['fab','facebook']"></fa-icon>
          </a>
          <a href="#" class="google ml-2">
            <fa-icon [icon]="['fab','google-plus-square']"></fa-icon>
          </a>
        </div>
      </div>

      <div class="col-sm-4 hidden-xs">
        <div class="text-right">
          <h5>Informacion adicional</h5>
          <ul>
            <li><a style="cursor:pointer;" (click)="openPoliticsDialog()">Politicas de privacidad</a></li>
            <li><a style="cursor:pointer;" href="#">Descarga nuestra app movil</a></li>
            <li><a style="cursor:pointer;" href="#">Publicidad</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer text-center" style="margin-top:-10px;">
    Bigwave - Copyright &copy; 2018
  </div>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>