<ng-container *ngIf="product">
  <mat-card class="m-2 card-carousel-demo">
    <img mat-card-image (click)="goDetail(product.attributes.type_profile, product.attributes.productable.id, product.id)"
         class="cursor-pointer" [src]="product.attributes.cover.url || 'assets/imgs/defecto.png'" onerror="this.src = 'assets/imgs/defecto.png'" alt="Pyme photo">
    <mat-card-content>
      <h6 class="text-capitalize text-truncate my-1">{{product.attributes.name}}</h6>
      <p class="text-secondary my-1">{{product.attributes.price | currency}}</p>
      <div fxLayout="row" fxLayoutAlign="start center" matTooltip="Ir al perfil de este vendedor"
           class="my-1 cursor-pointer text-primary" (click)="goToProfile(product.attributes.type_profile, product.attributes.productable.id)">
        <mat-icon style="font-size: 1.8em">{{iconographyProfile.get(product.attributes.type_profile)}}</mat-icon>
        <small class="ml-1 text-truncate font-weight-bold">
          {{product.attributes.productable.name}}
        </small>
      </div>
    </mat-card-content>
    <mat-card-actions class="d-flex align-items-center justify-content-between">
      <app-cart-button [product]="product.attributes"></app-cart-button>
      <app-like [id]="toNumber(product.id)" [price]="product.attributes.price"></app-like>
    </mat-card-actions>
  </mat-card>
</ng-container>
<ng-container *ngIf="globalSearchProduct">
  <mat-card class="m-2 card-carousel-demo">
    <img mat-card-image  matTooltip="Ver el producto" (click)="goDetail(globalSearchProduct.type_profile, globalSearchProduct.productable.id, globalSearchProduct.id)"
         class="cursor-pointer" [src]="globalSearchProduct.cover?.url || 'assets/imgs/defecto.png'" onerror="this.src = 'assets/imgs/defecto.png'" alt="Pyme photo">
    <mat-card-content>
      <h6 class="text-capitalize text-truncate my-1">{{globalSearchProduct.name}}</h6>
      <p class="text-secondary my-1">{{globalSearchProduct.price | currency}}</p>
      <div fxLayout="row" fxLayoutAlign="start center" matTooltip="Ir al perfil de este vendedor" class="my-1 cursor-pointer text-primary" (click)="goToProfile(globalSearchProduct.type_profile, globalSearchProduct.productable.id)">
        <mat-icon style="font-size: 1.8em">{{iconographyProfile.get(globalSearchProduct.type_profile)}}</mat-icon>
        <small class="ml-1 text-truncate font-weight-bold">
          {{globalSearchProduct.productable.title}}
        </small>
      </div>

    </mat-card-content>
    <mat-card-actions class="d-flex align-items-center justify-content-between">
      <app-cart-button [product]="globalSearchProduct"></app-cart-button>
      <app-like [id]="toNumber(globalSearchProduct.id)" [price]="globalSearchProduct.price"></app-like>
    </mat-card-actions>
  </mat-card>
</ng-container>
