<div class="container">

	<mat-nav-list>
		<div>
			<div class="container-fluid">
				<div class="row">
					<h1 class="col col-6 col-md-8 col-lg-9" mat-subheader>Productos</h1>
					<button mat-raised-button class="col col-6 col-md-4 col-lg-3" color="primary" (click)="openCreateProduct()"
									style="margin-bottom: 15px">Agregar Producto</button>
				</div>

				<hr>
				<div class="row">

					<div class="col col-lg-2">
						<button mat-raised-button color="primary"
										style="margin-bottom: 15px" (click)="oderByPrice()">Ordenar por precio</button>
					</div>

					<div class="col col-lg-2">
						<button mat-raised-button color="primary"
										style="margin-bottom: 15px" (click)="orderByStatusActive()">Mostrar Activos</button>
					</div>

					<div class="col col-lg-2">
						<button mat-raised-button color="primary"
										style="margin-bottom: 15px" (click)="orderByStatusDesactive()">Mostrar Desactivos</button>
					</div>

					<div class="col col-lg-2">
						<button mat-raised-button color="primary"
										style="margin-bottom: 15px" (click)="getMyProducts()">Mostrar Todos</button>
					</div>

					<div class="col col-lg-4">
						<form #searchProducts="ngForm" (ngSubmit)="searchProduct()">
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="Busqueda" aria-label="Busqueda" aria-describedby="button-addon2"
											 [(ngModel)]="search" name="search">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="submit" id="button-addon2">
										Buscar
									</button>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>

			<mat-divider></mat-divider>
			<mat-spinner style="margin:150px auto;" mode="indeterminate" *ngIf="generalLoading"></mat-spinner>
			<div>
				<div *ngFor="let product of myProducts">
					<mat-list-item>
						<img matListAvatar [src]="product.attributes.cover.url || 'assets/imgs/defecto.png'" onerror="this.src = 'assets/imgs/defecto.png'" alt="...">

						<p matLine>
							{{product.attributes.name}}
						</p>

						<p class="ml-5 col-2 mt-0 mb-0">
							Cantidad: {{product.attributes.stock}}
						</p>

						<p class="pl-0 col-2 mt-0 mb-0">
							Precio: {{product.attributes.price}}{{product.attributes.currency}}
						</p>

						<button mat-icon-button *ngIf="product.wished">
							<mat-icon mat-list-icon color="accent">favorite_border</mat-icon>
						</button>

						<button mat-icon-button (click)="deleteProduct(product)"
										matTooltip="Borrar">
							<mat-icon mat-list-icon>delete</mat-icon>
						</button>

						<button mat-icon-button (click)="openEditProduct(product.id)"
										matTooltip="Editar">
							<mat-icon mat-list-icon>border_color</mat-icon>
						</button>

						<mat-slide-toggle class="ml-2"
															[matTooltip]="(product.attributes.status) ? 'Desactivar' : 'Activar'"
															[(ngModel)]="product.attributes.status"
															[checked]="product.attributes.status"
															(click)="changeStatus(product.id)">
						</mat-slide-toggle>

					</mat-list-item>
					<mat-divider></mat-divider>
				</div>
			</div>
		</div>

		<mat-card class="mt-5" *ngIf="!hasProducts">

			<div class="row">

				<div class="col-md-2">
					<img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/dolly-512.png" height="120" width="120"
							 alt="">
				</div>
				<div class="col-md-10">
					<mat-card-header class="d-flex">
						<h4 class="mr-auto mb-0 align-self-center">Sin productos aún, crea tu primer producto</h4>

						<button class="float-right" color="primary" mat-raised-button (click)="openCreateProduct()">Empezar</button>
					</mat-card-header>
					<mat-card-content class="mt-4">
						<p>Agrega y edita tus productos. puedes añadir multiples imagenes por productos, asignar los productos a
							categorias, borrarlos y reordenarlos</p>
					</mat-card-content>
				</div>
			</div>

		</mat-card>

	</mat-nav-list>

</div>
