<h2 mat-dialog-title>Nueva Publicación</h2>
<div mat-dialog-content>

	<div class="d-flex flex-column">
		<form [formGroup]="form">
			<div class="image-wrapper m-1">
				<input type="file" #file (change)="onSelectFile($event)" accept="image/*" class="d-none">
				<div (click)="file.click()" class="d-flex justify-content-center align-items-center border rounded cursor-pointer" style="height: 150px;">
					<img *ngIf="banner" [src]="banner" alt="product">
					<mat-icon *ngIf="!banner" class="icon-banner">photo_camera</mat-icon>
				</div>
			</div>
			<mat-form-field class="w-100 m-2">
				<mat-label>Título de la Publicación</mat-label>
				<input matInput formControlName="title" placeholder="Escriba un título">
			</mat-form-field>
			<mat-form-field class="w-100 m-2">
				<mat-label>Contenido de la publicación</mat-label>
				<textarea matInput rows="4" formControlName="content" placeholder="El contenido que describirá tu publicación"></textarea>
			</mat-form-field>
		</form>
	</div>

</div>
<div mat-dialog-actions class="justify-content-around">
	<ng-container *ngIf="!loading; else isLoadingTmpl">
	<button type="button" mat-button (click)="close()">
		Cancelar
	</button>
	<button type="button" mat-button (click)="save()">
		Guardar
	</button>
</ng-container>
	<ng-template #isLoadingTmpl>
		<mat-spinner diameter="40"></mat-spinner>
	</ng-template>
</div>
