<div class="container mt-5">

  <h3 class="text-center">¡Centro de Ayuda de BigWave!</h3>
  <p class="text-muted text-center">Busca nuestros articulos de ayuda para asi encontrar respuestas a tus preguntas, de
    igual forma puedes revisar nuestros articulos mas buscados.</p>

  <hr class="ml-5 mr-5">

  <div class="row" style="margin-top:80px;">

    <div class="offset-md-2 col-md-8">

      <mat-card>

        <form>
          <div class="form-container">
            <mat-form-field>
              <input matInput placeholder="¿Como podemos ayudarte?">
            </mat-form-field>
          </div>
        </form>

      </mat-card>

    </div>
  </div>

  <br>
  <br>
  <h3>Articulos más buscados</h3>
  <hr>
  <div class="row">

    <div class="col-sm-4 list">
      <strong>Contacto</strong>
      <ul>
        <li><a style="cursor:pointer;" (click)="openContactDialog()">Contáctanos</a></li>
        <li><a>Gestiona con exito tus productos</a></li>
        <li><a>Crea una tienda a la perfección</a></li>
        <li><a>Tipos de profiles disponibles</a></li>
      </ul>
    </div>

    <div class="col-sm-4">
      <div class="list">
        <strong>Acceso Rápido</strong>
        <ul>
            <li><a style="cursor:pointer;" (click)="openContactDialog()">Contáctanos</a></li>
            <li><a>Gestiona con exito tus tiendas</a></li>
            <li><a>Genera ingresos</a></li>
            <li><a>Consigue mayores visitas</a></li>
          </ul>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="list">
        <strong>Extras</strong>
        <ul>
          <li><a (click)="openPoliticsDialog()">Politicas de privacidad</a></li>
          <li><a href="#">Descarga nuestra app movil</a></li>
          <li><a href="#">Publicidad</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>