<h2 mat-dialog-title>¿Desea Continuar?</h2>
<mat-dialog-content>
	<app-alert-generic-message message="Para poder continuar con la operación deberá suministrar su contraseña por seguridad."></app-alert-generic-message>

  <form [formGroup]="form" class="mt-2">
    <mat-form-field fxFlex>
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="Ingrese su contraseña" [type]="!hide ? 'text' : 'password'" formControlName="current_password" required>
      <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error>
        <span *ngIf="form.get('current_password').hasError('required')">Este campo es requerido</span>
        <span *ngIf="form.get('current_password').hasError('minlength')">Debe tener al menos 8 carácteres</span>
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-center">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [disabled]="form.invalid" (click)="onConfirm()">Sí</button>
</mat-dialog-actions>
