<div class="container">

  <h3 class="text-center">¡Pronto! Gestiona a tu cliente facilmente</h3>

  <hr class="ml-5 mr-5">

  <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-512.png" alt="" height="300" class="center-block" style="margin:10px auto;display:block;margin-top:120px;">

</div>