<ng-container [formGroup]="form">
	<ng-container formArrayName="items">
		<ng-container [formGroupName]="index">
			<div class="row m-1">
				<div class="col-md-3 col-12 d-flex justify-content-center align-items-center">
					<h6 class="text-capitalize m-2">{{detail.name}}</h6>
				</div>
				<div class="col-md-3 col-12 d-flex flex-column justify-content-center align-items-center">
					<ng-container *ngIf="!getProductById(detail.product_id).options.length; else Options">
						No hay Opciones.
					</ng-container>

					<ng-template #Options>
						<ng-container *ngFor="let option of getProductById(detail.product_id).options">
							<ng-container *ngIf="isAdmin || isSoldOrLost; else isNotAdmin">
								<mat-form-field class="p-1 w-100">
									<mat-select [placeholder]="option.name" [formControlName]="option.id.toString()">
										<mat-option *ngFor="let value of option.values" [value]="value">
											{{value}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</ng-container>
							<ng-template #isNotAdmin>
								<mat-form-field class="p-1 w-100">
									<input matInput type="text" readonly [placeholder]="option.name" [formControlName]="option.id.toString()">
								</mat-form-field>
							</ng-template>
						</ng-container>
					</ng-template>
				</div>
				<div class="col-md-3 col-12 d-flex flex-row flex-wrap justify-content-center align-items-center">
					<button mat-icon-button *ngIf="isAdmin && !isSoldOrLost" (click)="increaseOrDecrease(false, index)" [disabled]="getControlByIndex(index).get('quantity').value <= 1">
						<mat-icon>remove_circle_outline</mat-icon>
					</button>
					<span>{{getControlByIndex(index).get('quantity').value}}</span>
					<button mat-icon-button *ngIf="isAdmin && !isSoldOrLost" (click)="increaseOrDecrease(true, index)" [disabled]="getControlByIndex(index).get('quantity').value === getProductById(detail.product_id).stock">
						<mat-icon>add_circle_outline</mat-icon>
					</button>
				</div>
				<div class="col-md-3 col-12 d-flex justify-content-center align-items-center">
					<button mat-raised-button color="warn" class="flex-fill m-2" [disabled]="!isAdmin || isSoldOrLost" [mat-menu-trigger-for]="dismiss">
						<mat-icon>delete_forever</mat-icon>
						Eliminar
					</button>

					<mat-menu #dismiss="matMenu" xPosition="before" yPosition="above" overlapTrigger="true">
						<div class="p-3 d-flex flex-column justify-content-center align-items-center text-center" *ngIf="getControlsCount() > 1; else noDeleteTmpl">
							<h4>¿Desea eliminar el producto?</h4>
							<mat-divider class="w-100"></mat-divider>
							<p>Ten en cuenta que lorem ipsum dolor sit amet, consecur dis amet sit put.</p>
							<button mat-button (click)="deleteItem(index)">Entendido</button>
						</div>

						<ng-template #noDeleteTmpl>
							<div class="p-3 d-flex flex-column justify-content-center align-items-center text-center">
								<h4 class="text-info">Advertencia</h4>
								<mat-divider class="w-100"></mat-divider>
								<p>Ya no pueden ser elíminados mas productos de la cotización, si desea puede eliminar la cotización por su cuenta</p>
							</div>
						</ng-template>
					</mat-menu>
				</div>
			</div>
			<mat-divider class="mx-2"></mat-divider>
		</ng-container>

	</ng-container>
</ng-container>

