$white: #f9f9f9;
$primary: #3f51b5;
$secondary: #e83e8c;
$success: #28a745;
$info: #00adb5;
$warning: #d4aa00;
$danger: #f33535;
$light: #0079c5;
$dark: #1d1e30;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "~@ngx-share/button/themes/modern/modern-dark-theme";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

$font-family: 'Muli', sans-serif !important;

body {
  background: white !important;
}

button {
  outline: none !important;
}

.cursor-pointer{
  cursor: pointer !important;
}

.only-xs {
  display: none !important;
}

@media (min-width: 0px) and (max-width: 767px) {

  .hidden-xs {
    display: none !important;
  }

  .only-xs {
    display: inline-block !important;
  }

}

.spacer {
  flex: 1 1 auto;
}

.slick-slide {
  outline: none;
}
.icon-like-content {
  padding: 5px 10px;
}
/*No funciona*/
mat-checkbox ::ng-deep .mat-pseudo-checkbox-checked::after{
  top: 2px;
  left: 1px;
  width: 10px;
  height: 5px;
  border-left: 2px solid currentColor;
  transform: rotate(-45deg);
  opacity: 1;
}

.section {
  width: 100%;
  min-height: 300px;
  height: auto;
  padding: 20px 20px 40px 20px;
  background: #fafafa;
  margin-top: 20px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.section-title {
  color: #666;
  font-weight: 100;
}

.card {
  background: #fafafa;
  min-height: 300px;
  width: 100%;
  /* background: linear-gradient(to right, #3f51b5, #0074c1); */
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.action-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54) !important;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

.bw-b-primary {
  background: #3f51b5 !important;
}

.bw-b-pink {
  background: #f24182 !important;
}

.bw-b-yellow {
  background: #ffab40 !important;
}

.bw-b-white {
  background: white !important;
}

app-detail-product {
  background-color: white !important;
}

.pointer {
  cursor: pointer;
}

// Fuentes
// @jyacot

$text-color-primary: #4a4a4a;
$text-color-secondary: #828282;
$text-color-pink: #f24182;

body,
info-card,
span:not(.mat-icon),
button {
  font-family: $font-family;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $text-color-primary;
  font-family: $font-family;
}

p {
  color: $text-color-secondary;
}

.bigwave-container {
  position: absolute;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.trucate{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.logo-avatar {
  border-radius: 50%;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  height: 150px;
  width: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover{
    filter: drop-shadow(3px 3px 4px gray);
  }

  img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
