.error-code {
	font-size: 8em;
	line-height: 1;
	margin-bottom: 16px;
	font-weight: 800;

	.code{
		background: linear-gradient(to bottom, #303F9F 0%, #A43F9B 56%, #FF8067 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.message {
	font-size: 24px;
	color: rgba(0, 0, 0, 0.54);
	text-align: center;
}

.back-link {
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	color: #007bff !important;

	&:hover{
		text-decoration: none;
	}
}
