<div class="container-fluid h-100">
	<div class="d-flex justify-content-center flex-column h-100 align-items-center">

		<div class="error-code d-flex flex-row align-items-center justify-content-center">
			<div class="code">{{code}}</div>
			<mat-icon class="code" *ngIf="code === 404; else otherIcon" inline>web_asset</mat-icon>
			<ng-template #otherIcon>
				<mat-icon class="code" inline>sentiment_very_dissatisfied</mat-icon>
			</ng-template>

		</div>
		<div class="message" *ngIf="code === 404; else someWeirdHappened">Lo sentimos pero no pudimos encontrar la página que ha solicitado</div>
		<ng-template #someWeirdHappened>
			<div class="message">Ha ocurrido un error inesperado, le invitamos que vuelva a intentarlo mas tarde</div>
		</ng-template>

		<a class="back-link" [routerLink]="'/'">Volver a Inicio</a>
		<a class="back-link mt-1" (click)="location.back()">Volver a la página anterior</a>

	</div>
</div>
