<h1 mat-dialog-title>Conceder Deseo</h1>
<div mat-dialog-content>
	<form [formGroup]="form">
		<mat-form-field class="w-100 mb-3">
			<mat-label>Mensaje</mat-label>
			<textarea matInput placeholder="¿Que quieres decir?" formControlName="message"></textarea>
			<mat-error>Este campo es obligatorio</mat-error>
		</mat-form-field>

		<mat-form-field class="w-100 mb-2">
			<mat-label>Fecha límite</mat-label>
			<input matInput [matDatepicker]="limit" placeholder="Seleccione" formControlName="limit_date" [min]="currentDate">
			<mat-datepicker-toggle matSuffix [for]="limit"></mat-datepicker-toggle>
			<mat-datepicker #limit></mat-datepicker>
		</mat-form-field>

		<mat-form-field class="w-100 mb-2">
			<mat-label>Precio Especial</mat-label>
			<mat-icon matPrefix>attach_money</mat-icon>
			<input matInput type="number" min="0" formControlName="special_price">
			<mat-error>
				<span *ngIf="form.get('special_price').hasError('required')">Este campo es requerido</span>
				<span *ngIf="form.get('special_price').hasError('min')">El valor mínimo es 0 (Gratuito)</span>
			</mat-error>
		</mat-form-field>

		<mat-form-field class="w-100">
			<mat-label>Código de Descuento</mat-label>
			<input matInput formControlName="claim_code">
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions class="justify-content-center align-items-center">
	<mat-spinner diameter="30" *ngIf="loading; else noLoadingTmpl"></mat-spinner>
	<ng-template #noLoadingTmpl>
		<button mat-button mat-dialog-close>
			Cerrar
		</button>
		<button mat-button [disabled]="form.invalid" (click)="answer()">
			Conceder
		</button>
	</ng-template>
</div>
