<div fxLayout="column" class="mx-4" fxFlex>
  <h5 fxFlexAlign="end">Cargando... <b *ngIf="uploadingBarProgress">({{uploadingBarProgress}}%)</b></h5>
  <mat-progress-bar [mode]="!uploadingBarProgress ? 'indeterminate': uploadingBarProgress === 100 ? 'query': 'determinate'" [value]="uploadingBarProgress" ></mat-progress-bar>
</div>
