<app-no-data-aviable-display
	*ngIf="!data.length; else treeTmpl"
	title="No hay datos"
	content="No existe información para mostrar en este momento">
</app-no-data-aviable-display>

<ng-template #treeTmpl>
	<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree-generic">
		<!-- This is the tree node template for leaf nodes -->
		<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
			<li class="mat-tree-node pl-2">
				<span class="font-weight-bold cursor-pointer" (click)="onSelect(node)">
					{{node.name}}
				</span>
			</li>
		</mat-tree-node>
		<!-- This is the tree node template for expandable nodes -->
		<mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
			<li>
				<div class="mat-tree-node">
					<button mat-icon-button matTreeNodeToggle>
						<mat-icon class="mat-icon-rtl-mirror">
							{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
						</mat-icon>
					</button>
					<span class="font-weight-bold cursor-pointer" (click)="onSelect(node)">
					{{node.name}}
				</span>
				</div>
				<ul [class.d-none]="!treeControl.isExpanded(node)">
					<ng-container matTreeNodeOutlet></ng-container>
				</ul>
			</li>
		</mat-nested-tree-node>
	</mat-tree>
</ng-template>
