.top-banner {
  background: url('../../../../../assets/imgs/profiles.png') no-repeat center center
  transparent;
  background-size: cover;
  display: table;
  width: 100%;
  text-align: center;
}

.top-banner-inner-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.top-banner-title {
  font-size: 1.5em;
  font-weight: 200;
}

.top-sub-line {
  height: 67px;
  background: #f4f4f4;
  text-align: center;
}

.mat-form-custom {
  // background: #a1a3ac;
  padding: 0px 12px;
  margin-right: 20px;
  border-left: 5px solid #ffab40;
  width: 20%;
  //border-radius: 5px;
}

.mat-form-custom:hover {
  background: #dfecf3;
}


.list-p li {
  list-style-type: none;
  display: inline;
  padding-right: 5px;
}

.list-p li img {
  width: 100px;
  height: 80px;
}

.list-profiles {
  margin-top: 2%;
  text-align: center;
}

.tex-izq {
  text-align: left;
  margin-left: 5%;
}

.wrapper {
  display: grid;
  align-self: center;
  grid-template-columns: 100px 100px 100px 100px;
  grid-auto-rows: minmax(80px, auto);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  margin-left: 2%;
  margin-right: 2%;
}

.cate-list {
  margin: 2px;
  margin-left: 12%;
}

.cate-item {
  margin: 1px;
}

.container-card a:hover {
  text-decoration: none;
}

.section-card-container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.section-card-container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  cursor: hand;
}

.card {
  background: #fafafa;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-height: 120px;
  width: 100%;
}

@media (max-width: 768px) {
  .icon-poss {
    position: absolute;
  }

  .mat-sidenav {
    max-width: 80%!important; 
    left: 0px !important;
    position: absolute !important;
    top: 0px !important;
  } 

  h1.example-app-name {
    text-align: left !important;
  }
}


.example-container {
  display: flex;
	flex-direction: column;
	//position: absolute;
	//top: 243px;
	bottom: 0;
	left: 0;
	right: 0;
}

.example-card {
  box-shadow:none !important;
}

.example-imgen {
  width: 100%;
  height: 50%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-header-image {
  background-size: cover;
}

h1.example-app-name {
  margin-left: 8px;
  text-align: center;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-sidenav {
	border-right: none !important;
  min-width: 20%;
  max-width: 20%;
  padding-left: 10px; 
  padding-top: 10px;
	padding-right: 10px;
}

.example-toolbar {
  background: white;
  padding-top: 14px;
}