<div class="container-fluid" style="background: white;" [class.example-is-mobile]="mobileQuery.matches">

    <div class="row example-toolbar">

        <div class="col-md-1 col-3">
            <button mat-icon-button (click)="snav.toggle()" color="primary">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <div class="col-md-11 col-9">
            <h1 *ngIf="!mobileQuery.matches" class="example-app-name">Perfiles y categorías</h1>
            <h1 *ngIf="mobileQuery.matches" class="example-app-name">Perfiles</h1>
        </div>

    </div>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">

        <mat-sidenav #snav [opened]="mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="126">

            <dt *ngIf="categorySelected || OrderName != undefined">
                Filtrado por:
            </dt>

            <mat-chip-list *ngIf="categorySelected" style="display: flex; margin-top: 5px">
                <mat-chip [color]="'accent'" [selectable]="true" [removable]="true">
                    {{categorySelected.name.length <= 28 ? categorySelected.name : categorySelected.name.slice(0, 25)+'...' }}
                    <mat-icon matChipRemove (click)="remove_category()">
                        cancel
                    </mat-icon>
                </mat-chip>
            </mat-chip-list>

            <mat-chip-list *ngIf="OrderName != undefined" style="display: flex; margin-top: 5px">
                <mat-chip [color]="accent" [selectable]="true" [removable]="true">
                    Ordenado de la {{OrderName}}
                    <mat-icon matChipRemove (click)="remove_order()">
                        cancel
                    </mat-icon>
                </mat-chip>
            </mat-chip-list>

            <mat-tree [dataSource]="dataSource3" [treeControl]="treeControl3">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" style="cursor: pointer" (click)="logNode(node)">
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <dd>{{node.name}}</dd>
                    <button mat-icon-button disabled></button>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                    <dt>{{node.name}}</dt>
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name"
                        style="left: 6%">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl3.isExpanded(node) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                        </mat-icon>
                    </button>
                </mat-tree-node>
            </mat-tree>

            <mat-checkbox *ngFor="let prof of profileList; let i = index" [(ngModel)]="profileList[i].state"
                (change)="profileType()" [disabled]="Disable_profil[i]">
                <mat-icon style="position: sticky; top: 29%;">{{iconography.get(profileList[i].id)}}
                </mat-icon>
                {{prof.name}}
            </mat-checkbox>

            <mat-tree [dataSource]="dataSource2" [treeControl]="treeControl2">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" style="cursor: pointer" (click)="logNode_category(node)">
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <dd>{{node.name}}</dd>
                    <button mat-icon-button disabled></button>

                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                    <dt>{{node.name}}</dt>
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl2.isExpanded(node) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                        </mat-icon>
                    </button>
                </mat-tree-node>
            </mat-tree>

        </mat-sidenav>

        <mat-sidenav-content style="min-width: 80%; min-height: 750px; background: white;">

            <mat-spinner diameter="200" *ngIf="loadingProfile" style="margin:50px auto;" mode="indeterminate">
            </mat-spinner>

            <div class="container-fluid" *ngIf="!loadingProfile">

                <div class="row" style="padding: 10px; background: white;">
                    <div class="col-md-8">
                        <nav class="navbar navbar-white .bg-white">
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" [(ngModel)]="filtro" name="filtrado"
                                    placeholder="Search" aria-label="Search">
                            </form>
                        </nav>
                    </div>
                </div>

                <div class="row" *ngIf="!loadingProfile">
                    <mat-card class="col-md-3 example-card"
                        *ngFor="let prof of profiles | profilesCategory:page_size:page_number:OrderName:filtro; let j = index">
                        <mat-card-header>
                            <mat-card-title style="text-align: center;">{{prof.title | truncar : 21}}</mat-card-title>
                        </mat-card-header>
                        <img class="example-imgen" *ngIf="prof.photo != null" [src]="prof.photo"
                            (click)="viewDetail(prof)">
                        <img class="example-imgen" *ngIf="prof.photo == null" src="assets/imgs/backgroundProfile.png"
                            (click)="viewDetail(prof)">
                        <mat-card-actions style="text-align: center">
                            <app-follow [profileType]='prof.type_profile' [id]="prof.id"></app-follow>
                        </mat-card-actions>
                    </mat-card>
                </div>

                <div class="row" *ngIf="tamano >= 1 && filtro == ''">
                    <mat-paginator [length]="tamano" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions"
                        (page)="handlePage($event)">
                    </mat-paginator>
                </div>

            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>

</div>
