<mat-spinner *ngIf="loading; else list" class="m-auto"></mat-spinner>
<ng-template #list>
	<ng-container *ngIf="items.length || profilesGlobalSearch.length; else noOpts">
		<button class="button-absolute" style="left: 0" mat-icon-button (click)="owlList.prev()">
			<mat-icon>keyboard_arrow_left</mat-icon>
		</button>
		<owl-carousel-o [options]="options" #owlList>
			<ng-container *ngIf="items">
        <ng-container *ngFor="let item of items">
          <ng-template carouselSlide>
            <app-generic-profile-item [itemCarousel]="item" [profileTypes]="profileType" [visitLabel]="visitLabel"></app-generic-profile-item>
          </ng-template>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="profilesGlobalSearch">
        <ng-container *ngFor="let item of profilesGlobalSearch">
          <ng-template carouselSlide>
            <app-generic-profile-item [itemSearch]="item" [profileTypes]="profileType" [visitLabel]="visitLabel"></app-generic-profile-item>
          </ng-template>
        </ng-container>
      </ng-container>
		</owl-carousel-o>
		<button class="button-absolute" style="right: 0" mat-icon-button (click)="owlList.next()">
			<mat-icon>keyboard_arrow_right</mat-icon>
		</button>
	</ng-container>
	<ng-template #noOpts>
		<app-no-data-aviable-locale></app-no-data-aviable-locale>
	</ng-template>
</ng-template>
