@import './variables';

.dropdown-html{
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.carousel-img-home {
    max-height: 2003px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container > * {
    width: 100%;
}


.item-filters .ui-tree {
    border: 0px solid #c8c8c8;
    background-color: transparent;
    color: #333333;
    padding: 0;
}

.item-filters .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight{
    background-color: #c4c3c3;
    
}
  